{{ $smallsrc := resources.Get "img/ads/bitdefender/bitwarden-business-320x50.jpeg" }}
{{ $smallsrcpermalink := replace $smallsrc.RelPermalink ".jpeg" "" }}
{{ $small := ($smallsrc.Resize "320x50 webp q80") }}
  {{ $smallfilename := printf "%s_%dx%d.%s" $smallsrcpermalink $small.Width $small.Height "webp" | urlize }}
  {{ $smallrenamedimage := $small | resources.Copy $smallfilename }}
  {{ $optimizedsmall := $smallrenamedimage.Permalink }}   
{{ $mediumsrc := resources.Get "img/ads/bitdefender/bitwarden-business-728x90.jpeg" }}
{{ $mediumsrcpermalink := replace $mediumsrc.RelPermalink ".jpeg" "" }}
{{ $medium := ($mediumsrc.Resize "728x90 webp q80") }}
  {{ $mediumfilename := printf "%s_%dx%d.%s" $mediumsrcpermalink $medium.Width $medium.Height "webp" | urlize }}
  {{ $mediumrenamedimage := $medium | resources.Copy $mediumfilename }}
  {{ $optimizedmedium := $mediumrenamedimage.Permalink }} 

<style>
  /* Styles for the image at different screen sizes */
  .bitdefender-business-ad-lazy-image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 10px auto;
  }

  /* Hide the image for viewports smaller than 300px */
  @media (max-width: 299px) {
    .bitdefender-business-ad-lazy-image {
      display: none;
    }
  }

  /* Styles for the image at 728x90 */
  @media (min-width: 728px) {
    .bitdefender-business-ad-lazy-image {
      width: 728px;
      height: 90px;
    }
  }

  /* Styles for the image at 468x60 */
  @media (min-width: 320px) and (max-width: 727px) {
    .bitdefender-business-ad-lazy-image {
      width: 320px;
      height: 50px;
    }
  }
</style>

<a
  href="https://bitdefender.f9tmep.net/c/4563632/1488528/4466"
  target="_blank"
  rel="noopener sponsored"
  title="bitdefender Ad"
  id="bitdefender-business-ad-lazy"
  class="bitdefender-business-ad-lazy-link"
>
  <picture>
    <source
      srcset="{{ $optimizedmedium }}"
      media="(min-width: 728px)"
    />
    <source
      srcset="{{ $optimizedsmall }}"
      media="(min-width: 468px)"
    />
    <img
      src="{{ $optimizedsmall }}"
      alt="bitdefender Ad"
      class="bitdefender-business-ad-lazy-image"
      fetchpriority="low"
      loading="lazy"
    />
  </picture>
</a>
