{{ $smallsrc := resources.Get "img/ads/orangewebsite/animation_468x60.gif" }}
{{ $smallsrcpermalink := replace $smallsrc.RelPermalink ".gif" "" }}
{{ $small := ($smallsrc.Resize "468x60 gif q90") }}
  {{ $smallfilename := printf "%s_%dx%d.%s" $smallsrcpermalink $small.Width $small.Height "gif" | urlize }}
  {{ $smallrenamedimage := $small | resources.Copy $smallfilename }}
  {{ $optimizedsmall := $smallrenamedimage.Permalink }}   
{{ $mediumsrc := resources.Get "img/ads/orangewebsite/animation_728x90.gif" }}
{{ $mediumsrcpermalink := replace $mediumsrc.RelPermalink ".gif" "" }}
{{ $medium := ($mediumsrc.Resize "728x90 gif q90") }}
  {{ $mediumfilename := printf "%s_%dx%d.%s" $mediumsrcpermalink $medium.Width $medium.Height "gif" | urlize }}
  {{ $mediumrenamedimage := $medium | resources.Copy $mediumfilename }}
  {{ $optimizedmedium := $mediumrenamedimage.Permalink }}  

<style>
  /* Styles for the image at different screen sizes */
  .orangewebsite-ad-eager-image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 10px auto;
  }

  /* Hide the image for viewports smaller than 300px */
  @media (max-width: 465px) {
    .orangewebsite-ad-eager-image {
      display: none;
    }
  }

  /* Styles for the image at 728x90 */
  @media (min-width: 728px) {
    .orangewebsite-ad-eager-image {
      width: 728px;
      height: 90px;
    }
  }

  /* Styles for the image at 468x60 */
  @media (min-width: 468px) and (max-width: 727px) {
    .orangewebsite-ad-eager-image {
      width: 468px;
      height: 60px;
    }
  }
</style>

<a
  href="https://affiliate.orangewebsite.com/idevaffiliate.php?id=12501_0_1_5"
  target="_blank"
  rel="noopener sponsored"
  title="OrangeWebsite Ad"
  id="orangewebsite-ad-eager"
  class="orangewebsite-ad-eager-link"
  data-instant
>
  <picture>
    <source
      srcset="{{ $optimizedmedium }}"
      media="(min-width: 728px)"
    />
    <source
      srcset="{{ $optimizedsmall }}"
      media="(min-width: 468px)"
    />
    <img
      src="{{ $optimizedsmall }}"
      alt="Web hosting in Iceland - OrangeWebsite.com"
      class="orangewebsite-ad-eager-image"
      fetchpriority="low"
      loading="lazy"
      style="border:0px"
    />
  </picture>
</a>
