{{ $tinysrc := resources.Get "img/ads/pawnsapp/earn_money_general_300x300.png" }}
{{ $tinysrcpermalink := replace $tinysrc.RelPermalink ".png" "" }}
{{ $tiny := ($tinysrc.Resize "450x375 gif q90") }}
  {{ $tinyfilename := printf "%s_%dx%d.%s" $tinysrcpermalink $tiny.Width $tiny.Height "webp" | urlize }}
  {{ $tinyrenamedimage := $tiny | resources.Copy $tinyfilename }}
  {{ $optimizedtiny := $tinyrenamedimage.Permalink }}   
{{ $smallsrc := resources.Get "img/ads/pawnsapp/earn_money_general_468x60.png" }}
{{ $smallsrcpermalink := replace $smallsrc.RelPermalink ".png" "" }}
{{ $small := ($smallsrc.Resize "468x60 gif q90") }}
  {{ $smallfilename := printf "%s_%dx%d.%s" $smallsrcpermalink $small.Width $small.Height "webp" | urlize }}
  {{ $smallrenamedimage := $small | resources.Copy $smallfilename }}
  {{ $optimizedsmall := $smallrenamedimage.Permalink }}   
{{ $mediumsrc := resources.Get "img/ads/pawnsapp/earn_money_general_728x90.png" }}
{{ $mediumsrcpermalink := replace $mediumsrc.RelPermalink ".png" "" }}
{{ $medium := ($mediumsrc.Resize "728x90 gif q90") }}
  {{ $mediumfilename := printf "%s_%dx%d.%s" $mediumsrcpermalink $medium.Width $medium.Height "webp" | urlize }}
  {{ $mediumrenamedimage := $medium | resources.Copy $mediumfilename }}
  {{ $optimizedmedium := $mediumrenamedimage.Permalink }}  

<style>
  /* Styles for the image at different screen sizes */
  .pawnsapp-ad-eager-image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 10px auto;
  }

  /* Hide the image for viewports smaller than 300px */
  @media (max-width: 420px) {
    .pawnsapp-ad-eager-image {
      display: none;
    }
  }

  /* Styles for the image at 728x90 */
  @media (min-width: 728px) {
    .pawnsapp-ad-eager-image {
      width: 728px;
      height: 90px;
    }
  }

  /* Styles for the image at 468x60 */
  @media (min-width: 468px) and (max-width: 727px) {
    .pawnsapp-ad-eager-image {
      width: 468px;
      height: 60px;
    }
  }

  /* Styles for the image at 300x250 */
  @media (min-width: 420px) and (max-width: 467px) {
    .pawnsapp-ad-eager-image {
      width: 450px;
      height: 375px;
    }
  }
</style>

<a
  href="https://pawns.app/?r=sos"
  target="_blank"
  rel="noopener sponsored"
  title="pawnsapp Ad"
  id="pawnsapp-ad-eager"
  class="pawnsapp-ad-eager-link"
>
  <picture>
    <source
      srcset="{{ $optimizedmedium }}"
      media="(min-width: 728px)"
    />
    <source
      srcset="{{ $optimizedsmall }}"
      media="(min-width: 468px)"
    />
    <source
      srcset="{{ $optimizedtiny }}"
      media="(min-width: 420px)"
    />
    <img
      src="{{ $optimizedtiny }}"
      alt="pawnsapp.com"
      class="pawnsapp-ad-eager-image"
      fetchpriority="low"
      loading="lazy"
      style="border:0px"
    />
  </picture>
</a>
