{{ $tinysrc := resources.Get "img/ads/pawnsapp/earn_money_general_300x300.png" }}
{{ $tinysrcpermalink := replace $tinysrc.RelPermalink ".gif" "" }}
{{ $tiny := ($tinysrc.Resize "255x212 gif q90") }}
  {{ $tinyfilename := printf "%s_%dx%d.%s" $tinysrcpermalink $tiny.Width $tiny.Height "gif" | urlize }}
  {{ $tinyrenamedimage := $tiny | resources.Copy $tinyfilename }}
  {{ $optimizedtiny := $tinyrenamedimage.Permalink }}   

  <style>
    /* Styles for the container holding the image */
    .pawnsapp-ad-eager-floating-container {
      position: fixed;
      bottom: 20px;
      left: 20px;
      z-index: 9999;
      border-radius: 10px; /* Adding rounded corners with a value of 10px */
      overflow: hidden; /* This ensures the image stays within the rounded container */
    }
    
    /* Styles for the image */
    .pawnsapp-ad-eager-floating-image {
      display: block;
      max-width: 100%;
      height: auto;
    }
  
    /* Hide the image for viewports smaller than 300px */
    @media (max-width: 900px) {
      .pawnsapp-ad-eager-floating-container {
        display: none;
      }
    }
  
    /* Styles for the image at 300x250 */
    @media (min-width: 901px) {
      .pawnsapp-ad-eager-floating-image {
        width: 255px;
        height: 212px;
      }
    }
  </style>
  
  <a
    href="https://affiliate.pawnsapp.com/idevaffiliate.php?id=12501_0_1_5"
    target="_blank"
    rel="noopener sponsored"
    title="pawnsapp Ad"
    id="pawnsapp-ad-eager-floating"
    class="pawnsapp-ad-eager-floating-link pawnsapp-ad-eager-floating-container"
    data-instant
  >
    <picture>
      <source
        srcset="{{ $optimizedtiny }}"
        media="(min-width: 721px)"
      />
      <img
        src="{{ $optimizedtiny }}"
        alt="pawnsapp.com"
        class="pawnsapp-ad-eager-floating-image"
        fetchpriority="high"
        loading="eager"
      />
    </picture>
  </a>
  