{{ $tinysrc := resources.Get "img/ads/presearch/ban-3.jpg" }}
{{ $tinysrcpermalink := replace $tinysrc.RelPermalink ".jpg" "" }}
{{ $tiny := ($tinysrc.Resize "255x212 webp q80") }}
  {{ $tinyfilename := printf "%s_%dx%d.%s" $tinysrcpermalink $tiny.Width $tiny.Height "webp" | urlize }}
  {{ $tinyrenamedimage := $tiny | resources.Copy $tinyfilename }}
  {{ $optimizedtiny := $tinyrenamedimage.Permalink }}   

  <style>
    /* Styles for the container holding the image */
    .presearch-ad-eager-floating-container {
      position: fixed;
      bottom: 20px;
      left: 20px;
      z-index: 9999;
      border-radius: 10px; /* Adding rounded corners with a value of 10px */
      overflow: hidden; /* This ensures the image stays within the rounded container */
    }
    
    /* Styles for the image */
    .presearch-ad-eager-floating-image {
      display: block;
      max-width: 100%;
      height: auto;
    }
  
    /* Hide the image for viewports smaller than 300px */
    @media (max-width: 900px) {
      .presearch-ad-eager-floating-container {
        display: none;
      }
    }
  
    /* Styles for the image at 300x250 */
    @media (min-width: 901px) {
      .presearch-ad-eager-floating-image {
        width: 255px;
        height: 212px;
      }
    }
  </style>
  
  <a
    href="https://presearch.com/signup?rid=3518896"
    target="_blank"
    rel="noopener sponsored"
    title="Presearch Ad"
    id="presearch-ad-eager-floating"
    class="presearch-ad-eager-floating-link presearch-ad-eager-floating-container"
  >
    <picture>
      <source
        srcset="{{ $optimizedtiny }}"
        media="(min-width: 721px)"
      />
      <img
        src="{{ $optimizedtiny }}"
        alt="Presearch Ad"
        class="presearch-ad-eager-floating-image"
        fetchpriority="high"
        loading="eager"
      />
    </picture>
  </a>
  