{{ $tinysrc := resources.Get "img/ads/startmail/startmail_2_500x500.png" }}
{{ $tinysrcpermalink := replace $tinysrc.RelPermalink ".png" "" }}
{{ $tiny := ($tinysrc.Resize "450x webp q90") }}
  {{ $tinyfilename := printf "%s_%dx%d.%s" $tinysrcpermalink $tiny.Width $tiny.Height "webp" | urlize }}
  {{ $tinyrenamedimage := $tiny | resources.Copy $tinyfilename }}
  {{ $optimizedtiny := $tinyrenamedimage.Permalink }}   
{{ $smallsrc := resources.Get "img/ads/startmail/startmail_468x60.png" }}
{{ $smallsrcpermalink := replace $smallsrc.RelPermalink ".png" "" }}
{{ $small := ($smallsrc.Resize "468x webp q80") }}
  {{ $smallfilename := printf "%s_%dx%d.%s" $smallsrcpermalink $small.Width $small.Height "webp" | urlize }}
  {{ $smallrenamedimage := $small | resources.Copy $smallfilename }}
  {{ $optimizedsmall := $smallrenamedimage.Permalink }}   
{{ $mediumsrc := resources.Get "img/ads/startmail/startmail_728x90.png" }}
{{ $mediumsrcpermalink := replace $mediumsrc.RelPermalink ".png" "" }}
{{ $medium := ($mediumsrc.Resize "728x webp q80") }}
  {{ $mediumfilename := printf "%s_%dx%d.%s" $mediumsrcpermalink $medium.Width $medium.Height "webp" | urlize }}
  {{ $mediumrenamedimage := $medium | resources.Copy $mediumfilename }}
  {{ $optimizedmedium := $mediumrenamedimage.Permalink }} 

<style>
  /* Styles for the image at different screen sizes */
  .startmail-ad-eager-image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 10px auto;
  }

  /* Hide the image for viewports smaller than 300px */
  @media (max-width: 420px) {
    .startmail-ad-eager-image {
      display: none;
    }
  }

  /* Styles for the image at 728x90 */
  @media (min-width: 728px) {
    .startmail-ad-eager-image {
      width: 728px;
      height: 90px;
    }
  }

  /* Styles for the image at 468x60 */
  @media (min-width: 468px) and (max-width: 727px) {
    .startmail-ad-eager-image {
      width: 468px;
      height: 60px;
    }
  }

  /* Styles for the image at 300x250 */
  @media (min-width: 300px) and (max-width: 467px) {
    .startmail-ad-eager-image {
      width: 450px !important;
      height: 450px !important;
    }
  }
</style>

<a
  href="https://www.startmail.com/en/partner/?ref=sos&tap_s=3999900-469b6c&tm_undefined=undefined"
  target="_blank"
  rel="noopener sponsored"
  title="startmail Ad"
  id="startmail-ad-eager"
  class="startmail-ad-eager-link"
>
  <picture>
    <source
      srcset="{{ $optimizedmedium }}"
      media="(min-width: 728px)"
    />
    <source
      srcset="{{ $optimizedsmall }}"
      media="(min-width: 468px)"
    />
    <source
      srcset="{{ $optimizedtiny }}"
      media="(min-width: 450px)"
    />
    <img
      src="{{ $optimizedtiny }}"
      alt="startmail Ad"
      class="startmail-ad-eager-image"
      fetchpriority="low"
      loading="lazy"
    />
  </picture>
</a>
