{{ $tinysrc := resources.Get "img/ads/startmail/startmail_2_500x500.png" }}
{{ $tinysrcpermalink := replace $tinysrc.RelPermalink ".png" "" }}
{{ $tiny := ($tinysrc.Resize "255x webp q100") }}
  {{ $tinyfilename := printf "%s_%dx%d.%s" $tinysrcpermalink $tiny.Width $tiny.Height "webp" | urlize }}
  {{ $tinyrenamedimage := $tiny | resources.Copy $tinyfilename }}
  {{ $optimizedtiny := $tinyrenamedimage.Permalink }}   

  <style>
    /* Styles for the container holding the image */
    .startmail2-ad-eager-floating-container {
      position: fixed;
      bottom: 20px;
      left: 20px;
      z-index: 9999;
      border-radius: 10px; /* Adding rounded corners with a value of 10px */
      overflow: hidden; /* This ensures the image stays within the rounded container */
    }
    
    /* Styles for the image */
    .startmail2-ad-eager-floating-image {
      display: block;
      max-width: 100%;
      height: auto;
    }
  
    /* Hide the image for viewports smaller than 300px */
    @media (max-width: 900px) {
      .startmail2-ad-eager-floating-container {
        display: none;
      }
    }
  
    /* Styles for the image at 300x250 */
    @media (min-width: 901px) {
      .startmail2-ad-eager-floating-image {
        width: 255px;
        height: 255px;
      }
    }
  </style>
  
  <a
    href="https://www.startmail.com/en/partner/?ref=sos&tap_s=3999900-469b6c&tm_undefined=undefined"
    target="_blank"
    rel="noopener sponsored"
    title="startmail2 Ad"
    id="startmail2-ad-eager-floating"
    class="startmail2-ad-eager-floating-link startmail2-ad-eager-floating-container"
  >
    <picture>
      <source
        srcset="{{ $optimizedtiny }}"
        media="(min-width: 721px)"
      />
      <img
        src="{{ $optimizedtiny }}"
        alt="startmail2 ad"
        class="startmail2-ad-eager-floating-image"
        fetchpriority="high"
        loading="eager"
      />
    </picture>
  </a>
  