{{ $bannersrc := resources.Get "img/ads/signalandsteel/signalandsteel_728x90_ad.webp" }}
{{ $bannersrcpermalink := replace $bannersrc.RelPermalink ".webp" "" }}
{{ $banner := ($bannersrc.Resize "728x90 webp q90") }}
  {{ $bannerfilename := printf "%s_%dx%d.%s" $bannersrcpermalink $banner.Width $banner.Height "webp" | urlize }}
  {{ $bannerrenamedimage := $banner | resources.Copy $bannerfilename }}
  {{ $optimizedbanner := $bannerrenamedimage.Permalink }}   
{{ $smallsrc := resources.Get "img/ads/signalandsteel/signalandsteel_728x90_ad.webp" }}
{{ $smallsrcpermalink := replace $smallsrc.RelPermalink ".webp" "" }}
{{ $small := ($smallsrc.Resize "468x60 webp q90") }}
  {{ $smallfilename := printf "%s_%dx%d.%s" $smallsrcpermalink $small.Width $small.Height "webp" | urlize }}
  {{ $smallrenamedimage := $small | resources.Copy $smallfilename }}
  {{ $optimizedsmall := $smallrenamedimage.Permalink }}   
{{ $tinysrc := resources.Get "img/ads/signalandsteel/signalandsteel_728x90_ad.webp" }}
{{ $tinysrcpermalink := replace $tinysrc.RelPermalink ".webp" "" }}
{{ $tiny := ($tinysrc.Resize "320x40 webp q90") }}
  {{ $tinyfilename := printf "%s_%dx%d.%s" $tinysrcpermalink $tiny.Width $tiny.Height "webp" | urlize }}
  {{ $tinyrenamedimage := $tiny | resources.Copy $tinyfilename }}
  {{ $optimizedtiny := $tinyrenamedimage.Permalink }}  

<style>
  /* Styles for the banner image at different screen sizes */
  .signalandsteel-banner-ad-lazy-image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 10px auto;
  }

  /* Hide the image for viewports smaller than 320px */
  @media (max-width: 420px) {
    .signalandsteel-banner-ad-lazy-image {
      display: none;
    }
  }

  /* Styles for the image at 728x90 */
  @media (min-width: 728px) {
    .signalandsteel-banner-ad-lazy-image {
      width: 728px;
      height: 90px;
    }
  }

  /* Styles for the image at 468x60 */
  @media (min-width: 468px) and (max-width: 727px) {
    .signalandsteel-banner-ad-lazy-image {
      width: 468px;
      height: 60px;
    }
  }

  /* Styles for the image at 320x40 */
  @media (min-width: 420px) and (max-width: 467px) {
    .signalandsteel-banner-ad-lazy-image {
      width: 320px;
      height: 40px;
    }
  }
</style>

<a
  href="https://signalandsteel.com/"
  target="_blank"
  rel="noopener nofollow sponsored"
  title="Signal and Steel Banner Ad"
  id="signalandsteel-banner-ad-lazy"
  class="signalandsteel-banner-ad-lazy-link"
>
  <picture>
    <source
      srcset="{{ $optimizedbanner }}"
      media="(min-width: 728px)"
    />
    <source
      srcset="{{ $optimizedsmall }}"
      media="(min-width: 468px)"
    />
    <source
      srcset="{{ $optimizedtiny }}"
      media="(min-width: 420px)"
    />
    <img
      src="{{ $optimizedtiny }}"
      alt="Signal and Steel"
      class="signalandsteel-banner-ad-lazy-image"
      fetchpriority="low"
      loading="lazy"
      style="border:0px"
    />
  </picture>
</a>