{{ $src := "" }}
{{ $external := false }}
{{ $isSVG := false }}
{{ $isGIF := false }}
{{ if or (findRE "https?://" .Destination) }}
    {{ $src = resources.GetRemote .Destination }}
    {{ $external = true }}
    {{ $isSVG = strings.HasSuffix .Destination ".svg" }}
    {{ $isGIF = strings.HasSuffix .Destination ".gif" }}
{{ else }}
    {{ $src = resources.Get .Destination }}
    {{ $isSVG = strings.HasSuffix $src.RelPermalink ".svg" }}
    {{ $isGIF = strings.HasSuffix $src.RelPermalink ".gif" }}
{{ end }}

{{ $src := "" }}
{{ $external := false }}
{{ if or (findRE "https?://" .Destination) }}
    {{ $src = resources.GetRemote .Destination }}
    {{ $external = true }}
{{ else }}
    {{ $src = resources.Get .Destination }}
{{ end }}

{{ $title := "" }}
{{ if .Text }}
    {{ $title = $.Text | safeHTML }}
{{ else if $src.Params.title }}
    {{ $title = $src.Params.title | safeHTML }}
{{ else if $.Title }}
    {{ $title = $.Title | safeHTML }}
{{ else if $.Page.Params.Title }}
    {{ $title = $.Page.Params.Title | safeHTML }}
{{ end }}

{{ if $isSVG }}
  {{ if $external }}
    <!-- Code for external SVG image -->
    <div itemscope itemtype="https://schema.org/ImageObject">
      <img
        src="{{ $src.Permalink }}"
        data-src="{{ $src.Permalink }}" 
        alt="{{ $title }}" 
        data-sizes="440w"
        loading="lazy"
        itemprop="contentUrl"
        fetchpriority="low"
      >
    </div>

  {{ else }}
    <!-- Code for local SVG image -->
    <div itemscope itemtype="https://schema.org/ImageObject">
      <img
        src="{{ $src.RelPermalink }}"
        data-src="{{ $src.RelPermalink }}" 
        alt="{{ $title }}" 
        data-sizes="440w"
        loading="lazy"
        itemprop="contentUrl"
        fetchpriority="low"
      >
    </div>
  {{ end }}
{{ else if not $isSVG}}
  
  {{ $smallw := default "" }}
  {{ $mediumw := default "" }}
  {{ $largew := default "" }}
  {{ if $isGIF }}
    {{ $smallw = default "500x q80" }}
    {{ $mediumw = default "600x q80" }}
    {{ $largew = default "720x q80" }}
  {{ else if not $isGIF }}
    {{ $smallw = default "500x webp q50" }}
    {{ $mediumw = default "600x webp q50" }}
    {{ $largew = default "720x webp q50" }}
  {{ end }}

  {{ $small := $src.Resize $smallw }}
  {{ $medium := $src.Resize $mediumw }}
  {{ $large := $src.Resize $largew }}
  
  <!-- HTML for troubleshooting -->
  {{ $height := $large.Height}}
  {{ $width := $large.Width}}

  {{ if $external }}
    <!-- Code for external non-SVG image -->
    <div itemscope itemtype="https://schema.org/ImageObject">
      <img
        src="{{ $src.Permalink }}"
        srcset='{{ with $small.RelPermalink }}{{.}} 500w{{ end }}{{ if ge $src.Width "600" }},{{ with $medium.RelPermalink }}{{.}} 600w{{ end }}{{ end }}{{ if ge $src.Width "720" }},{{ with $large.RelPermalink }}{{.}} 720w{{ end }}{{ end }}'
        data-src="{{ $small.RelPermalink }}"  
        data-srcset='{{ with $small.RelPermalink }}{{.}} 500w{{ end }}{{ if ge $src.Width "600" }},{{ with $medium.RelPermalink }}{{.}} 600w{{ end }}{{ end }}{{ if ge $src.Width "720" }},{{ with $large.RelPermalink }}{{.}} 720w{{ end }}{{ end }}' 
        alt="{{ $title }}" 
        data-sizes="440w"
        loading="lazy"
        height="{{ $height }}"
        width="{{ $width }}"
        style="height: auto; width: auto; max-height:600px; max-width:100%; object-fit: contain;"
        itemprop="contentUrl"
        fetchpriority="low"
      >
    </div>
  {{ else }}
    <!-- Code for local non-SVG image -->
    <div itemscope itemtype="https://schema.org/ImageObject">
      <img
        src="{{ $src.RelPermalink }}"
        srcset='{{ with $small.RelPermalink }}{{.}} 500w{{ end }}{{ if ge $src.Width "600" }},{{ with $medium.RelPermalink }}{{.}} 600w{{ end }}{{ end }}{{ if ge $src.Width "720" }},{{ with $large.RelPermalink }}{{.}} 720w{{ end }}{{ end }}'
        data-src="{{ $small.RelPermalink }}" 
        data-srcset='{{ with $small.RelPermalink }}{{.}} 500w{{ end }}{{ if ge $src.Width "600" }},{{ with $medium.RelPermalink }}{{.}} 600w{{ end }}{{ end }}{{ if ge $src.Width "720" }},{{ with $large.RelPermalink }}{{.}} 720w{{ end }}{{ end }}' 
        alt="{{ $title }}" 
        data-sizes="440w"
        loading="lazy"
        height="{{ $height }}"
        width="{{ $width }}"
        style="height: auto; width: auto; max-height:600px; max-width:100%; object-fit: contain;"
        itemprop="contentUrl" 
        fetchpriority="low"
      >
    </div>
  {{ end }}
{{ end }}
