{{ $baseURLs := slice
    "https://simeononsecurity.ch"
    "https://ar.simeononsecurity.ch"
    "https://bn.simeononsecurity.ch"
    "https://ca.simeononsecurity.ch"
    "https://de.simeononsecurity.ch"
    "https://es.simeononsecurity.ch"
    "https://fr.simeononsecurity.ch"
    "https://hi.simeononsecurity.ch"
    "https://it.simeononsecurity.ch"
    "https://ja.simeononsecurity.ch"
    "https://nl.simeononsecurity.ch"
    "https://pa.simeononsecurity.ch"
    "https://pl.simeononsecurity.ch"
    "https://pt.simeononsecurity.ch"
    "https://ro.simeononsecurity.ch"
    "https://ru.simeononsecurity.ch"
    "https://zh.simeononsecurity.ch"
}}

{{ $amazonURLs := slice
    "amazon.com"
    "amzn.to"
    "amazon.co.uk"
    "amazon.de"
    "amazon.fr"
    "amazon.it"
    "amazon.es"
    "amazon.ca"
    "amazon.com.mx"
    "amazon.com.br"
    "amazon.com.au"
    "amazon.co.jp"
    "amazon.in"
    "amazon.nl"
    "amazon.com.tr"
    "amazon.ae"
    "amazon.sa"
    "amazon.cn"
}}

{{ $isBaseURL := false }}
{{ $isAmazonURL := false }}

{{ range $baseURL := $baseURLs }}
    {{ if strings.Contains $.Destination $baseURL }}
        {{ $isBaseURL = true }}
        {{ break }}
    {{ end }}
{{ end }}

{{ range $amazonURL := $amazonURLs }}
    {{ if strings.Contains $.Destination $amazonURL }}
        {{ $isAmazonURL = true }}
        {{ break }}
    {{ end }}
{{ end }}

<a href="{{ .Destination | safeURL }}"{{ with .Title }} title="{{ . }}"{{ end }}
{{ if or (not (strings.Contains $.Destination "http")) $isBaseURL }}
 rel="follow"
{{ else if strings.HasPrefix $.Destination "http" }}
{{ if not $isBaseURL }}
{{ if $isAmazonURL }}
 rel="nofollow noopener noreferrer"
{{ else }}
 rel="noopener noreferrer"
{{ end }}
{{ end }}
{{ end }}>{{ .Text | safeHTML }}</a>