{{ $baseURLs := slice
    "https://simeononsecurity.ch"
    "https://simeononsecurity.com"
    "https://ar.simeononsecurity.ch"
    "https://bn.simeononsecurity.ch"
    "https://ca.simeononsecurity.ch"
    "https://de.simeononsecurity.ch"
    "https://es.simeononsecurity.ch"
    "https://fr.simeononsecurity.ch"
    "https://hi.simeononsecurity.ch"
    "https://it.simeononsecurity.ch"
    "https://ja.simeononsecurity.ch"
    "https://nl.simeononsecurity.ch"
    "https://pa.simeononsecurity.ch"
    "https://pl.simeononsecurity.ch"
    "https://pt.simeononsecurity.ch"
    "https://ro.simeononsecurity.ch"
    "https://ru.simeononsecurity.ch"
    "https://zh.simeononsecurity.ch"
}}

{{ $affiliateURLs := slice
    "amazon.com"
    "amzn.to"
    "amazon.co.uk"
    "amazon.de"
    "amazon.fr"
    "amazon.it"
    "amazon.es"
    "amazon.ca"
    "amazon.com.mx"
    "amazon.com.br"
    "amazon.com.au"
    "amazon.co.jp"
    "amazon.in"
    "amazon.nl"
    "amazon.com.tr"
    "amazon.ae"
    "amazon.sa"
    "amazon.cn"
    "bitdefender.f9tmep.net"
    "joindeleteme.com/refer?coupon="
    "earnapp.com"
    "r.honeygain.me"
    "nextdns.io/?from="
    "affiliate.orangewebsite.com"
    "pawns.app/?r="
    "?rid="
    "?r="
    "?ref="
    "?aff="
    "?from="
    "startmail.com/en/partner/?ref="
    "presearch.com/signup?rid="
    "link.repocket.co"
    "traffmonetizer.com/?aff="
    "https://www.unmineable.com/?ref="
}}

{{ $isBaseURL := false }}
{{ $isAmazonURL := false }}

{{ range $baseURL := $baseURLs }}
    {{ if strings.Contains $.Destination $baseURL }}
        {{ $isBaseURL = true }}
        {{ break }}
    {{ end }}
{{ end }}

{{ range $affiliateURL := $affiliateURLs }}
    {{ if strings.Contains $.Destination $amazonURL }}
        {{ $isaffiliateURL = true }}
        {{ break }}
    {{ end }}
{{ end }}

<span itemscope itemtype="https://schema.org/WebPage">
    <meta itemprop="name" content="{{ .Text }}">
    <meta itemprop="url" content="{{ .Destination | safeURL }}">
    <a href="{{ .Destination | safeURL }}"{{ with .Title }} title="{{ . }}"{{ end }}
    {{ if or (not (strings.Contains $.Destination "http")) $isBaseURL }}
     rel="follow"
    {{ else if strings.HasPrefix $.Destination "http" }}
    {{ if not $isBaseURL }}
    {{ if $isaffiliateURL }}
     rel="nofollow noopener noreferrer sponsored"
    {{ else }}
     rel="noopener noreferrer"
    {{ end }}
    {{ end }}
    {{ end }}>{{ .Text | safeHTML }}</a>
</span>
