{{ $affiliateLink := .Get "link" }}
{{ $productTitle := .Get "title" | default "Product Title" }}
{{ $productImage := .Get "image" }}
{{ $productDescription := .Get "description" }}
{{ $productPrice := .Get "price" }}
{{ $productCurrency := .Get "currency" | default "USD" }}
{{ $amazonID := .Get "amazonID" | default "" }} <!-- Replace with your Amazon Associate ID -->
{{ $src := (printf "https://ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=%s&language=en_US&marketplace=amazon&region=US&placement=%s&asins=%s&show_border=false&link_opens_in_new_window=true" $amazonID $affiliateLink $affiliateLink ) | safeHTML }}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Product",
  "name": "{{ $productTitle }}",
  {{ with $productImage }} "image": "{{ $productImage }}", {{ end }}
  {{ with $productDescription }} "description": "{{ $productDescription }}", {{ end }}
  "offers": {
    "@type": "Offer",
    {{ with $productPrice }} "price": "{{ $productPrice }}", {{ end }}
    {{ with $productPrice }} "priceCurrency": "{{ $productCurrency }}", {{ end }}
    "availability": "http://schema.org/InStock",
    "seller": {
      "@type": "Organization",
      "name": "Amazon.com"
    }
  }
}
</script>

<iframe sandbox="allow-popups allow-scripts allow-modals allow-forms allow-same-origin"
    style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" alt="{{ $productDescription | default $productTitle }}"
    src="{{ $src }}"></iframe>