<meta name="author" content="SimeonOnSecurity"/>
<meta name="revisit-after" content="1 days"/>
<meta name="robots" content="index,follow" content="all"/>
<meta name="distribution" content="article"/>
<meta name="copyright" content="SimeonOnSecurity"/>  
<meta property="og:locale" content="en_US"/>
<meta property="og:site_name" content="SimeonOnSecurity"/>
<meta property="og:image" content="/img/banner.png"/>
<meta property="og:url" content="https://simeononsecurity.ch"/>
<link rel="author" href="https://github.com/simeononsecurity"/>
<link rel="publisher" href="https://github.com/simeononsecurity"/>
<link rel="canonical" href="https://simeononsecurity.ch"/>
<link rel="icon" href="/img/favicon.ico" type="image/x-icon"/>
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
<link rel="alternate" type="application/rss+xml" title="simeononsecurity" href="/sitemap.xml"/>
  
  <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAD9/f0AAAAAAP///wDx8fEA+vr6APz8/ADu7u4A/v7+APDw8AD5+fkA8vLyAAwM6AD7+/sAAAAAAAAAAAAAAAAAEREREREREREREbuxG7sRERERsRuxGxEREREbsRuxERERZxERERFAEREmEREREagREREYK7YhERERESUSYWIRERFnaBYhJkAREVFZNTU1GhEREcERERwRERERG3Z2sRERERG7u7u7EREREbu7u7sRERERG7u7sRERERERERERERHxjwAA4AcAAOAHAADAAwAAgAEAAIABAADAAwAAwAMAAIABAACAAQAAwAMAAMADAADgBwAA4AcAAPAPAAD4HwAA" rel="icon" type="image/x-icon" /> <link href="/favicon.ico" rel="icon" type="image/x-icon" />
  <script data-ad-client="ca-pub-4092442123207538" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-173461240-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-173461240-1');
  ga('set', 'userId', 'USER_ID'); // Set the user ID using signed-in user_id.
  gtag('set', {'user_id': 'USER_ID'}); // Set the user ID using signed-in user_id.
</script>
