<link rel="alternate" type="application/rss+xml" title="simeononsecurity" href="/sitemap.xml"/>

  <script data-ad-client="ca-pub-4092442123207538" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-173461240-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-173461240-1');
  ga('set', 'userId', 'USER_ID'); // Set the user ID using signed-in user_id.
  gtag('set', {'user_id': 'USER_ID'}); // Set the user ID using signed-in user_id.
</script>
