<footer class="footer">
  <div class="footer__inner">
    {{ if $.Site.Copyright }}
      <div class="copyright copyright--user">{{ $.Site.Copyright | safeHTML }}</div>
    {{else}}
	<center>
	  <div><span><a href="/privacypolicy/" target="_blank" rel="noopener">Privacy</a></span></div>
      <div><span><a href="/termsandconditions/" target="_blank" rel="noopener">Terms</a></span></span></div>
      <div><span><a href="/contactus/" target="_blank" rel="noopener">Contact</a></span></span></div>
      <div><span><a href="/sitemap.xml" target="_blank" rel="noopener">Sitemap</a></span></span></div>
	  <div class="copyright">
        <span>© {{ now.Year }}</span>
      </div>
	</center>
    {{end}}
  </div>
</footer>

{{ $opts := dict "noComments" true "minified" true "compact" true }}
{{ $menu := resources.Get "js/menu.js" | js.Build | babel $opts }}
{{ $theme := resources.Get "js/theme.js" | js.Build | babel $opts }}
{{ $prism := resources.Get "js/prism.js" | js.Build | babel $opts }}
<script src="{{ $menu.Permalink }}"></script>
<script src="{{ $theme.Permalink }}"></script>
<script src="{{ $prism.Permalink }}"></script>

{{- partial "extended_footer.html" . }}
