<style>
    #amzn-assoc-ad-661d0b1c-39a5-423e-892e-d08ef6f769de {
        padding: 10px !important;
        background-color: var(--background-color) !important;
        color: var(--color) !important;
    }

    div#amzn-native-ad-0 div.amzn-native-products-list div.amzn-native-product {
        background-color: var(--background-secondary) !important;
    }

    body.dark-theme div#amzn-native-ad-0 div.amzn-native-products-list div.amzn-native-product .amzn-native-product-title-container a {
        color: #a9a9b3 !important;
    }

    div#amzn-native-ad-0 div.amzn-native-products-list div.amzn-native-product .amzn-native-product-title-container a {
        color: black !important;
    }

    div#amzn-native-ad-0 {
        color: var(--color) !important;
    }
</style>

    
<div id="amzn-assoc-ad-661d0b1c-39a5-423e-892e-d08ef6f769de"></div>
<script async src="https://z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=661d0b1c-39a5-423e-892e-d08ef6f769de"></script>
