<style>
  #breadcrumbs {
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
  }

  /* General Breadcrumbs Styles */
  #breadcrumbs,
  .breadcrumb-list,
  .breadcrumb-item,
  .breadcrumb-item a {
    list-style: none;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center; /* Center items vertically */
  }

  .breadcrumbs {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .breadcrumbs li {
    color: var(--color-secondary);
    font-size: 0.9rem;
  }

  .breadcrumbs li:last-child {
    font-weight: bold;
    color: var(--color);
  }

  .breadcrumbs a {
    color: var(--color-secondary);
    text-decoration: none;
  }

  .breadcrumbs a:hover {
    text-decoration: underline;
  }

  /* Dark Theme Styles */
  .dark-theme .breadcrumbs li:last-child {
    color: white;
  }

  .dark-theme .breadcrumbs a {
    color: #C8C8C8;
  }

  /* Mobile Device Styles */
  @media screen and (max-width: 768px) {
    #breadcrumbs,
    .breadcrumb-list,
    .breadcrumb-item,
    .breadcrumb-item a {
      display: inline-block;
      margin: 0;
      padding: 0;
      min-width: 0; /* Reset minimum width */
      align-items: baseline; /* Reset alignment */
    }

    .breadcrumbs li,
    .breadcrumbs a {
      padding: 8px;
      margin-right: 5px; /* Adjust margin for touch-friendliness */
      font-size: 0.8rem; /* Slightly smaller font for mobile */
      white-space: nowrap; /* Prevent text wrapping */
    }

    .breadcrumbs a {
      border: 1px solid var(--color-secondary);
      background-color: var(--color-secondary);
      color: white;
      border-radius: 4px;
      text-align: center;
      transition: background-color 0.2s ease;
    }

    .breadcrumbs a:hover {
      background-color: var(--color);
    }

    /* Allow wrapping on mobile */
    .breadcrumbs {
      white-space: nowrap;
      overflow: auto;
    }
  }
</style>

<nav id="breadcrumbs" aria-label="breadcrumbs">
  <ol class="breadcrumb-list" itemscope itemtype="https://schema.org/BreadcrumbList">
    {{- range $index, $ancestor := .Ancestors.Reverse }}
    <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
      <a href="{{ $ancestor.RelPermalink }}" itemscope itemtype="https://schema.org/WebPage"
      itemprop="item" itemid="{{ $ancestor.RelPermalink }}">
        <span itemprop="name">{{ $ancestor.Title }}</span>
      </a>
      <meta itemprop="position" content="{{ $index }}" />
    </li>
    <li class="breadcrumb-separator">&gt;</li>
    {{- end }}
    <li class="breadcrumb-item active" aria-current="page" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
      <a href="{{ .RelPermalink }}" itemscope itemtype="https://schema.org/WebPage"
      itemprop="item" itemid="{{ .RelPermalink }}">
        <span itemprop="name">{{ .Title }}</span>
      </a>
      <meta itemprop="position" content="{{ len .Ancestors }}" />
    </li>
  </ol>
</nav>


