<nav id="breadcrumbs" aria-label="breadcrumbs" style="display: inline-block; list-style: none; margin: 0; padding: 0;">
    <ol class="breadcrumb-list" style="display: inline-block;">
        {{- range $index, $ancestor := .Ancestors.Reverse }}
            <li class="breadcrumb-item" style="display: inline-block;">
                <a href="{{ $ancestor.RelPermalink }}">{{ $ancestor.Title }}</a>
            </li>
            <li class="breadcrumb-separator" style="display: inline-block;">&gt;</li>
        {{- end }}
        <li class="breadcrumb-item active" aria-current="page" style="display: inline-block;">
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </li>
    </ol>
</nav>
