{{ $affiliateURLs := slice
  "amazon.com"
  "amzn.to"
  "amazon.co.uk"
  "amazon.de"
  "amazon.fr"
  "amazon.it"
  "amazon.es"
  "amazon.ca"
  "amazon.com.mx"
  "amazon.com.br"
  "amazon.com.au"
  "amazon.co.jp"
  "amazon.in"
  "amazon.nl"
  "amazon.com.tr"
  "amazon.ae"
  "amazon.sa"
  "amazon.cn"
  "bitdefender.f9tmep.net"
  "joindeleteme.com/refer?coupon="
  "earnapp.com"
  "r.honeygain.me"
  "nextdns.io/?from="
  "affiliate.orangewebsite.com"
  "pawns.app/?r="
  "?rid="
  "?r="
  "?ref="
  "?aff="
  "?from="
  "startmail.com/en/partner/?ref="
  "presearch.com/signup?rid="
  "link.repocket.co"
  "traffmonetizer.com/?aff="
  "https://www.unmineable.com/?ref="
  "geni.us"
  "/ref/"
  "gnss.store"
}}

{{ $isaffiliateURL := false }}

{{ range $affiliateURL := $affiliateURLs }}
  {{ if or (strings.Contains $.Page.Content $affiliateURL) (in . $.Page.Content) }}
  {{ $isaffiliateURL = true }}
  {{ end }}
{{ end }}

{{ if $isaffiliateURL }}
  <h2>Disclosure and Affiliate Statement:</h2>
  <div class="affiliate-disclosure" style="text-align: center; max-width: 800px; margin: 0 auto; word-wrap: break-word;">
    <p>
      <strong>{{ i18n "affiliatedisclosure"}}:</strong> {{ i18n "affiliatestatement"}} <a href="/affiliate" title="{{ i18n "affiliatedisclosure"}}">{{ i18n "affiliatedisclosurecta"}}</a>
    </p>
  </div>
{{ end }}