{{ $disabledURLs := slice "/about" "/contact" "/terms" "/privacy" "/advertise" "/guest-posts" "/affiliate" }}
{{ $currentPath := .Permalink }}
{{ $disableDisclosure := false }}
{{ range $disabledURLs }}
  {{ if (in $currentPath .) }}
    {{ $disableDisclosure = true }}
  {{ end }}
{{ end }}
{{ if not $disableDisclosure }}
  {{ if not (eq .Params.Comments.enable false) }}
    {{ if and (not .IsHome) (not .IsSection) (.IsPage)}}
        <div class="affiliate-disclosure" style="text-align: center; max-width: 800px; margin: 0 auto; word-wrap: break-word;">
            <p>
            <strong>{{ i18n "affiliatedisclosure"}}:</strong> {{ i18n "affiliatestatement"}} <a href="/affiliate" title="{{ i18n "affiliatedisclosure"}}">{{ i18n "affiliatedisclosurecta"}}</a>
            </p>
        </div>
    {{ end }}
  {{ end }}
{{ end }}


