<div class="sponsor-button" style="display: flex; justify-content: center; align-items: center;">
    <a href="https://github.com/sponsors/simeononsecurity" target="_blank" itemprop="url" style="background-color: var(--background-secondary); color: var(--color); padding: 10px 20px; border-radius: 6px; text-decoration: none; font-weight: bold; display: flex; align-items: center;">
      <span itemprop="name" style="margin: auto;">
        {{ i18n "support_button_text" }}
      </span>
    </a>        
</div>
  