<style>
  .sponsor-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 9999;
  }

  .sponsor-button a {
    background-color: var(--background-secondary);
    color: var(--color);
    padding: 10px 20px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    transition: background-color 0.3s, color 0.3s;
  }

  .sponsor-button a:hover {
    background-color: #fe5186;
  }

  .sponsor-button a span {
    margin: auto;
  }

  @media (max-width: 767px) {
    /* For screens smaller than 768px width (mobile devices) */
    .sponsor-button a::after {
      margin: auto;
    }
  }
</style>

<div class="sponsor-button">
  <a
    href="https://github.com/sponsors/simeononsecurity"
    target="_blank"
    itemprop="url"
    aria-label="{{ i18n "support_button_text" }}"
    class="sponsor-button-link"
  >
    <span itemprop="name">
      {{ i18n "support_button_text" }}
    </span>
  </a>
</div>
<script>
  function yieldToMain(callback) {
    if (typeof callback !== 'function') {
      throw new Error('Callback must be a function.');
    }

    // Using requestIdleCallback for idle callback
    if ('requestIdleCallback' in window) {
      window.requestIdleCallback(() => {
        callback();
      });
    } else {
      // Fallback to using setTimeout with a minimal delay if requestIdleCallback is not available
      setTimeout(() => {
        callback();
      }, 0);
    }
  }

  // Function to handle gtag event tracking
  function sendTrackingEvent(linkUrl) {
    try {
      gtag('event', 'click', {
        'event_category': 'Sponsor Button Click',
        'event_label': linkUrl,
        'event_callback': function () {
          window.location.href = linkUrl;
        }
      });
    } catch (error) {
      console.error('Error sending gtag event:', error);
      window.location.href = linkUrl;
    }
  }

  document.addEventListener('DOMContentLoaded', function () {
    var trackingLinks = document.querySelectorAll('.sponsor-button-link');
    trackingLinks.forEach(function (link) {
      link.addEventListener('click', function (event) {
        event.preventDefault();
        var linkUrl = this.href;
        yieldToMain(function () {
          sendTrackingEvent(linkUrl);
        });
      });
    });
  });
</script>
