{{ $disabledURLs := slice "/about/" "/jobs/" "/contact/" "/tags/" "/terms/" "/privacy/" "/advertise/" "/guest-posts/" "/affiliate/" }}
{{ $currentPath := .Permalink }}
{{ $disableEditButton := false }}
{{ range $disabledURLs }}
  {{ if (in $currentPath .) }}
    {{ $disableEditButton = true }}
  {{ end }}
{{ end }}
{{ if not $disableEditButton }}
  {{ if (not .IsHome)}}
    <a href="{{ replace .File.Path "\\" "/" | printf "https://github.com/simeononsecurity/simeononsecurity.ch/edit/master/content/%s" }}" title="{{ i18n "edittranslation" }}" aria-label="{{ i18n "edittranslation" }}"><button style="background-color: var(--background-secondary); color: var(--color); max-width:100%; max-height:50px;" onmouseover="this.style.backgroundColor='var(--background)'" onmouseout="this.style.backgroundColor='var(--background-secondary)'">{{ i18n "edittranslation" }}</button></a>
    <style>
        .edit-button {
          display: none;
          position: absolute;
          z-index: 999;
          background-color: var(--background-secondary);
          color: var(--color);
          padding: 10px;
          margin-bottom: 25px;
          border-radius: 4px;
          cursor: pointer;
        }
        
        ::selection {
          background-color: #007bff;
          color: white;
        }
        
        ::-moz-selection {
          background-color: #007bff;
          color: white;
        }
      </style>
      
      <script>
          let editButtonVisible = false;
        
          function showEditButton(selection) {
            const editButton = document.querySelector('.edit-button');
            const selectionRect = selection.getRangeAt(0).getBoundingClientRect();
            
            const pageXOffset = window.pageXOffset || document.documentElement.scrollLeft;
            const pageYOffset = window.pageYOffset || document.documentElement.scrollTop;
            
            const top = selectionRect.top + pageYOffset - 50; // Adjust the vertical position
            const left = selectionRect.left + pageXOffset + (selectionRect.width / 2) - 40; // Adjust the horizontal position
            
            editButton.style.top = `${top}px`;
            editButton.style.left = `${left}px`;
            editButton.style.display = 'block';
            editButtonVisible = true;
          }
        
          function hideEditButton() {
            const editButton = document.querySelector('.edit-button');
            editButton.style.display = 'none';
            editButtonVisible = false;
          }
        
          function registerEditButton() {
            document.addEventListener('mouseup', function(event) {
              const selectedText = window.getSelection().toString().trim();
              
              if (selectedText) {
                showEditButton(window.getSelection());
              } else {
                hideEditButton();
              }
            });
            
            document.addEventListener('mousedown', function(event) {
              if (!editButtonVisible) return; // Don't hide if button is already hidden
              
              const editButton = document.querySelector('.edit-button');
              if (!editButton.contains(event.target)) {
                hideEditButton();
              }
            });
            
            document.querySelector('.edit-button').addEventListener('click', function() {
              const currentPageUrl = window.location.href;
              const repositoryBaseUrl = 'https://github.com/simeononsecurity/simeononsecurity.ch';
              const contentPath = 'content';
              
              // Extract the relative path from the current URL
              const relativePath = new URL(currentPageUrl).pathname.replace(/^\//, '');
              
              // Construct the GitHub link
              const githubLink = `${repositoryBaseUrl}/tree/master/${contentPath}/${relativePath}`;
              
              window.open(githubLink, '_blank');
            });
          }
          
          document.addEventListener('DOMContentLoaded', function () {
            yieldToMain(function() {
              registerEditButton();
            }, "background");
          });
        </script>
        
      
      <div class="edit-button">{{ i18n "edittranslation" }}</div>
    {{ end }}
{{ end }}
