{{ $disabledURLs := slice "/about/" "jobs" "/contact/" "/tags/" "/terms/" "/privacy/" "/advertise/" "/guest-posts/" "/affiliate/" }}
{{ $currentPath := .Permalink }}
{{ $disableEditButton := false }}
{{ range $disabledURLs }}
  {{ if (in $currentPath .) }}
    {{ $disableEditButton = true }}
  {{ end }}
{{ end }}
{{ if not $disableEditButton }}
  {{ if (not .IsHome)}}
    <a href="{{ replace .File.Path "\\" "/" | printf "https://github.com/simeononsecurity/simeononsecurity.ch/edit/master/content/%s" }}" title="{{ i18n "edittranslation" }}" aria-label="{{ i18n "edittranslation" }}"><button style="background-color: var(--background-secondary); color: var(--color); max-width:100%; max-height:50px;" onmouseover="this.style.backgroundColor='var(--background)'" onmouseout="this.style.backgroundColor='var(--background-secondary)'">{{ i18n "edittranslation" }}</button></a>
  {{ end }}
{{ end }}
