{{ $title := (or $.Page.Title $.Title $.Site.Title) }}

<script>
function loadGoogleTagManager() {
  var gtagScript = document.createElement('script');
  gtagScript.async = true;
  gtagScript.src = '/p/gtag/js?id=G-PXP72XKLLL';
  gtagScript.fetchpriority = "high";
  document.body.appendChild(gtagScript);
}
document.addEventListener('DOMContentLoaded', function() {
  yieldToMain(function() {
    loadGoogleTagManager();;
  }, "background");
});
</script>
<script> 
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  function configureTracking(){
    gtag('js', new Date());
    gtag('config', 'G-PXP72XKLLL', {
      'anonymize_ip': true,
      'send_page_view': true,
      'currency': 'USD',
      'link_attribution': true,
      'linker': {
        'domains': ['simeononsecurity.ch', 'simeononsecurity.com', 'fr.simeononsecurity.com', 'es.simeononsecurity.com', 'de.simeononsecurity.com', 'hi.simeononsecurity.com', 'bn.simeononsecurity.com', 'ca.simeononsecurity.com', 'it.simeononsecurity.com', 'ja.simeononsecurity.com', 'nl.simeononsecurity.com', 'ro.simeononsecurity.com', 'zh.simeononsecurity.com', 'pa.simeononsecurity.com', 'pt.simeononsecurity.com', 'ru.simeononsecurity.com', 'pl.simeononsecurity.com', 'ar.simeononsecurity.com']
      },
      'transport_type': 'beacon' // Enable navigator.sendBeacon
    });
  }
  document.addEventListener('DOMContentLoaded', function() {
    yieldToMain(function() {
      configureTracking();
    }, "background");
  });
</script>
<script>
// Feature detects Navigation Timing API support.
if (window.performance) {
  // Gets the number of milliseconds since page load
  // (and rounds the result since the value must be an integer).
  var timeSincePageLoad = Math.round(performance.now());

  function sendTrackingEvent() {      
    try {
      // Sends the timing event to Google Analytics.
      gtag('event', 'timing_complete', {
        'name': 'load',
        'value': timeSincePageLoad,
        'event_category': 'JS Dependencies',
        'non_interaction': true
      });
    } catch (error) {
      console.error("Failed to send tracking event:", error);
    }
  }
  yieldToMain(function () {
    sendTrackingEvent();
  }, 'background');
}
</script>