<script>
function loadAdSense() {
  var adClient = "ca-pub-4092442123207538";
  var width = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;

    if (width > 900) {
        var scriptTag = document.createElement('script');
        scriptTag.src = 'https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=' + adClient;
        scriptTag.setAttribute('async', '');
        scriptTag.setAttribute('crossorigin', 'anonymous');
        document.body.appendChild(scriptTag);
    }
}

// Add an event listener to execute the function when the body content is loaded
document.addEventListener('DOMContentLoaded', function () {
  yieldToMain(function() {
    loadAdSense();;
  }, "background");
});
</script>
<script>
  // Step 1: Wait for all content to be loaded
  document.addEventListener("DOMContentLoaded", function() {
    yieldToMain(function() {
      // Execute the fixGoogleIframes function after a timeout (10 seconds in this example)
      var timeoutId = setTimeout(fixGoogleIframes, 10000);

      var googleAdsObserver = new IntersectionObserver(
        function(entries, observer) {
          var allAdsPushed = entries.every(function(entry) {
            return entry.isIntersecting;
          });

          if (allAdsPushed) {
            // If all ads are pushed before the timeout, clear the timeout and execute the function
            clearTimeout(timeoutId);
            fixGoogleIframes();
          }
        },
        { threshold: 1 }
      );

      // Observe all iframes on the page with a src containing "https://googleads.g.doubleclick.net" or a data-google-container-id attribute
      var iframes = document.querySelectorAll(
        'iframe[src*="https://googleads.g.doubleclick.net"], iframe[data-google-container-id]'
      );
      iframes.forEach(function(iframe) {
        googleAdsObserver.observe(iframe);
      });
    }, "background");
  });

  function fixGoogleIframes() {
    try {
      var iframes = document.querySelectorAll(
        'iframe[src*="https://googleads.g.doubleclick.net"], iframe[data-google-container-id]'
      );

      function setAttributes(iframe) {
        var containerId = iframe.getAttribute("data-google-container-id");
        console.log("Setting attributes for iframe:", iframe);
        iframe.setAttribute("title", "google ads");
        iframe.setAttribute("role", "banner");
      }

      iframes.forEach(function(iframe) {
        iframe.setAttribute("title", "google ads");
        iframe.setAttribute("role", "banner");

        if (
          iframe.hasAttribute("data-google-container-id") &&
          iframe.complete
        ) {
          setAttributes(iframe);
        } else {
          iframe.addEventListener("load", function() {
            setAttributes(iframe);
          });
        }
      });
    } catch (error) {
      // Handle any errors that occur during the execution of the code
      console.error("An error occurred:", error);
    }
  }
</script>
