<script
  async
  src="https://securepubads.g.doubleclick.net/tag/js/gpt.js"
></script>
<script
  async
  data-ad-client="ca-pub-4092442123207538"
  src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4092442123207538"
  crossorigin="anonymous"
></script>
<script async>
  let rafId;
  let adLoaded = false;
  const delaySeconds = 0.2;
  const delay = delaySeconds * 1000;

  function loadAd() {
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-4092442123207538",
      enable_page_level_ads: true,
      done_loading: function () {
        var adPlaceholder = document.getElementById("ad-placeholder");
        adPlaceholder.style.visibility = "visible";
      }
    });
    adLoaded = true;
  }

  function refreshAd() {
    loadAd();
    setTimeout(refreshAd, 45000);
  }

  function checkIfAdShouldLoad() {
    if (adLoaded || window.innerHeight + window.scrollY < document.body.offsetHeight) {
      return;
    }
    refreshAd();
    window.removeEventListener("scroll", checkIfAdShouldLoad);
  }

  function debounce(func) {
    if (rafId) {
      cancelAnimationFrame(rafId);
    }
    rafId = requestAnimationFrame(func);
  }

  function throttle(func) {
    if (!rafId) {
      rafId = requestAnimationFrame(() => {
        func();
        rafId = null;
      });
    }
  }

  function handleScroll() {
    debounce(checkIfAdShouldLoad);
  }

  function onPageLoad() {
    lazyLoadAds();
    refreshAd();
    var rafId;

    function handleScroll() {
      cancelAnimationFrame(rafId);
      rafId = requestAnimationFrame(checkIfAdShouldLoad);
    }

    window.addEventListener("scroll", handleScroll, { passive: true });

    refreshAd();
  }

  function lazyLoadAds() {
    var adPlaceholder = document.getElementById("ad-placeholder");

    if (!adPlaceholder) {
      console.error("Ad placeholder element not found.");
      return;
    }

    var observer = new IntersectionObserver(
      function(entries, observer) {
        entries.forEach(function(entry) {
          if (entry.isIntersecting) {
            (adsbygoogle = window.adsbygoogle || []).push({
              google_ad_client: "ca-pub-4092442123207538",
              enable_page_level_ads: true,
              done_loading: function () {
                var adPlaceholder = document.getElementById("ad-placeholder");
                adPlaceholder.style.visibility = "visible";
              }
            });
            observer.unobserve(entry.target);
          } else if (entry.intersectionRatio <= 0) {
            observer.unobserve(entry.target);
          }
        });
      },
      { passive: true }
    );

    try {
      observer.observe(adPlaceholder);
    } catch (error) {
      console.error("Error observing ad placeholder element:", error);
    }
  }

  window.addEventListener("scroll", handleScroll, { passive: true });
  window.addEventListener("load", onPageLoad, { passive: true });
</script>
<script defer>
  window.addEventListener("DOMContentLoaded", function() {
    try {
      var iframes = document.querySelectorAll(
        'iframe[src*="https://googleads.g.doubleclick.net"], iframe[data-google-container-id]'
      );

      iframes.forEach(function(iframe) {
        iframe.setAttribute("title", "google ads");
        iframe.setAttribute("role", "banner");

        if (iframe.hasAttribute("data-google-container-id") && iframe.complete) {
          setAttributes(iframe);
        } else {
          iframe.addEventListener("load", function() {
            setAttributes(iframe);
          });
        }
      });

      function setAttributes(iframe) {
        var containerId = iframe.getAttribute("data-google-container-id");
        iframe.setAttribute("title", "google ads");
        iframe.setAttribute("role", "banner");
      }
    } catch (error) {
      // Handle any errors that occur during the execution of the code
      console.error("An error occurred:", error);
    }
  });
</script>