{{ $randomInt := index (seq 100 999 | shuffle) 0 }}
<div id="ad-placeholder" class="advert-inline" style="max-width: 100%; min-height: 100px; max-height: 360px; padding: 0; position: relative; display: flex; justify-content: center; align-items: center;">
  <ins
    class="adsbygoogle"
    style="display:block; text-align:center;"
    data-ad-layout="in-article"
    data-ad-format="fluid"
    data-ad-client="ca-pub-4092442123207538"
    data-ad-slot="8444676629"
    random-int="{{ $randomInt }}"
  ></ins>
</div>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({});
</script>