<div class="advert-inline" style="min-height: 100px;">
  <ins
    class="adsbygoogle"
    style="display:block; text-align:center;"
    data-ad-layout="in-article"
    data-ad-format="fluid"
    data-ad-client="ca-pub-4092442123207538"
    data-ad-slot="8444676629"
  ></ins>
</div>
<style>
  .advert-inline {
    margin: 6rem 0 4rem 0;
    padding: 1rem 0 1rem;
    border-top: dotted 4px var(--background-secondary);
    border-bottom: dotted 4px var(--background-secondary);
    min-height: 100px;
  }
</style>