{{- with .Page.Params.date -}}
    {{- $postDate := . | default .Page.Date -}}
    {{- $formattedDate := $postDate.Format "2006-01-02" -}}
    {{- $validThrough := $postDate.AddDate 1 0 0 -}}
    <li><strong>Date Posted:</strong> <span itemprop="datePosted">{{ $formattedDate }}</span></li>
    <li><strong>Valid Through:</strong> <span itemprop="validThrough">{{ $validThrough.Format "2006-01-02" }}</span></li>
{{ else }}
    {{- $postDate := now.Format "2006-01-02" -}}
    {{- $validThrough := now.AddDate 1 0 0 -}}
    <li><strong>Date Posted:</strong> <span itemprop="datePosted">{{ $postDate }}</span></li>
    <li><strong>Valid Through:</strong> <span itemprop="validThrough">{{ $validThrough.Format "2006-01-02" }}</span></li>
{{- end -}}
