<script defer>
    const divInstall = document.getElementById('installContainer');
    const butInstall = document.getElementById('butInstall');
    
    // Register the service worker
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', function() {
        navigator.serviceWorker.register('/service-worker.js').then(function(registration) {
          console.log('Service Worker registration successful with scope: ', registration.scope);
        }, function(err) {
          console.log('Service Worker registration failed: ', err);
        });
      });
    }
    
    /**
     * Warn the page must be served over HTTPS
     * The `beforeinstallprompt` event won't fire if the page is served over HTTP.
     * Installability requires a service worker with a fetch event handler, and
     * if the page isn't served over HTTPS, the service worker won't load.
    if (window.location.protocol === 'http:') {
      const requireHTTPS = document.getElementById('requireHTTPS');
      const link = requireHTTPS.querySelector('a');
      link.href = window.location.href.replace('http://', 'https://');
      requireHTTPS.classList.remove('hidden');
    }
     */
</script>