<!-- Native Multiplex ads -->
<!-- Grid-based ad unit that shows content recommendation-style native ads. -->

<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-4092442123207538"
     data-ad-slot="4565141368"></ins>
<script>
     function loadAd() {
          (adsbygoogle = window.adsbygoogle || []).push({});
        }
        window.addEventListener("scroll", function() {
          if (window.innerHeight + window.scrollY >= document.body.offsetHeight) {
            loadAd();
          }
        });
</script>