{{ if or (strings.Contains $.Page.RelPermalink "/articles/") (strings.Contains $.Page.RelPermalink "/github/") (strings.Contains $.Page.RelPermalink "/recommendations/") (strings.Contains $.Page.RelPermalink "/writeups/") (strings.Contains $.Page.RelPermalink "/other/") (strings.Contains $.Page.RelPermalink "/blog/") (strings.Contains $.Page.RelPermalink "/guides/") (strings.Contains $.Page.RelPermalink "/checklists/") }}
  {{- range first 1 (where (where .Site.Pages ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) -}}
    {{- $.Scratch.Set "has_related" true -}}
  {{- end -}}

  {{ if $.Scratch.Get "has_related" }}
    <div id="related-section">
      <div class="related-content">
        <h3>Related Posts</h3>
        <div class="related-posts-list">
          {{- $num_to_show := .Site.Params.related_content_limit | default 4 -}}
          {{ range first $num_to_show (where (where .Site.Pages ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}
          <div class="related">
              {{ if .Params.Cover }}
                {{ $cover := ""}}
                {{ if .Params.UseRelativeCover }}{{ $cover = resources.GetRemote (printf "%s%s" .Permalink .Params.Cover) }}{{ else }}{{ $cover = resources.Get (.Params.Cover) }}{{ end }}
                {{ $permalink := replace $cover.RelPermalink (printf ".%s" $cover.MediaType.SubType) "" }}
                {{ $micro := ($cover.Resize "20x webp q20") }}
                  {{ $microfilename := printf "%s_%dx%d.%s" $permalink $micro.Width $micro.Height "webp" | urlize }}
                  {{ $microrenamedimage := $micro | resources.Copy $microfilename }}
                  {{ $optimizedmicro := $microrenamedimage.Permalink}}   
                {{ $tiny := ($cover.Resize "240x webp q50") }}
                  {{ $tinyfilename := printf "%s_%dx%d.%s" $permalink $tiny.Width $tiny.Height "webp" | urlize }}
                  {{ $tinyrenamedimage := $tiny | resources.Copy $tinyfilename }}
                  {{ $optimizedtiny := $tinyrenamedimage.Permalink}}   
                {{ $small := ($cover.Resize "480x webp q50") }}
                  {{ $smallfilename := printf "%s_%dx%d.%s" $permalink $small.Width $small.Height "webp" | urlize }}
                  {{ $smallrenamedimage := $small | resources.Copy $smallfilename }}
                  {{ $optimizedsmall := $smallrenamedimage.Permalink}}   
                <div class="related-image">
                  <a href="{{ .RelPermalink }}">
                    <picture>
                      <source 
                        srcset="{{ $optimizedsmall }} 480w, {{ $optimizedtiny }} 240w" 
                        sizes="(min-width: 780px) 480px, (min-width: 384px) 240px, 20px, calc(80.53vw - 21px)"
                        media="(min-width: 200px)">
                      <img src="{{ $optimizedmicro }}"
                        alt="{{ .Params.CoverAlt | plainify | default .Title }}"
                        height="731"
                        width="480"
                        loading="lazy"
                      />
                    </picture>  
                  </a>
                  {{ else }}
                  {{ $og_image := "" }}  
                  {{ if .Params.images }}
                    {{ $og_image = index .Params.images 0 | absURL }}
                  {{ else }}
                    {{ $og_image = index $.Site.Params.images 0 | absURL }}
                  {{ end }}
                  <div class="related-image">
                    <a href="{{ .RelPermalink }}">
                      <picture>
                        <img src="{{ $og_image }}"
                          alt="SimeonOnSecurity's Default Banner Image"
                          height="731"
                          width="480"
                          loading="lazy"
                        />
                      </picture>  
                    </a>
                  {{ end }}
            </div>
            <div class="related-info">
              <div class="related-date">
                <time datetime="{{ .Date.UTC.Format "2006-01-02T15:04:05-0700" }}">
                  {{ .Date.Format "Jan 2, 2006" }}
                </time>
              </div>
              <div class="related-title">
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
              </div>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  {{ end }}
{{ end }}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var relatedTitles = document.querySelectorAll('.related-title');
    relatedTitles.forEach(function(title) {
      var link = title.querySelector('a');
      link.addEventListener('click', function(event) {
        event.preventDefault();
        var linkUrl = this.href;
        function sendTrackingEvent() {      
          try {
            gtag('event', 'click', {
              'event_category': 'Related Article',
              'event_label': linkUrl,
              'event_callback': function() {
                window.location.href = linkUrl;
              }
            });
          } catch (error) {
            console.error('Error sending gtag event:', error);
            window.location.href = linkUrl;
          }
        }
        yieldToMain(function() {
          sendTrackingEvent();
        }, "background");
      });
    });
  });
</script>
