{{ $enabledBlogURLs := slice "/blog" }} 
{{ $currentPath := .Permalink }} 
{{ $enableBlogSchema := false }} 
{{ range $enabledBlogURLs}} 
  {{ if (in $currentPath .) }} 
    {{ $enableBlogSchema = true }} 
  {{ end }} 
{{ end }}
{{ if .IsHome -}}
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "WebSite",
    "name": "{{ .Site.Title }}{{ if ne .Site.LanguageCode "en" }} in {{ .Site.LanguageCode | upper }}{{ end }}",
    "url": "{{ .Site.BaseURL }}",
    "description": "{{ .Site.Params.description }}",
    "sameAs": ["{{ .Site.Params.twitter }}", "{{ .Site.Params.github }}"],
    "thumbnailUrl": "{{ .Site.Params.Logo | absURL }}",
    "logo": "{{ .Site.Params.Logo | absURL }}",
    "license": "{{ .Site.Params.copyright }}",
    "potentialAction": {
      "@type": "SearchAction",
      "target": {
        "@type": "EntryPoint",
        "urlTemplate": "{{ .Site.Params.BaseURL }}/search?q={search_term_string}"
      },
      "query-input": "required name=search_term_string"
    },
    "inLanguage": ["en","fr","es","de","hi","ar","bn","ca","it","ja","nl","ro","zh","pa","pt","ru","pl"]
  }
</script>
{{ else if $enableBlogSchema }}
{{ $author := or (.Params.author) (.Site.Author.name) }}
{{ $org_name := .Site.Title }}
{{ $og_image := "" }}
{{ if .Params.cover }}
  {{ $cover := resources.Get (.Params.Cover) }}
  {{ if .Params.UseRelativeCover }}{{ $cover = resources.GetRemote (printf "%s%s" .Permalink .Params.Cover) }}{{ end }}
  {{ $optimizedimage := ($cover.Resize "1200x630 webp q80") }}
  {{ $permalink := replace $cover.RelPermalink (printf ".%s" $cover.MediaType.SubType) "" }}
  {{ $filename := printf "%s_%dx%d.%s" $permalink $optimizedimage.Width $optimizedimage.Height "webp" | urlize }}
  {{ $renamedimage := $optimizedimage | resources.Copy $filename }}
  {{ $og_image = $renamedimage.Permalink}}
{{ else }}
  {{ if .Params.images }}
    {{ $og_image = index .Params.images 0 | absURL }}
  {{ else }}
    {{ $og_image = index $.Site.Params.images 0 | absURL }}
  {{ end }}
<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "BlogPosting",
      "articleSection": "{{ .Section }}",
      "name": "{{ .Title | safeJS }}",
      "headline": "{{ .Title | safeJS }}",
      "alternativeHeadline": "{{ .Params.lead }}",
      "description": "{{ if .Description }}{{ .Description | safeJS }}{{ else }}{{if .IsPage}}{{ .Summary  }}{{ end }}{{ end }}",
      "inLanguage": {{ .Site.LanguageCode | default "en-us" }},
      "isFamilyFriendly": "true",
      "mainEntityOfPage": {
          "@type": "WebPage",
          "@id": "{{ .Permalink }}"
      },
      "author" : {
          "@type": "Person",
          "name": "{{ $author }}",
          "additionalName": "{{ $author }}",
          "url": "{{ .Site.BaseURL }}"
      },
      "creator" : {
          "@type": "Person",
          "name": "{{ $author }}"
      },
      "accountablePerson" : {
          "@type": "Person",
          "name": "{{ $author }}"
      },
      "copyrightHolder" : "{{ $org_name }}",
      "copyrightYear" : "{{ .Date.Format "2006" }}",
      "dateCreated": "{{ .Date.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
      "datePublished": "{{ .PublishDate.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
      "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
      "publisher":{
          "@type":"Organization",
          "name": "{{ $org_name }}",
          "url": "{{ .Site.BaseURL }}",          
          "logo": {
              "@type": "ImageObject",
              "url": "{{ .Site.Params.logo | absURL }}",
              "width":"32",
              "height":"32"
          }
      },
      "image": "{{ $og_image }}",
      "url" : "{{ .Permalink }}",
      "genre": [{{ if .Params.genre }} {{ range $index, $genre := .Params.genre }}{{ if $index }},{{ end }}"{{ $genre }}"{{ end }}{{ else }} {{ range $index, $tag := .Params.tags }}{{ if $index }},{{ end }}"{{ $tag }}"{{ end }}{{ end }}],
      "keywords" : [ {{ range $index, $tag := .Params.tags }}{{ if $index }}, {{ end }}"{{ $tag }}" {{ end }}],
      "speakable": {
        "@type": "SpeakableSpecification",
        "xpath": [
            "//title",
            "//meta[@name='description']/@content",
            "//body"
        ]
    }    
  }
  </script>
{{ end }}
{{ else if .IsPage }} 
{{ $author := or ($.Page.Params.author) ($.Site.Author.name) }}
{{ $authorURL := "" }}
{{ if .Params.Author }}
  {{ with .Params.Author }}
      {{ $authorURL = printf "/authors/%s" (lower $.Params.Author) | absURL }}
      {{ $author = or ($.Page.Params.author) ($.Site.Author.name) }}
  {{ else }}
      {{ $authorURL =  ("/authors/simeononsecurity"| absURL) }}
      {{ $author = "simeononsecurity" }}
  {{ end }}
{{ end }}
{{ $org_name := .Site.Title }}
{{ $og_image := "" }}
{{ if .Params.cover }}
  {{ $cover := resources.Get (.Params.Cover) }}
  {{ if .Params.UseRelativeCover }}{{ $cover = resources.GetRemote (printf "%s%s" .Permalink .Params.Cover) }}{{ end }}
  {{ $optimizedimage := ($cover.Resize "1200x630 webp q80") }}
  {{ $permalink := replace $cover.RelPermalink (printf ".%s" $cover.MediaType.SubType) "" }}
  {{ $filename := printf "%s_%dx%d.%s" $permalink $optimizedimage.Width $optimizedimage.Height "webp" | urlize }}
  {{ $renamedimage := $optimizedimage | resources.Copy $filename }}
  {{ $og_image = $renamedimage.Permalink}}
{{ else }}
  {{ if .Params.images }}
    {{ $og_image = index .Params.images 0 | absURL }}
  {{ else }}
    {{ $og_image = index $.Site.Params.images 0 | absURL }}
  {{ end }}
{{ end }}
{{ $cover := resources.Get (.Params.Cover)}}
{{ if .Params.UseRelativeCover }}
  {{ $cover = resources.GetRemote (printf "%s%s" .Permalink .Params.Cover) }}
{{ end }}
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Article",
    "articleSection": "{{ .Section }}",
    "name": "{{ .Title | safeJS }}",
    "headline": "{{ .Title | safeJS }}",
    "alternativeHeadline": "{{ .Params.lead }}",
    "description": "{{ if .Description }}{{ .Description | safeJS }}{{ else }}{{if .IsPage}}{{ .Summary  }}{{ end }}{{ end }}",
    "inLanguage": "{{ .Site.LanguageCode | default "en-us" }}",
    "isFamilyFriendly": true,
    "author": {
      "@type": "Person",
      "name": "{{ $author }}",
      "additionalName": "{{ $author }}",
      "url": "{{ .Site.BaseURL }}"
    },
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{ .Permalink }}"
    },
    "publisher": {
      "@type": "Organization",
      "name": "{{ $org_name }}",
      "url": "{{ .Site.BaseURL }}",
      "logo": {
        "@type": "ImageObject",
        "url": "{{ .Site.Params.logo | absURL }}",
        "width": "32",
        "height": "32"
      }
    },
    "articleBody": {{ .RawContent | safeHTML | safeJS | htmlUnescape | plainify }},
    "datePublished": "{{ .PublishDate.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
    "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
    "image": {
      "@type": "ImageObject",
      "contentUrl": "{{ $og_image }}",
      "license": "https://simeononsecurity.ch/termsandconditions/",
      "acquireLicensePage": "https://simeononsecurity.ch/contactus/",
      "creditText": "SimeonOnSecurity",
      "creator": {
        "@type": "Person",
        "name": "{{ $author }} ",
        "url": "{{ $authorURL }}"
      },
      "copyrightNotice": "SimeonOnSecurity"
    },
    "url": "{{ .Permalink }}",
    "genre": [{{ if .Params.genre }} {{ range $index, $genre := .Params.genre }}{{ if $index }},{{ end }}"{{ $genre }}"{{ end }}{{ else }} {{ range $index, $tag := .Params.tags }}{{ if $index }},{{ end }}"{{ $tag }}"{{ end }}{{ end }}],
    "keywords": [{{ range $index, $tag := .Params.tags }}{{ if $index }},{{ end }}"{{ $tag }}"{{ end }}],
    "speakable": {
      "@type": "SpeakableSpecification",
      "xpath": [
        "//title",
        "//meta[@name='description']/@content",
        "//body"
      ]
    }
  }  
</script>
{{ end }}