{{ $enabledURLs := slice "/about" "/contact" "/terms" "/privacy" }} 
{{ $currentPath := .Permalink }} 
{{ $enableSchema := false }} 
{{ range $enabledURLs}} 
  {{ if (in $currentPath .) }} 
    {{ $enableSchema = true }} 
  {{ end }} 
{{ end }}
{{ if $enableSchema }}
<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "{{ .Title }}",
      "name": "{{ .Title }}",
      "url": "{{ .Permalink }}",
      "description": "{{ .Params.description }}",
      "sameAs": ["{{ .Site.Params.twitter }}", "{{ .Site.Params.github }}"],
      "thumbnailUrl": "{{ .Site.Params.Logo | absURL }}",
      "logo": "{{ .Site.Params.Logo | absURL }}",
      "license": "{{ .Site.Params.copyright }}"
    }
  </script>
{{ else if .IsHome -}}
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "WebSite",
    "name": "{{ .Site.Title }}",
    "name": "{{ .Site.Title }}",
    "url": "{{ .Site.BaseURL }}",
    "description": "{{ .Site.Params.description }}",
    "sameAs": ["{{ .Site.Params.twitter }}", "{{ .Site.Params.github }}"],
    "thumbnailUrl": "{{ .Site.Params.Logo | absURL }}",
    "logo": "{{ .Site.Params.Logo | absURL }}",
    "license": "{{ .Site.Params.copyright }}"
  }
</script>
{{ else if .IsPage }} 
{{ $author := or (.Params.author) (.Site.Author.name) }}
{{ $org_name := .Site.Title }}
{{ $og_image := "" }}
{{ if .Params.cover }}
  {{ $cover := resources.Get (.Params.Cover) }}
  {{ if .Params.UseRelativeCover }}{{ $cover = resources.GetRemote (printf "%s%s" .Permalink .Params.Cover) }}{{ end }}
  {{ $optimizedimage := ($cover.Resize "1200x630 webp q80") }}
  {{ $permalink := replace $cover.RelPermalink (printf ".%s" $cover.MediaType.SubType) "" }}
  {{ $filename := printf "%s_%dx%d.%s" $permalink $optimizedimage.Width $optimizedimage.Height "webp" | urlize }}
  {{ $renamedimage := $optimizedimage | resources.Copy $filename }}
  {{ $og_image = $renamedimage.Permalink}}
{{ else }}
  {{ if .Params.images }}
    {{ $og_image = index .Params.images 0 | absURL }}
  {{ else }}
    {{ $og_image = index $.Site.Params.images 0 | absURL }}
  {{ end }}
{{ end }}
<script type="application/ld+json">
  {
      "@context": "http://schema.org",
      "@type": "BlogPosting",
      "articleSection": "{{ .Section }}",
      "name": "{{ .Title | safeJS }}",
      "headline": "{{ .Title | safeJS }}",
      "alternativeHeadline": "{{ .Params.lead }}",
      "description": "{{ if .Description }}{{ .Description | safeJS }}{{ else }}{{if .IsPage}}{{ .Summary  }}{{ end }}{{ end }}",
      "inLanguage": {{ .Site.LanguageCode | default "en-us" }},
      "isFamilyFriendly": "true",
      "mainEntityOfPage": {
          "@type": "WebPage",
          "@id": "{{ .Permalink }}"
      },
      "author" : {
          "@type": "Person",
          "name": "{{ $author }}",
          "additionalName": "{{ $author }}",
          "url": "{{ .Site.BaseURL }}"
      },
      "creator" : {
          "@type": "Person",
          "name": "{{ $author }}"
      },
      "accountablePerson" : {
          "@type": "Person",
          "name": "{{ $author }}"
      },
      "copyrightHolder" : "{{ $org_name }}",
      "copyrightYear" : "{{ .Date.Format "2006" }}",
      "dateCreated": "{{ .Date.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
      "datePublished": "{{ .PublishDate.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
      "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
      "publisher":{
          "@type":"Organization",
          "name": {{ $org_name }},
          "url": {{ .Site.BaseURL }},
          "logo": {
              "@type": "ImageObject",
              "url": "{{ .Site.Params.logo | absURL }}",
              "width":"32",
              "height":"32"
          }
      },
      "image": [{{ if .Params.cover}}{{ if in .Params.cover "http" }}"{{ $og_image }}",{{ end }}{{ end }}{{ if .Params.images }}{{ range $i, $e := .Params.images }}{{ if in $e "http" }}{{ if $i }}, "{{ $e | absURL }}"{{ else }}"{{ $e | absURL }}"{{ end }}{{ end }}{{ end }}{{ end }}{{ if not .Params.cover }}{{ if not .Params.images }}"{{ .Site.Params.logo | absURL }}"{{ end }}{{ end }}],
      "url" : "{{ .Permalink }}",
      "wordCount" : "{{ .WordCount }}",
      "genre": [{{ if .Params.genre }} {{ range $index, $genre := .Params.genre }}{{ if $index }},{{ end }}"{{ $genre }}"{{ end }}{{ else }} {{ range $index, $tag := .Params.tags }}{{ if $index }},{{ end }}"{{ $tag }}"{{ end }}{{ end }}],
      "keywords" : [ {{ range $index, $tag := .Params.tags }}{{ if $index }}, {{ end }}"{{ $tag }}" {{ end }}],
  }
</script>
{{ end }}