<!-- Preconnect third-party DNS for CSS -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://maxcdn.bootstrapcdn.com">

<!-- Preconnect third-party DNS for JS -->
<link rel="preconnect" href="https://pagead1.googlesyndication.com">
<link rel="preconnect" href="https://pagead2.googlesyndication.com">
<link rel="preconnect" href="https://www.google-analytics.com">
<link rel="preconnect" href="https://google-analytics.com">
<link rel="preconnect" href="https://ws-na.amazon-adsystem.com">
<link rel="preconnect" href="https://amazon-adsystem.com">
<link rel="preconnect" href="https://cdn.ampproject.org">
<link rel="preconnect" href="https://cdn.jsdelivr.net">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://gstatic.com">
<link rel="preconnect" href="https://googleads.g.doubleclick.net">
<link rel="preconnect" href="https://tpc.googlesyndication.com">
<link rel="preconnect" href="https://googletagservices.com">
<link rel="preconnect" href="https://utteranc.es">
<link rel="preconnect" href="https://static.cloudflareinsights.com">
<link rel="preconnect" href="https://cdnjs.cloudflare.com">
<link rel="preconnect" href="https://www.clarity.ms">

<!-- mastodon verification  -->
<link rel="me" title="mastodon verification" href="https://mastodon.world/@simeononsecurity" />

<!-- RSS | JSON -->
{{ range .AlternativeOutputFormats -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}
<link href="https://simeononsecurity.ch/rss.xml" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" hreflang="en" />
<link href="https://simeononsecurity.ch/rss.xml" rel="feed" type="application/rss+xml" title="{{ $.Site.Title }}" hreflang="en" />
<link href="https://feeds.feedburner.com/simeononsecurity" rel="feed" type="application/rss+xml" title="{{ $.Site.Title }}" hreflang="en" />

<!-- Multilingual RSS Feeds -->
<link rel="alternate" type="application/xml" title="{{ $.Site.Title }}" href="https://simeononsecurity.ch/rss.xml"/>
<link rel="alternate" type="application/xml" title="{{ $.Site.Title }}" hreflang="en" href="https://simeononsecurity.ch/rss.xml" />
<link rel="alternate" type="application/xml" title="{{ $.Site.Title }}" hreflang="ar" href="https://ar.simeononsecurity.ch/rss.xml" />
<link rel="alternate" type="application/xml" title="{{ $.Site.Title }}" hreflang="bn" href="https://bn.simeononsecurity.ch/rss.xml" />
<link rel="alternate" type="application/xml" title="{{ $.Site.Title }}" hreflang="ca" href="https://ca.simeononsecurity.ch/rss.xml" />
<link rel="alternate" type="application/xml" title="{{ $.Site.Title }}" hreflang="de" href="https://de.simeononsecurity.ch/rss.xml" />
<link rel="alternate" type="application/xml" title="{{ $.Site.Title }}" hreflang="es" href="https://es.simeononsecurity.ch/rss.xml" />
<link rel="alternate" type="application/xml" title="{{ $.Site.Title }}" hreflang="fr" href="https://fr.simeononsecurity.ch/rss.xml" />
<link rel="alternate" type="application/xml" title="{{ $.Site.Title }}" hreflang="hi" href="https://hi.simeononsecurity.ch/rss.xml" />
<link rel="alternate" type="application/xml" title="{{ $.Site.Title }}" hreflang="it" href="https://it.simeononsecurity.ch/rss.xml" />
<link rel="alternate" type="application/xml" title="{{ $.Site.Title }}" hreflang="ja" href="https://ja.simeononsecurity.ch/rss.xml" />
<link rel="alternate" type="application/xml" title="{{ $.Site.Title }}" hreflang="nl" href="https://nl.simeononsecurity.ch/rss.xml" />
<link rel="alternate" type="application/xml" title="{{ $.Site.Title }}" hreflang="pa" href="https://pa.simeononsecurity.ch/rss.xml" />
<link rel="alternate" type="application/xml" title="{{ $.Site.Title }}" hreflang="pt" href="https://pt.simeononsecurity.ch/rss.xml" />
<link rel="alternate" type="application/xml" title="{{ $.Site.Title }}" hreflang="ro" href="https://ro.simeononsecurity.ch/rss.xml" />
<link rel="alternate" type="application/xml" title="{{ $.Site.Title }}" hreflang="ru" href="https://ru.simeononsecurity.ch/rss.xml" />
<link rel="alternate" type="application/xml" title="{{ $.Site.Title }}" hreflang="zh" href="https://zh.simeononsecurity.ch/rss.xml" />
<link rel="feed" type="application/xml" title="{{ $.Site.Title }}" href="https://simeononsecurity.ch/rss.xml"/>
<link rel="feed" type="application/xml" title="{{ $.Site.Title }}" hreflang="en" href="https://simeononsecurity.ch/rss.xml" />
<link rel="feed" type="application/xml" title="{{ $.Site.Title }}" hreflang="ar" href="https://ar.simeononsecurity.ch/rss.xml" />
<link rel="feed" type="application/xml" title="{{ $.Site.Title }}" hreflang="bn" href="https://bn.simeononsecurity.ch/rss.xml" />
<link rel="feed" type="application/xml" title="{{ $.Site.Title }}" hreflang="ca" href="https://ca.simeononsecurity.ch/rss.xml" />
<link rel="feed" type="application/xml" title="{{ $.Site.Title }}" hreflang="de" href="https://de.simeononsecurity.ch/rss.xml" />
<link rel="feed" type="application/xml" title="{{ $.Site.Title }}" hreflang="es" href="https://es.simeononsecurity.ch/rss.xml" />
<link rel="feed" type="application/xml" title="{{ $.Site.Title }}" hreflang="fr" href="https://fr.simeononsecurity.ch/rss.xml" />
<link rel="feed" type="application/xml" title="{{ $.Site.Title }}" hreflang="hi" href="https://hi.simeononsecurity.ch/rss.xml" />
<link rel="feed" type="application/xml" title="{{ $.Site.Title }}" hreflang="it" href="https://it.simeononsecurity.ch/rss.xml" />
<link rel="feed" type="application/xml" title="{{ $.Site.Title }}" hreflang="ja" href="https://ja.simeononsecurity.ch/rss.xml" />
<link rel="feed" type="application/xml" title="{{ $.Site.Title }}" hreflang="nl" href="https://nl.simeononsecurity.ch/rss.xml" />
<link rel="feed" type="application/xml" title="{{ $.Site.Title }}" hreflang="pa" href="https://pa.simeononsecurity.ch/rss.xml" />
<link rel="feed" type="application/xml" title="{{ $.Site.Title }}" hreflang="pt" href="https://pt.simeononsecurity.ch/rss.xml" />
<link rel="feed" type="application/xml" title="{{ $.Site.Title }}" hreflang="ro" href="https://ro.simeononsecurity.ch/rss.xml" />
<link rel="feed" type="application/xml" title="{{ $.Site.Title }}" hreflang="ru" href="https://ru.simeononsecurity.ch/rss.xml" />
<link rel="feed" type="application/xml" title="{{ $.Site.Title }}" hreflang="zh" href="https://zh.simeononsecurity.ch/rss.xml" />

<!-- Multilingual sitemap links -->
<link rel="sitemap" type="application/xml" title="Sitemap - English" hreflang="en" href="https://simeononsecurity.ch/sitemap.xml" />
<link rel="sitemap" type="application/xml" title="Sitemap - Arabic" hreflang="ar" href="https://ar.simeononsecurity.ch/sitemap.xml" />
<link rel="sitemap" type="application/xml" title="Sitemap - Bengali" hreflang="bn" href="https://bn.simeononsecurity.ch/sitemap.xml" />
<link rel="sitemap" type="application/xml" title="Sitemap - Catalan" hreflang="ca" href="https://ca.simeononsecurity.ch/sitemap.xml" />
<link rel="sitemap" type="application/xml" title="Sitemap - Chinese" hreflang="zh" href="https://zh.simeononsecurity.ch/sitemap.xml" />
<link rel="sitemap" type="application/xml" title="Sitemap - Dutch" hreflang="nl" href="https://nl.simeononsecurity.ch/sitemap.xml" />
<link rel="sitemap" type="application/xml" title="Sitemap - French" hreflang="fr" href="https://fr.simeononsecurity.ch/sitemap.xml" />
<link rel="sitemap" type="application/xml" title="Sitemap - German" hreflang="de" href="https://de.simeononsecurity.ch/sitemap.xml" />
<link rel="sitemap" type="application/xml" title="Sitemap - Hindi" hreflang="hi" href="https://hi.simeononsecurity.ch/sitemap.xml" />
<link rel="sitemap" type="application/xml" title="Sitemap - Italian" hreflang="it" href="https://it.simeononsecurity.ch/sitemap.xml" />
<link rel="sitemap" type="application/xml" title="Sitemap - Japanese" hreflang="ja" href="https://ja.simeononsecurity.ch/sitemap.xml" />
<link rel="sitemap" type="application/xml" title="Sitemap - Portuguese" hreflang="pt" href="https://pt.simeononsecurity.ch/sitemap.xml" />
<link rel="sitemap" type="application/xml" title="Sitemap - Punjabi" hreflang="pa" href="https://pa.simeononsecurity.ch/sitemap.xml" />
<link rel="sitemap" type="application/xml" title="Sitemap - Romanian" hreflang="ro" href="https://ro.simeononsecurity.ch/sitemap.xml" />
<link rel="sitemap" type="application/xml" title="Sitemap - Russian" hreflang="ru" href="https://ru.simeononsecurity.ch/sitemap.xml" />
<link rel="sitemap" type="application/xml" title="Sitemap - Spanish" hreflang="es" href="https://es.simeononsecurity.ch/sitemap.xml" />

<!-- Inform Multilingual -->
<link rel="alternate" hreflang="en" href="https://simeononsecurity.ch" />
<link rel="alternate" hreflang="ar" href="https://ar.simeononsecurity.ch" />
<link rel="alternate" hreflang="bn" href="https://bn.simeononsecurity.ch" />
<link rel="alternate" hreflang="ca" href="https://ca.simeononsecurity.ch" />
<link rel="alternate" hreflang="de" href="https://de.simeononsecurity.ch" />
<link rel="alternate" hreflang="es" href="https://es.simeononsecurity.ch" />
<link rel="alternate" hreflang="fr" href="https://fr.simeononsecurity.ch" />
<link rel="alternate" hreflang="hi" href="https://hi.simeononsecurity.ch" />
<link rel="alternate" hreflang="it" href="https://it.simeononsecurity.ch" />
<link rel="alternate" hreflang="ja" href="https://ja.simeononsecurity.ch" />
<link rel="alternate" hreflang="nl" href="https://nl.simeononsecurity.ch" />
<link rel="alternate" hreflang="pa" href="https://pa.simeononsecurity.ch" />
<link rel="alternate" hreflang="pt" href="https://pt.simeononsecurity.ch" />
<link rel="alternate" hreflang="ro" href="https://ro.simeononsecurity.ch" />
<link rel="alternate" hreflang="ru" href="https://ru.simeononsecurity.ch" />
<link rel="alternate" hreflang="zh" href="https://zh.simeononsecurity.ch" />

<!-- preload and prefetch first-party js -->
<link rel="prefetch" href="{{ "assets/main.js" | absURL }}" type="text/javascript" />
{{ if .IsPage }}
  <link rel="prefetch" href="{{ "assets/prism.js" | absURL }}" type="text/javascript" />
{{ end }}
<link rel="prefetch" href="/service-worker.js" type="text/javascript" />
<link rel="prefetch" href="/js/search.js" type="text/javascript" />

<!-- preload images -->
{{ if .Params.UseRelativeCover }}
<link rel="preload" as="image" href="{{ (printf "%s%s" .Permalink .Params.Cover ) }}" />
{{ else }}
<link rel="preload" as="image" href="{{ .Params.Cover | absURL }}" />
{{ end }}

<!-- Fonts -->
<link href="{{ (resources.Get "fonts/Inter-Italic.woff2").Permalink }}" rel="preload" type="font/woff2" as="font" crossorigin="" />
<link href="{{ (resources.Get "fonts/Inter-Regular.woff2").Permalink }}" rel="preload" type="font/woff2" as="font" crossorigin="" />
<link href="{{ (resources.Get "fonts/Inter-Medium.woff2").Permalink }}" rel="preload" type="font/woff2" as="font" crossorigin="" />
<link href="{{ (resources.Get "fonts/Inter-MediumItalic.woff2").Permalink }}" rel="preload" type="font/woff2" as="font" crossorigin="" />
<link href="{{ (resources.Get "fonts/Inter-Bold.woff2").Permalink }}" rel="preload" type="font/woff2" as="font" crossorigin="" />
<link href="{{ (resources.Get "fonts/Inter-BoldItalic.woff2").Permalink }}" rel="preload" type="font/woff2" as="font" crossorigin="" />

<!-- Icons -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ "img/apple-touch-icon-144-precomposed.png" | absURL }}" />
<link rel="apple-touch-icon" sizes="192x192" href="{{ "img/apple-touch-icon-192.png" | absURL }}" />
<link rel="icon" type="image/png" sizes="144x144" href="{{ "img/apple-touch-icon-144-precomposed.png" | absURL }}">
<link rel="icon" type="image/png" sizes="192x192" href="{{ "img/apple-touch-icon-192.png" | absURL }}">
<link rel="shortcut icon" href="{{ "img/favicon.png" | absURL }}" />

<!-- Theme CSS -->
<link rel="stylesheet" href="{{ "assets/style.css" | absURL }}" />

<!-- Custom CSS to override theme properties (/static/style.css) -->
<link rel="preload" as="style"  href="{{ "style.css" | absURL }}" />
<link rel="stylesheet" href="{{ "style.css" | absURL }}" />

<!-- add a <link> tag to all the pages for manifest.json  -->
<link rel="manifest" href="{{ "manifest.json" | absURL }}" />

<!-- preload and prefetch third-party js -->
<link rel="prefetch" href="https://www.google-analytics.com/analytics.js" type="text/javascript" /> 
<link rel="prefetch" href="https://cdn.jsdelivr.net/npm/ga-lite@2/dist/ga-lite.min.js" type="text/javascript" /> 
<link rel="prefetch" href="https://www.googletagmanager.com/gtag/js?id=G-W3SL745QY6" type="text/javascript" />
<link rel="prefetch" href="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4092442123207538" type="text/javascript" /> 
<link rel="prefetch" href="https://ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1&MarketPlace=US" type="text/javascript" />
<link rel="prefetch" href="https://utteranc.es/client.js" type="text/javascript" />
<link rel="prefetch" href="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/6.6.2/fuse.min.js" type="text/javascript" />
<link rel="prefetch" href="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/mark.min.js" type="text/javascript" />

<script>
const divInstall = document.getElementById('installContainer');
const butInstall = document.getElementById('butInstall');

// Register the service worker
if ('serviceWorker' in navigator) {
  window.addEventListener('load', function() {
    navigator.serviceWorker.register('/service-worker.js').then(function(registration) {
      console.log('Service Worker registration successful with scope: ', registration.scope);
    }, function(err) {
      console.log('Service Worker registration failed: ', err);
    });
  });
}

/**
 * Warn the page must be served over HTTPS
 * The `beforeinstallprompt` event won't fire if the page is served over HTTP.
 * Installability requires a service worker with a fetch event handler, and
 * if the page isn't served over HTTPS, the service worker won't load.
 */
if (window.location.protocol === 'http:') {
  const requireHTTPS = document.getElementById('requireHTTPS');
  const link = requireHTTPS.querySelector('a');
  link.href = window.location.href.replace('http://', 'https://');
  requireHTTPS.classList.remove('hidden');
}
</script>

<script>
  (function(c,l,a,r,i,t,y){
      c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
      t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
      y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
  })(window, document, "clarity", "script", "g45ppf746r");
</script>