<!-- social media linking  -->
<link rel="me" title="Arduino Forums" href="https://forum.arduino.cc/u/simeononsecurity" />
<link rel="me" title="Ansible Galaxy" href="https://galaxy.ansible.com/ui/namespaces/simeononsecurity/" />
<link rel="me" title="Azure Devops" href="https://dev.azure.com/simeononsecurity/SimeonOnSecurity" />
<link rel="me" title="Dev.to" href="https://dev.to/simeononsecurity" />
<link rel="me" title="Discord" href="https://discord.gg/FGQmksA4MA" />
<link rel="me" title="DockerHub" href="https://hub.docker.com/u/simeononsecurity" />
<link rel="me" title="DocHub" href="https://dochub.com/simeononsecurity" />
<link rel="me" title="FireFox Extensions" href="https://addons.mozilla.org/en-US/firefox/user/18064722/" />
<link rel="me" title="GitHub" href="https://github.com/simeononsecurity" />
<link rel="me" title="Google Developers" href="https://g.dev/simeononsecurity" />
<link rel="me" title="GrabCAD" href="https://grabcad.com/simeon.onsecurity-1" />
<link rel="me" title="HackADay" href="https://hackaday.io/SimeonOnSecurity" />
<link rel="me" title="Hackster" href="https://www.hackster.io/simeononsecurity/" />
<link rel="me" title="HashNode" href="https://simeononsecurity.hashnode.dev" />
<link rel="me" title="Instructables" href="https://www.instructables.com/member/SimeonOnSecurity/" />
<link rel="me" title="Linktree" href="https://linktr.ee/simeononsecurity" />
<link rel="me" title="Mastodon" href="https://infosec.exchange/@simeononsecurity" />
<link rel="me" title="Medium" href="https://medium.com/@simeononsecurity" />
<link rel="me" title="Microsoft Answers Community" href="https://answers.microsoft.com/en-us/profile/a4fafd59-9d3e-4488-95b3-dc0e6d8154b2?activeViewTab=Profile&updated=1" />
<link rel="me" title="Microsoft Learn" href="https://learn.microsoft.com/en-us/users/SimeonOnSecurity" />
<link rel="me" title="Microsoft TechCommunity" href="https://techcommunity.microsoft.com/t5/user/viewprofilepage/user-id/2079929#profile" />
<link rel="me" title="Minds" href="https://www.minds.com/simeononsecurity" />
<link rel="me" title="NPM" href="https://www.npmjs.com/~simeononsecurity" />
<link rel="me" title="PowerShell Gallery" href="https://www.powershellgallery.com/profiles/SimeonOnSecurity" />
<link rel="me" title="PyPi" href="https://pypi.org/user/SimeonOnSecurity/" />
<link rel="me" title="Reddit" href="https://www.reddit.com/user/simeonsecurity" />
<link rel="me" title="StackOverflow" href="https://stackoverflow.com/users/22727019/simeononsecurity" />
<link rel="me" title="Substack" href="https://substack.com/@simeononsecurity" />
<link rel="me" title="TryHackMe" href="https://tryhackme.com/p/simeononsecurity" />
<link rel="me" title="Twitter" href="https://twitter.com/SimeonSecurity" />
<link rel="me" title="YouTube" href="https://www.youtube.com/@SimeonOnSecurity" />

<!-- render alternate links - RSS, Sitemaps, Index, DNS Prefetch -->
{{ partial "render-alternates.html" .}}

<!-- add a <link> tag to all the pages for manifest.json  -->
<link rel="manifest" href="{{ ("manifest.json" | absURL) }}">

<!-- Icons -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ "img/apple-touch-icon-144-precomposed.png" | absURL }}" />
<link rel="apple-touch-icon" sizes="192x192" href="{{ "img/apple-touch-icon-192.png" | absURL }}" />
<link rel="icon" type="image/png" sizes="144x144" href="{{ "img/apple-touch-icon-144-precomposed.png" | absURL }}" >
<link rel="icon" type="image/png" sizes="192x192" href="{{ "img/apple-touch-icon-192.png" | absURL }}" >
<link rel="shortcut icon" href="{{ "img/favicon.png" | absURL }}" />

<base href="{{ $.Site.BaseURL}}">