<!-- render alternate links - RSS, Sitemaps, Index, DNS Prefetch -->
{{ partialCached "render-alternates.html" . .Page .Page.Page .Site.Language.Lang .Language.Lang }}

<!-- add a <link> tag to all the pages for manifest.json  -->
<link rel="manifest" href="{{ ("manifest.json" | absURL) }}">

<!-- Icons -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ "img/apple-touch-icon-144-precomposed.png" | absURL }}" />
<link rel="apple-touch-icon" sizes="192x192" href="{{ "img/apple-touch-icon-192.png" | absURL }}" />
<link rel="icon" type="image/png" sizes="144x144" href="{{ "img/apple-touch-icon-144-precomposed.png" | absURL }}" >
<link rel="icon" type="image/png" sizes="192x192" href="{{ "img/apple-touch-icon-192.png" | absURL }}" >
<link rel="shortcut icon" href="{{ "img/favicon.png" | absURL }}" />

