<footer class="footer">
  <div class="footer__inner">
      {{ partial "logo.html" . }}
      <div><span><a title="contact page" href="/contactus/" target="_blank" rel="noopener">Contact</a></span></div>
      <div><span><a title="privacy policy" href="/privacypolicy/" target="_blank" rel="noopener">Privacy</a></span></div>
      <div><span><a title="terms and conditions" href="/termsandconditions/" target="_blank" rel="noopener">Terms</a></span></div>
      <div><span><a title="sitemap" href="/sitemap.xml" target="_blank" rel="noopener">Sitemap</a></span></div>
      <div><span><a title="rss feed" href="/index.xml" target="_blank" rel="noopener">RSS</a></span></div>
      <div class="copyright">
        <span>© 2020 - {{ now.Year }} SimeonOnSecurity</span>
      </div>
  </div>
  {{ if ne .RelPermalink "/search/" }}
  <div class="search-form">
    <form action="/search" method="GET">
      <div class="search-box">
        <input type="search" name="q" id="search-query" placeholder="Search....">
        <button type="submit" aria-label="Search">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="11" cy="11" r="8"/><line x1="21" y1="21" x2="16.65" y2="16.65"/></svg>
        </button>
      </div>
    </form>
  </div>
  {{ end }}
</main>

</footer>

<script src="{{ "assets/main.js" | absURL }}" async></script>
<script src="{{ "assets/prism.js" | absURL }}" defer></script>

<!-- Loads analytics.js asynchronously -->
{{ if $.Site.GoogleAnalytics }}
{{ template "_internal/google_analytics.html" . }}
{{ end }}

{{- partial "extended_footer.html" . }}
