<!-- head custom -->
{{- partialCached "prepended_head.html" . .Page .Page.Page .Site.Language.Lang .Language.Lang }}

<!-- OG data -->
{{ template "_internal/opengraph.html" . }}

<!-- Site Schema -->
{{ partialCached "site_schema.html" . .Page .Page.Page .Site.Language.Lang .Language.Lang }}

<!-- Twitter Card -->
{{ template "_internal/twitter_cards.html" . }}

<!-- Google News -->
{{ template "_internal/google_news.html" . }}

<!-- head custom -->
{{- partialCached "extended_head.html" . .Page .Page.Page .Site.Language.Lang .Language.Lang }}
