<!-- head custom -->
{{ partialCached "prepended_head.html" . .Page .Page.Page .Site.Language.Lang .Language.Lang }}
{{ partialCached "preload-fonts.html" . }}

<!-- OG data -->
{{ partial "opengraph.html" . }}

<!-- Site Schema -->
{{ partialCached "site_schema.html" . .Page .Page.Page .Site.Language.Lang .Language.Lang }}

<!-- Twitter Card -->
{{ partial "twitter_cards.html" . }}

<!-- Google News -->
{{ partial "google_news.html" . }}

<!-- head custom -->
{{ partialCached "extended_head.html" . .Page .Page.Page .Site.Language.Lang .Language.Lang }}
