

{{ if and (not (or (eq .context.Params.Cover "") (eq .context.Params.Cover " ") (eq .context.Params.Cover "/img/cover/" ))) (not (strings.HasSuffix .context.Params.Cover "/")) (not (fileExists .context.Params.Cover))}}
<figure class="post-cover" itemscope itemtype="https://schema.org/ImageObject">
    {{ $cover := resources.Get (.context.Params.Cover)}}
    {{ if .context.Params.UseRelativeCover }}
      {{ $cover = resources.GetRemote (printf "%s%s" .context.Permalink .context.Params.Cover) }}
    {{ end }}
    {{ $permalink := replace $cover.RelPermalink (printf ".%s" $cover.MediaType.SubType) "" }}
    {{ $micro := ($cover.Resize "20x webp q20") }}
      {{ $microfilename := printf "%s_%dx%d.%s" $permalink $micro.Width $micro.Height "webp" | urlize }}
      {{ $microrenamedimage := $micro | resources.Copy $microfilename }}
      {{ $optimizedmicro := $microrenamedimage.Permalink}}   
    {{ $tiny := ($cover.Resize "240x webp q50") }}
      {{ $tinyfilename := printf "%s_%dx%d.%s" $permalink $tiny.Width $tiny.Height "webp" | urlize }}
      {{ $tinyrenamedimage := $tiny | resources.Copy $tinyfilename }}
      {{ $optimizedtiny := $tinyrenamedimage.Permalink}}   
    {{ $small := ($cover.Resize "480x webp q50") }}
      {{ $smallfilename := printf "%s_%dx%d.%s" $permalink $small.Width $small.Height "webp" | urlize }}
      {{ $smallrenamedimage := $small | resources.Copy $smallfilename }}
      {{ $optimizedsmall := $smallrenamedimage.Permalink}}   
    {{ $medium := ($cover.Resize "731x webp q50") }}
      {{ $mediumfilename := printf "%s_%dx%d.%s" $permalink $medium.Width $medium.Height "webp" | urlize }}
      {{ $mediumrenamedimage := $medium | resources.Copy $mediumfilename }}
      {{ $optimizedmedium := $mediumrenamedimage.Permalink}} 
      <picture>
        <source 
          srcset="{{ $optimizedmedium }} 731w, {{ $optimizedsmall }} 480w, {{ $optimizedtiny }} 240w, {{ $optimizedmicro }} 20w" 
          sizes="(min-width: 2560px) 731px, (min-width: 780px) 480px, (min-width: 384px) 240px, 20px, calc(80.53vw - 21px)"
          media="(min-width: 200px)">
        <img src="{{ $optimizedmicro }}"
          alt="{{ .context.Params.CoverAlt | plainify | default .context.Title }}"
          class="post-cover"
          itemprop="contentUrl"
          loading="{{ .imgloading }}"
        />
      </picture>            
    {{ if .context.Params.CoverCaption }}
      <figcaption class="center">{{ .Params.CoverCaption | markdownify }}</figcaption>
    {{ end }}
</figure>
<script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "ImageObject",
    "contentUrl": "{{ $cover | absURL }}",
    "license": "https://simeononsecurity.ch/termsandconditions/",
    "acquireLicensePage": "https://simeononsecurity.ch/contactus/",
    "creditText": "SimeonOnSecurity",
    "creator": {
      "@type": "Person",
      "name": "SimeonOnSecurity"
    },
    "copyrightNotice": "SimeonOnSecurity"
  }
  </script>
{{ else }}
<figure class="post-cover"></figure>
{{ end }}