<!-- first-party fonts -->
<!-- Preload critical fonts with high importance -->
<link rel="preload" href="{{ ("assets/fonts/Inter-Regular.woff2" | absURL) }}" as="font" type="font/woff2" media="(min-width: 769px)" fetchpriority="high">
<link rel="preload" href="{{ ("assets/fonts/Inter-Bold.woff2" | absURL) }}" as="font" type="font/woff2" media="(min-width: 769px)" fetchpriority="high">

<!-- Prefetch non-critical fonts with low importance -->
<link rel="prefetch" href="{{ ("assets/fonts/Inter-Italic.woff2" | absURL) }}" type="font/woff2" media="(min-width: 769px)" fetchpriority="low">
<link rel="prefetch" href="{{ ("assets/fonts/Inter-Medium.woff2" | absURL) }}" type="font/woff2" media="(min-width: 769px)" fetchpriority="low">
<link rel="prefetch" href="{{ ("assets/fonts/Inter-MediumItalic.woff2" | absURL) }}" type="font/woff2" media="(min-width: 769px)" fetchpriority="low">
<link rel="prefetch" href="{{ ("assets/fonts/Inter-BoldItalic.woff2" | absURL) }}" type="font/woff2" media="(min-width: 769px)" fetchpriority="low">
