<!-- Preload and Prefetch Presearch Ad Images -->
{{ $tinysrc := resources.Get "img/ads/presearch/ban-3.jpg" }}
{{ $tinysrcpermalink := replace $tinysrc.RelPermalink ".jpg" "" }}
{{ $tiny := ($tinysrc.Resize "450x375 webp q90") }}
  {{ $tinyfilename := printf "%s_%dx%d.%s" $tinysrcpermalink $tiny.Width $tiny.Height "webp" | urlize }}
  {{ $tinyrenamedimage := $tiny | resources.Copy $tinyfilename }}
  {{ $optimizedtiny := $tinyrenamedimage.Permalink }}   
{{ $smallsrc := resources.Get "img/ads/presearch/ban-5.jpg" }}
{{ $smallsrcpermalink := replace $smallsrc.RelPermalink ".jpg" "" }}
{{ $small := ($smallsrc.Resize "468x webp q80") }}
  {{ $smallfilename := printf "%s_%dx%d.%s" $smallsrcpermalink $small.Width $small.Height "webp" | urlize }}
  {{ $smallrenamedimage := $small | resources.Copy $smallfilename }}
  {{ $optimizedsmall := $smallrenamedimage.Permalink }}   
{{ $mediumsrc := resources.Get "img/ads/presearch/ban-4.jpg" }}
{{ $mediumsrcpermalink := replace $mediumsrc.RelPermalink ".jpg" "" }}
{{ $medium := ($mediumsrc.Resize "728x webp q80") }}
  {{ $mediumfilename := printf "%s_%dx%d.%s" $mediumsrcpermalink $medium.Width $medium.Height "webp" | urlize }}
  {{ $mediumrenamedimage := $medium | resources.Copy $mediumfilename }}
  {{ $optimizedmedium := $mediumrenamedimage.Permalink }}
  <link rel="prefetch" href="{{ $optimizedmedium }}" as="image" fetchpriority="low" media="(min-width: 728px)"/>
  <link rel="prefetch" href="{{ $optimizedsmall }}" as="image" fetchpriority="low" media="(max-width: 727px) and (min-width: 468px)"/>
  <link rel="prefetch" href="{{ $optimizedtiny }}" as="image" fetchpriority="low" media="(max-width: 467px) and (min-width: 450px)"/>
<!-- Preload and Prefetch Presearch Floating Ad Image -->
{{ $tinysrc := resources.Get "img/ads/presearch/ban-3.jpg" }}
{{ $tinysrcpermalink := replace $tinysrc.RelPermalink ".gif" "" }}
{{ $tiny := ($tinysrc.Resize "255x212 gif q90") }}
  {{ $tinyfilename := printf "%s_%dx%d.%s" $tinysrcpermalink $tiny.Width $tiny.Height "gif" | urlize }}
  {{ $tinyrenamedimage := $tiny | resources.Copy $tinyfilename }}
  {{ $optimizedtiny := $tinyrenamedimage.Permalink }}   
  <link rel="prefetch" href="{{ $optimizedtiny }}" as="image" fetchpriority="high" media="(min-width: 720px)"/>
<!-- END Preload and Prefetch Presearch Ad Images -->

<!-- Preload and Prefetch Orange Website Ad Images -->
{{ $microsrc := resources.Get "img/ads/orangewebsite/animation_300x250.gif" }}
{{ $microsrcpermalink := replace $microsrc.RelPermalink ".gif" "" }}
{{ $micro := ($microsrc.Resize "300x250 gif q90") }}
  {{ $microfilename := printf "%s_%dx%d.%s" $microsrcpermalink $micro.Width $micro.Height "gif" | urlize }}
  {{ $microrenamedimage := $micro | resources.Copy $microfilename }}
  {{ $optimizedmicro := $microrenamedimage.Permalink }}   
{{ $tinysrc := resources.Get "img/ads/orangewebsite/animation_336x280.gif" }}
{{ $tinysrcpermalink := replace $tinysrc.RelPermalink ".gif" "" }}
{{ $tiny := ($tinysrc.Resize "450x375 gif q90") }}
  {{ $tinyfilename := printf "%s_%dx%d.%s" $tinysrcpermalink $tiny.Width $tiny.Height "gif" | urlize }}
  {{ $tinyrenamedimage := $tiny | resources.Copy $tinyfilename }}
  {{ $optimizedtiny := $tinyrenamedimage.Permalink }}   
{{ $smallsrc := resources.Get "img/ads/orangewebsite/animation_468x60.gif" }}
{{ $smallsrcpermalink := replace $smallsrc.RelPermalink ".gif" "" }}
{{ $small := ($smallsrc.Resize "468x60 gif q90") }}
  {{ $smallfilename := printf "%s_%dx%d.%s" $smallsrcpermalink $small.Width $small.Height "gif" | urlize }}
  {{ $smallrenamedimage := $small | resources.Copy $smallfilename }}
  {{ $optimizedsmall := $smallrenamedimage.Permalink }}   
{{ $mediumsrc := resources.Get "img/ads/orangewebsite/animation_728x90.gif" }}
{{ $mediumsrcpermalink := replace $mediumsrc.RelPermalink ".gif" "" }}
{{ $medium := ($mediumsrc.Resize "728x90 gif q90") }}
  {{ $mediumfilename := printf "%s_%dx%d.%s" $mediumsrcpermalink $medium.Width $medium.Height "gif" | urlize }}
  {{ $mediumrenamedimage := $medium | resources.Copy $mediumfilename }}
  {{ $optimizedmedium := $mediumrenamedimage.Permalink }}  
  <link rel="prefetch" href="{{ $optimizedmedium }}" as="image" fetchpriority="low" media="(min-width: 728px)"/>
  <link rel="prefetch" href="{{ $optimizedsmall }}" as="image" fetchpriority="low" media="(max-width: 727px) and (min-width: 468px)"/>
  <link rel="prefetch" href="{{ $optimizedtiny }}" as="image" fetchpriority="low" media="(max-width: 467px) and (min-width: 450px)"/>
  <link rel="prefetch" href="{{ $optimizedmicro }}" as="image" fetchpriority="low" media="(max-width: 449px) and (min-width: 300px)"/>
<!-- Preload and Prefetch Orange Website Floating Ad Image -->
{{ $tinysrc := resources.Get "img/ads/orangewebsite/animation_336x280.gif" }}
{{ $tinysrcpermalink := replace $tinysrc.RelPermalink ".gif" "" }}
{{ $tiny := ($tinysrc.Resize "255x212 gif q90") }}
  {{ $tinyfilename := printf "%s_%dx%d.%s" $tinysrcpermalink $tiny.Width $tiny.Height "gif" | urlize }}
  {{ $tinyrenamedimage := $tiny | resources.Copy $tinyfilename }}
  {{ $optimizedtiny := $tinyrenamedimage.Permalink }}   
  <link rel="prefetch" href="{{ $optimizedtiny }}" as="image" fetchpriority="high" media="(min-width: 720px)"/>
<!-- END Preload and Prefetch Orange Website Ad Images -->

<!-- Preload and Prefetch Pawnsapp Ad Images -->
{{ $tinysrc := resources.Get "img/ads/pawnsapp/earn_money_general_300x300.png" }}
{{ $tinysrcpermalink := replace $tinysrc.RelPermalink ".png" "" }}
{{ $tiny := ($tinysrc.Resize "450x375 gif q90") }}
  {{ $tinyfilename := printf "%s_%dx%d.%s" $tinysrcpermalink $tiny.Width $tiny.Height "webp" | urlize }}
  {{ $tinyrenamedimage := $tiny | resources.Copy $tinyfilename }}
  {{ $optimizedtiny := $tinyrenamedimage.Permalink }}   
{{ $smallsrc := resources.Get "img/ads/pawnsapp/earn_money_general_468x60.png" }}
{{ $smallsrcpermalink := replace $smallsrc.RelPermalink ".png" "" }}
{{ $small := ($smallsrc.Resize "468x60 gif q90") }}
  {{ $smallfilename := printf "%s_%dx%d.%s" $smallsrcpermalink $small.Width $small.Height "webp" | urlize }}
  {{ $smallrenamedimage := $small | resources.Copy $smallfilename }}
  {{ $optimizedsmall := $smallrenamedimage.Permalink }}   
{{ $mediumsrc := resources.Get "img/ads/pawnsapp/earn_money_general_728x90.png" }}
{{ $mediumsrcpermalink := replace $mediumsrc.RelPermalink ".png" "" }}
{{ $medium := ($mediumsrc.Resize "728x90 gif q90") }}
  {{ $mediumfilename := printf "%s_%dx%d.%s" $mediumsrcpermalink $medium.Width $medium.Height "webp" | urlize }}
  {{ $mediumrenamedimage := $medium | resources.Copy $mediumfilename }}
  {{ $optimizedmedium := $mediumrenamedimage.Permalink }} 
  <link rel="prefetch" href="{{ $optimizedmedium }}" as="image" fetchpriority="low" media="(min-width: 728px)"/>
  <link rel="prefetch" href="{{ $optimizedsmall }}" as="image" fetchpriority="low" media="(max-width: 727px) and (min-width: 468px)"/>
  <link rel="prefetch" href="{{ $optimizedtiny }}" as="image" fetchpriority="low" media="(max-width: 467px) and (min-width: 450px)"/>
<!-- Preload and Prefetch Pawnsapp Floating Ad Image -->
{{ $tinysrc := resources.Get "img/ads/pawnsapp/earn_money_general_300x300.png" }}
{{ $tinysrcpermalink := replace $tinysrc.RelPermalink ".gif" "" }}
{{ $tiny := ($tinysrc.Resize "255x212 gif q90") }}
  {{ $tinyfilename := printf "%s_%dx%d.%s" $tinysrcpermalink $tiny.Width $tiny.Height "gif" | urlize }}
  {{ $tinyrenamedimage := $tiny | resources.Copy $tinyfilename }}
  {{ $optimizedtiny := $tinyrenamedimage.Permalink }}   
  <link rel="prefetch" href="{{ $optimizedtiny }}" as="image" fetchpriority="high" media="(min-width: 720px)"/>
<!-- END Preload and Prefetch Pawnsapp Ad Images -->

<!-- Preload and Prefetch Earnapp Floating Ad Image -->
{{ $tinysrc := resources.Get "img/ads/earnapp/banner_Website_200x200.png" }}
{{ $tinysrcpermalink := replace $tinysrc.RelPermalink ".png" "" }}
{{ $tiny := ($tinysrc.Resize "255x webp q90") }}
  {{ $tinyfilename := printf "%s_%dx%d.%s" $tinysrcpermalink $tiny.Width $tiny.Height "webp" | urlize }}
  {{ $tinyrenamedimage := $tiny | resources.Copy $tinyfilename }}
  {{ $optimizedtiny := $tinyrenamedimage.Permalink }}   
  <link rel="prefetch" href="{{ $optimizedtiny }}" as="image" fetchpriority="high" media="(min-width: 720px)"/>
<!-- END Preload and Prefetch Earnapp Ad Images -->

<!-- Preload and Prefetch traffmonitizer Ad Images -->
{{ $tinysrc := resources.Get "img/ads/traffmonetizer/make_passive_money_online_by_sharing_your_internet-1080x1080.png" }}
{{ $tinysrcpermalink := replace $tinysrc.RelPermalink ".png" "" }}
{{ $tiny := ($tinysrc.Resize "450x webp q90") }}
  {{ $tinyfilename := printf "%s_%dx%d.%s" $tinysrcpermalink $tiny.Width $tiny.Height "webp" | urlize }}
  {{ $tinyrenamedimage := $tiny | resources.Copy $tinyfilename }}
  {{ $optimizedtiny := $tinyrenamedimage.Permalink }}   
{{ $smallsrc := resources.Get "img/ads/traffmonetizer/make_passive_money_online_by_sharing_your_internet-728x90.png" }}
{{ $smallsrcpermalink := replace $smallsrc.RelPermalink ".png" "" }}
{{ $small := ($smallsrc.Resize "468x webp q80") }}
  {{ $smallfilename := printf "%s_%dx%d.%s" $smallsrcpermalink $small.Width $small.Height "webp" | urlize }}
  {{ $smallrenamedimage := $small | resources.Copy $smallfilename }}
  {{ $optimizedsmall := $smallrenamedimage.Permalink }}   
{{ $mediumsrc := resources.Get "img/ads/traffmonetizer/make_passive_money_online_by_sharing_your_internet-728x90.png" }}
{{ $mediumsrcpermalink := replace $mediumsrc.RelPermalink ".png" "" }}
{{ $medium := ($mediumsrc.Resize "728x webp q80") }}
  {{ $mediumfilename := printf "%s_%dx%d.%s" $mediumsrcpermalink $medium.Width $medium.Height "webp" | urlize }}
  {{ $mediumrenamedimage := $medium | resources.Copy $mediumfilename }}
  {{ $optimizedmedium := $mediumrenamedimage.Permalink }} 
  <link rel="prefetch" href="{{ $optimizedmedium }}" as="image" fetchpriority="low" media="(min-width: 728px)"/>
  <link rel="prefetch" href="{{ $optimizedsmall }}" as="image" fetchpriority="low" media="(max-width: 727px) and (min-width: 468px)"/>
  <link rel="prefetch" href="{{ $optimizedtiny }}" as="image" fetchpriority="low" media="(max-width: 467px) and (min-width: 450px)"/>
<!-- Preload and Prefetch traffmonitizer Floating Ad Image -->
{{ $tinysrc := resources.Get "img/ads/traffmonetizer/make_passive_money_online_by_sharing_your_internet-1080x1080.png" }}
{{ $tinysrcpermalink := replace $tinysrc.RelPermalink ".png" "" }}
{{ $tiny := ($tinysrc.Resize "255x webp q90") }}
  {{ $tinyfilename := printf "%s_%dx%d.%s" $tinysrcpermalink $tiny.Width $tiny.Height "webp" | urlize }}
  {{ $tinyrenamedimage := $tiny | resources.Copy $tinyfilename }}
  {{ $optimizedtiny := $tinyrenamedimage.Permalink }}   
  <link rel="prefetch" href="{{ $optimizedtiny }}" as="image" fetchpriority="high" media="(min-width: 720px)"/>
<!-- END Preload and Prefetch traffmonitizer Ad Images -->

<!-- Preload and Prefetch Cover Images on List Pages -->
{{- if .IsSection -}}
    {{ range .Paginator.Pages }}
        {{ if and (not (or (eq .Params.Cover "") (eq .Params.Cover " ") (eq .Params.Cover "/img/cover/" ))) (not (strings.HasSuffix .Params.Cover "/")) }}
        {{ $cover := resources.Get (.Params.Cover) }}
        {{ if $cover }}
            {{ if .Params.UseRelativeCover }}
            {{ $cover = resources.GetRemote (printf "%s%s" .Permalink .Params.Cover) }}
            {{ end }}
            {{ $permalink := replace $cover.RelPermalink (printf ".%s" $cover.MediaType.SubType) "" }}
            {{ $tiny := ($cover.Resize "240x webp q50") }}
            {{ $tinyfilename := printf "%s_%dx%d.%s" $permalink $tiny.Width $tiny.Height "webp" | urlize }}
            {{ $tinyrenamedimage := $tiny | resources.Copy $tinyfilename }}
            {{ $optimizedtiny := $tinyrenamedimage.Permalink }}   
            {{ $small := ($cover.Resize "480x webp q50") }}
            {{ $smallfilename := printf "%s_%dx%d.%s" $permalink $small.Width $small.Height "webp" | urlize }}
            {{ $smallrenamedimage := $small | resources.Copy $smallfilename }}
            {{ $optimizedsmall := $smallrenamedimage.Permalink }}   
            {{ $medium := ($cover.Resize "731x webp q50") }}
            {{ $mediumfilename := printf "%s_%dx%d.%s" $permalink $medium.Width $medium.Height "webp" | urlize }}
            {{ $mediumrenamedimage := $medium | resources.Copy $mediumfilename }}
            {{ $optimizedmedium := $mediumrenamedimage.Permalink }} 
                <link rel="prefetch" href="{{ $optimizedmedium }}" as="image" fetchpriority="low" media="(min-width: 731px)"/>
                <link rel="prefetch" href="{{ $optimizedsmall }}" as="image" fetchpriority="low" media="(max-width: 730px) and (min-width: 480px)"/>
                <link rel="prefetch" href="{{ $optimizedtiny }}" as="image" fetchpriority="low" media="(max-width: 479px)"/>
        {{ end }}
        {{ end }}
    {{ end }}
{{ end }}
<!-- END Preload and Prefetch Cover Images on List Pages -->

<!-- Preload and Prefetch Cover Image for Single Page -->
{{ if (and (not (or (eq .Page.Params.Cover "") (eq .Page.Params.Cover " ") (eq .Page.Params.Cover "/img/cover/" ))) (not (strings.HasSuffix .Page.Params.Cover "/"))) }}
  {{ $cover := resources.Get (.Page.Params.Cover) }}
  {{ if $cover }}
    {{ if .Page.Params.UseRelativeCover }}
      {{ $cover = resources.GetRemote (printf "%s%s" .Page.Permalink .Page.Params.Cover) }}
    {{ end }}
    {{ $permalink := replace $cover.RelPermalink (printf ".%s" $cover.MediaType.SubType) "" }}
    {{ $tiny := ($cover.Resize "240x webp q50") }}
    {{ $tinyfilename := printf "%s_%dx%d.%s" $permalink $tiny.Width $tiny.Height "webp" | urlize }}
    {{ $tinyrenamedimage := $tiny | resources.Copy $tinyfilename }}
    {{ $optimizedtiny := $tinyrenamedimage.Permalink }}   
    {{ $small := ($cover.Resize "480x webp q50") }}
    {{ $smallfilename := printf "%s_%dx%d.%s" $permalink $small.Width $small.Height "webp" | urlize }}
    {{ $smallrenamedimage := $small | resources.Copy $smallfilename }}
    {{ $optimizedsmall := $smallrenamedimage.Permalink }}   
    {{ $medium := ($cover.Resize "731x webp q50") }}
    {{ $mediumfilename := printf "%s_%dx%d.%s" $permalink $medium.Width $medium.Height "webp" | urlize }}
    {{ $mediumrenamedimage := $medium | resources.Copy $mediumfilename }}
    {{ $optimizedmedium := $mediumrenamedimage.Permalink }} 
        <link rel="prefetch" href="{{ $optimizedmedium }}" as="image" fetchpriority="low" media="(min-width: 731px)"/>
        <link rel="prefetch" href="{{ $optimizedsmall }}" as="image" fetchpriority="low" media="(max-width: 730px) and (min-width: 480px)"/>
        <link rel="prefetch" href="{{ $optimizedtiny }}" as="image" fetchpriority="low" media="(max-width: 479px)"/>
  {{ end }}
{{ end }}
<!-- END Preload and Prefetch Cover Image for Single Page -->

<!-- Preload and Prefetch Cover Images on Index -->
{{ if .IsHome }}
  {{ $isntDefault := not (or (eq (trim $.Site.Params.contentTypeName " ") "posts") (eq (trim $.Site.Params.contentTypeName " ") "")) }}
  {{ $contentTypeName := cond $isntDefault (string $.Site.Params.contentTypeName) "posts" }}

  {{ $PageContext := . }}
  {{ if .IsHome }}
    {{ $PageContext = .Site }}
  {{ end }}
  {{ $paginator := .Paginate (where $PageContext.RegularPages "Type" $contentTypeName) }}

  {{ range $paginator.Pages }}
    {{ if and (not (or (eq .Params.Cover "") (eq .Params.Cover " ") (eq .Params.Cover "/img/cover/" ))) (not (strings.HasSuffix .Params.Cover "/")) }}
      {{ $cover := resources.Get (.Params.Cover) }}
      {{ if $cover }}
        {{ if .Params.UseRelativeCover }}
          {{ $cover = resources.GetRemote (printf "%s%s" .Permalink .Params.Cover) }}
        {{ end }}
        {{ $permalink := replace $cover.RelPermalink (printf ".%s" $cover.MediaType.SubType) "" }}
        {{ $tiny := ($cover.Resize "240x webp q50") }}
        {{ $tinyfilename := printf "%s_%dx%d.%s" $permalink $tiny.Width $tiny.Height "webp" | urlize }}
        {{ $tinyrenamedimage := $tiny | resources.Copy $tinyfilename }}
        {{ $optimizedtiny := $tinyrenamedimage.Permalink }}   
        {{ $small := ($cover.Resize "480x webp q50") }}
        {{ $smallfilename := printf "%s_%dx%d.%s" $permalink $small.Width $small.Height "webp" | urlize }}
        {{ $smallrenamedimage := $small | resources.Copy $smallfilename }}
        {{ $optimizedsmall := $smallrenamedimage.Permalink }}   
        {{ $medium := ($cover.Resize "731x webp q50") }}
        {{ $mediumfilename := printf "%s_%dx%d.%s" $permalink $medium.Width $medium.Height "webp" | urlize }}
        {{ $mediumrenamedimage := $medium | resources.Copy $mediumfilename }}
        {{ $optimizedmedium := $mediumrenamedimage.Permalink }} 
          <link rel="prefetch" href="{{ $optimizedmedium }}" as="image" fetchpriority="low" media="(min-width: 731px)"/>
          <link rel="prefetch" href="{{ $optimizedsmall }}" as="image" fetchpriority="low" media="(max-width: 730px) and (min-width: 480px)"/>
          <link rel="prefetch" href="{{ $optimizedtiny }}" as="image" fetchpriority="low" media="(max-width: 479px)"/>
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}
<!-- END Preload and Prefetch Cover Images on Index -->