<!-- Theme CSS -->
{{ $baseCSS := (resources.Get "/style-base.css" | resources.Minify) }}
{{ $inlineCSS := $baseCSS }}
<style>
{{ $inlineCSS.Content | safeCSS }}
</style>
{{ $style := resources.Get "style-append.css" | resources.Minify }}
<link rel="preload" href="{{ $style.Permalink }}" as="style" fetchpriority="low" onload="this.onload=null;this.rel='stylesheet'">

<!-- preload and prefetch first-party js -->
<link rel="preload" href="{{ "assets/main.js" | absURL }}" fetchpriority="high" as="script" type="text/javascript">
{{ $disabledURLs := slice "/about" "/contact" "/terms" "/privacy" "/advertise" "/guest-posts" "/affiliate" }}
{{ $currentPath := .Permalink }}
{{ $disableComments := false }}
{{ range $disabledURLs }}
  {{ if (in $currentPath .) }}
    {{ $disableComments = true }}
  {{ end }}
{{ end }}
{{ if not $disableComments }}
  {{ if not (eq .Params.Comments.enable false) }}
    {{ if and (not .IsHome) (not .IsSection) }}
      <link rel="prefetch" href="{{ "assets/prism.js" | absURL }}" fetchpriority="low" type="text/javascript" media="(min-width: 769px)">
    {{ end }}
  {{ end }}
{{ end }}
{{ if in (urlize .Permalink) "/search" }}
  <link rel="preload" href="{{ "js/search.js"| absURL }}" fetchpriority="high" as="script" type="text/javascript">
{{ end }}
<link rel="prefetch" href="{{ "service-worker.js" | absURL }}" fetchpriority="low" type="text/javascript">
<link rel="prefetch" href="{{ "js/instantpage-5.2.0.js" | absURL }}" fetchpriority="low" type="text/javascript">

{{ partialCached "preload-images.html" . .Page .Page.Page }}

<!-- Preconnect third-party DNS for CSS -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://cloudfront.ne">
<link rel="dns-prefetch" href="https://fonts.googleapis.com">
<link rel="dns-prefetch" href="https://fonts.gstatic.com">
<link rel="dns-prefetch" href="https://cloudfront.ne">

<!-- Preconnect third-party DNS for JS -->
<link rel="preconnect" href="https://pagead1.googlesyndication.com">
<link rel="preconnect" href="https://pagead2.googlesyndication.com">
<link rel="preconnect" href="https://securepubads.g.doubleclick.net">
<link rel="preconnect" href="https://fundingchoicesmessages.google.com">
<link rel="preconnect" href="https://www.google-analytics.com">
<link rel="preconnect" href="https://google-analytics.com">
<link rel="preconnect" href="https://cdn.jsdelivr.net">
<link rel="preconnect" href="https://googleads.g.doubleclick.net">
<link rel="preconnect" href="https://tpc.googlesyndication.com">
<link rel="preconnect" href="https://googletagservices.com">
<link rel="preconnect" href="https://www.gstatic.com">
<link rel="preconnect" href="https://www.googletagmanager.com">
<link rel="preconnect" href="https://static.cloudflareinsights.com">
<link rel="preconnect" href="https://cdnjs.cloudflare.com">
<link rel="preconnect" href="https://www.clarity.ms">
<link rel="preconnect" href="https://router.infolinks.com">
<link rel="preconnect" href="https://resources.infolinks.com">
<link rel="preconnect" href="https://c.clarity.ms">
<link rel="preconnect" href="https://w.clarity.ms">
<link rel="preconnect" href="https://c.bing.com">
<link rel="preconnect" href="https://groot.mailerlite.com">
<link rel="preconnect" href="https://assets.mailerlite.com">
<link rel="preconnect" href="https://assets.mlcdn.com">
<link rel="dns-prefetch" href="https://pagead1.googlesyndication.com">
<link rel="dns-prefetch" href="https://pagead2.googlesyndication.com">
<link rel="dns-prefetch" href="https://securepubads.g.doubleclick.net">
<link rel="dns-prefetch" href="https://fundingchoicesmessages.google.com">
<link rel="dns-prefetch" href="https://www.google-analytics.com">
<link rel="dns-prefetch" href="https://google-analytics.com">
<link rel="dns-prefetch" href="https://cdn.jsdelivr.net">
<link rel="dns-prefetch" href="https://googleads.g.doubleclick.net">
<link rel="dns-prefetch" href="https://tpc.googlesyndication.com">
<link rel="dns-prefetch" href="https://googletagservices.com">
<link rel="dns-prefetch" href="https://www.gstatic.com">
<link rel="dns-prefetch" href="https://www.googletagmanager.com">
<link rel="dns-prefetch" href="https://static.cloudflareinsights.com">
<link rel="dns-prefetch" href="https://cdnjs.cloudflare.com">
<link rel="dns-prefetch" href="https://www.clarity.ms">
<link rel="dns-prefetch" href="https://router.infolinks.com">
<link rel="dns-prefetch" href="https://resources.infolinks.com">
<link rel="dns-prefetch" href="https://c.clarity.ms">
<link rel="dns-prefetch" href="https://w.clarity.ms">
<link rel="dns-prefetch" href="https://c.bing.com">
<link rel="dns-prefetch" href="https://groot.mailerlite.com">
<link rel="dns-prefetch" href="https://assets.mailerlite.com">
<link rel="dns-prefetch" href="https://assets.mlcdn.com">

{{ $disabledURLs := slice "/about" "/contact" "/terms" "/privacy" }}
{{ $currentPath := .Permalink }}
{{ $disableComments := false }}
{{ range $disabledURLs }}
  {{ if (in $currentPath .) }}
    {{ $disableComments = true }}
  {{ end }}
{{ end }}
{{ if not $disableComments }}
  {{ if not (eq .Params.Comments.enable false) }}
  <link rel="preconnect" href="https://utteranc.es">
  <link rel="dns-prefetch" href="https://utteranc.es">
  {{ end }}
{{ end }}


<!-- preload and prefetch third-party js -->
{{ if not hugo.IsServer }}
  <!-- <link rel="prefetch" href="https://www.clarity.ms/tag/iifc5gpk0z" type="text/javascript" fetchpriority="high" crossorigin="anonymous">
   -->
  <link rel="prefetch" href="/p/clarity.js" type="text/javascript" fetchpriority="high" crossorigin="anonymous">
  {{ if not .IsHome }}
    <link rel="prefetch" href="https://pagead2.googlesyndication.com/pagead/managed/js/adsense/m202307180101/show_ads_impl_with_ama_fy2021.js?client=ca-pub-7261983457890123&plah=simeononsecurity.com" type="text/javascript" fetchpriority="low" crossorigin="anonymous" media="(min-width: 900px)">
    <!-- 
    <link rel="prefetch" href="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7261983457890123" type="text/javascript" fetchpriority="low" crossorigin="anonymous" media="(min-width: 900px)">
    <link rel="prefetch" href="https://pagead2.googlesyndication.com/pagead/js/lidar.js?fcd=true" type="text/javascript" fetchpriority="low" crossorigin="anonymous" media="(min-width: 900px)">
    <link rel="prefetch" href="https://fundingchoicesmessages.google.com/i/ca-pub-7261983457890123?ers=2" type="text/javascript" fetchpriority="low" crossorigin="anonymous" media="(min-width: 900px)">
    <link rel="prefetch" href="https://resources.infolinks.com/js/infolinks_main.js" type="text/javascript" fetchpriority="low" crossorigin="anonymous" media="(min-width: 900px)">
    -->
    <link rel="prefetch" href="/p/lidar.js" type="text/javascript" fetchpriority="low" crossorigin="anonymous" media="(min-width: 900px)">
    <link rel="prefetch" href="/p/g/collect" type="text/javascript" fetchpriority="low" crossorigin="anonymous" media="(min-width: 900px)">
    <link rel="prefetch" href="/p/recaptcha/api.js" type="text/javascript" fetchpriority="low" crossorigin="anonymous">
    <link rel="prefetch" href="/p/fundingchoices.js" type="text/javascript" fetchpriority="low" crossorigin="anonymous" media="(min-width: 900px)">
    <link rel="prefetch" href="/p/infolinks_main.js" type="text/javascript" fetchpriority="low" crossorigin="anonymous" media="(min-width: 900px)">
  {{ end }}
{{ end }}

{{ if and (strings.Contains .RelPermalink "/search") (eq .Section "search") }}
  <!-- 
  <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/6.6.2/fuse.min.js" as="script" type="text/javascript" fetchpriority="high" crossorigin="anonymous">
  <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/mark.min.js" as="script" type="text/javascript" fetchpriority="high" crossorigin="anonymous">
  -->
  <link rel="preload" href="/p/cdnjs/ajax/libs/fuse.js/6.6.2/fuse.min.js" as="script" type="text/javascript" fetchpriority="high" crossorigin="anonymous">
  <link rel="preload" href="/p/cdnjs/ajax/libs/mark.js/8.11.1/mark.min.js" as="script" type="text/javascript" fetchpriority="high" crossorigin="anonymous">
{{ end }}

{{ $disabledURLs := slice "/about" "/contact" "/terms" "/privacy" "/advertise" "/guest-posts" "/affiliate" }}
{{ $currentPath := .Permalink }}
{{ $disableComments := false }}
{{ range $disabledURLs }}
  {{ if (in $currentPath .) }}
    {{ $disableComments = true }}
  {{ end }}
{{ end }}
{{ if not $disableComments }}
  {{ if not (eq .Params.Comments.enable false) }}
    {{ if and (not .IsHome) (not .IsSection) }}
      <!-- 
      <link rel="preload" href="https://utteranc.es/client.js" as="script" type="text/javascript" fetchpriority="low" crossorigin="anonymous">
      -->
      <link rel="preload" href="/p/utterances/client.js" as="script" type="text/javascript" fetchpriority="low" crossorigin="anonymous">
      {{ if (.IsPage) }}
      <!-- 
      <link rel="prefetch" href="https://cdn.jsdelivr.net/npm/@justinribeiro/lite-youtube@1.5.0/lite-youtube.js" type="text/javascript" fetchpriority="low" crossorigin="anonymous">
      -->
      <link rel="prefetch" href="/p/jsdelivr/npm/@justinribeiro/lite-youtube@1.5.0/lite-youtube.js" type="text/javascript" fetchpriority="low" crossorigin="anonymous">
      {{ end }}
    {{ else}}
      <!-- 
      <link rel="prefetch" href="https://utteranc.es/client.js" type="text/javascript" fetchpriority="low" crossorigin="anonymous">
      -->
      <link rel="prefetch" href="/p/utterances/client.js" type="text/javascript" fetchpriority="low" crossorigin="anonymous">
    {{ end }}
  {{ end }}
{{ end }}
{{ partialCached "yieldToMain.html" .}} 
{{ partialCached "instantpage.html" . }}

{{ if or .Section .IsHome }}
  {{ partial "schema/articlecarosel.html" . }}
{{ end }}

<!-- 
<link rel="prefetch" href="https://utteranc.es/client.js" type="text/javascript" fetchpriority="low" crossorigin="anonymous">
-->
<link rel="prefetch" href="/p/cdnjs/ajax/libs/font-awesome/6.4.2/css/brands.min.css" as="style" fetchpriority="low">