<!-- Localization -->
{{ $currentPageTitle := .Page.Title }}
{{ $path := "" }}
{{ $dir := ""}}
{{ with .File }}
      {{ $path = $.Page.File.Path }}
      {{ $dir = $.Page.File.Dir }}
{{ else }}
      {{ $path = .Path }}
{{ end }}
{{ $currentPageDir := path.Dir $path }}
{{ $currentPageBaseName := path.Base $path }}

{{ $baseURLs := slice
    "https://simeononsecurity.com"
    "https://ar.simeononsecurity.com"
    "https://bn.simeononsecurity.com"
    "https://ca.simeononsecurity.com"
    "https://de.simeononsecurity.com"
    "https://es.simeononsecurity.com"
    "https://fr.simeononsecurity.com"
    "https://hi.simeononsecurity.com"
    "https://it.simeononsecurity.com"
    "https://ja.simeononsecurity.com"
    "https://nl.simeononsecurity.com"
    "https://pa.simeononsecurity.com"
    "https://pl.simeononsecurity.com"
    "https://pt.simeononsecurity.com"
    "https://ro.simeononsecurity.com"
    "https://ru.simeononsecurity.com"
    "https://zh.simeononsecurity.com"
  }}

  {{ $currentPageTitle := $.Page.Title }}
  
  <link rel="feed" type="application/xml" title="{{ $.Site.Title }} RSS Feed" hreflang="x-default" href="https://simeononsecurity.com/index.xml" />
  {{ range $baseURLs }}
    {{ $baseURL := . }}
    {{ $hreflang := "" }}
    {{ $localizedURL := "" }}
    {{ if eq $baseURL "https://simeononsecurity.com" }}
    {{ $hreflang = "en" }}
  {{ else if eq $baseURL "https://ar.simeononsecurity.com" }}
    {{ $hreflang = "ar" }}
  {{ else if eq $baseURL "https://bn.simeononsecurity.com" }}
    {{ $hreflang = "bn" }}
  {{ else if eq $baseURL "https://ca.simeononsecurity.com" }}
    {{ $hreflang = "ca" }}
  {{ else if eq $baseURL "https://de.simeononsecurity.com" }}
    {{ $hreflang = "de" }}
  {{ else if eq $baseURL "https://es.simeononsecurity.com" }}
    {{ $hreflang = "es" }}
  {{ else if eq $baseURL "https://fr.simeononsecurity.com" }}
    {{ $hreflang = "fr" }}
  {{ else if eq $baseURL "https://hi.simeononsecurity.com" }}
    {{ $hreflang = "hi" }}
  {{ else if eq $baseURL "https://it.simeononsecurity.com" }}
    {{ $hreflang = "it" }}
  {{ else if eq $baseURL "https://ja.simeononsecurity.com" }}
    {{ $hreflang = "ja" }}
  {{ else if eq $baseURL "https://nl.simeononsecurity.com" }}
    {{ $hreflang = "nl" }}
  {{ else if eq $baseURL "https://pa.simeononsecurity.com" }}
    {{ $hreflang = "pa" }}
  {{ else if eq $baseURL "https://pt.simeononsecurity.com" }}
    {{ $hreflang = "pt" }}
  {{ else if eq $baseURL "https://pt.simeononsecurity.com" }}
    {{ $hreflang = "pl" }}
  {{ else if eq $baseURL "https://ro.simeononsecurity.com" }}
    {{ $hreflang = "ro" }}
  {{ else if eq $baseURL "https://ru.simeononsecurity.com" }}
    {{ $hreflang = "ru" }}
  {{ else if eq $baseURL "https://zh.simeononsecurity.com" }}
    {{ $hreflang = "zh" }}
  {{ end }}
  {{ $localizedURL = printf "%s%s" $baseURL $.Page.RelPermalink }}

{{ $baseURL := . }}
{{ $sitelang := "" }}
{{ $hreflang := "" }}
{{ $localizedURL := "" }}
{{ if eq $baseURL "https://simeononsecurity.com" }}
    {{ $sitelang = "English" }}
    {{ $hreflang = "en" }}
{{ else if eq $baseURL "https://ar.simeononsecurity.com" }}
    {{ $sitelang = "العربية" }}
    {{ $hreflang = "ar" }}
{{ else if eq $baseURL "https://bn.simeononsecurity.com" }}
    {{ $sitelang = "বাংলা" }}
    {{ $hreflang = "bn" }}
{{ else if eq $baseURL "https://ca.simeononsecurity.com" }}
    {{ $sitelang = "Català" }}
    {{ $hreflang = "ca" }}
{{ else if eq $baseURL "https://de.simeononsecurity.com" }}
    {{ $sitelang = "Deutsch" }}
    {{ $hreflang = "de" }}
{{ else if eq $baseURL "https://es.simeononsecurity.com" }}
    {{ $sitelang = "Español" }}
    {{ $hreflang = "es" }}
{{ else if eq $baseURL "https://fr.simeononsecurity.com" }}
    {{ $sitelang = "Français" }}
    {{ $hreflang = "fr" }}
{{ else if eq $baseURL "https://hi.simeononsecurity.com" }}
    {{ $sitelang = "हिन्दी" }}
    {{ $hreflang = "hi" }}
{{ else if eq $baseURL "https://it.simeononsecurity.com" }}
    {{ $sitelang = "Italiano" }}
    {{ $hreflang = "it" }}
{{ else if eq $baseURL "https://ja.simeononsecurity.com" }}
    {{ $sitelang = "日本語" }}
    {{ $hreflang = "ja" }}
{{ else if eq $baseURL "https://nl.simeononsecurity.com" }}
    {{ $sitelang = "Nederlands" }}
    {{ $hreflang = "nl" }}
{{ else if eq $baseURL "https://pa.simeononsecurity.com" }}
    {{ $sitelang = "ਪੰਜਾਬੀ" }}
    {{ $hreflang = "pa" }}
{{ else if eq $baseURL "https://pt.simeononsecurity.com" }}
    {{ $sitelang = "Português" }}
    {{ $hreflang = "pt" }}
{{ else if eq $baseURL "https://pl.simeononsecurity.com" }}
    {{ $sitelang = "Polski" }}
    {{ $hreflang = "pl" }}
{{ else if eq $baseURL "https://ro.simeononsecurity.com" }}
    {{ $sitelang = "Română" }}
    {{ $hreflang = "ro" }}
{{ else if eq $baseURL "https://ru.simeononsecurity.com" }}
    {{ $sitelang = "Русский" }}
    {{ $hreflang = "ru" }}
{{ else if eq $baseURL "https://zh.simeononsecurity.com" }}
    {{ $sitelang = "中文" }}
    {{ $hreflang = "zh" }}
{{ end }}
  {{ $localizedURL = printf "%s%s" $baseURL $.Page.RelPermalink }}
  {{ if or $.IsHome $.IsSection (in $.Type "section") }}
      <link rel="alternate" title="{{ $currentPageTitle }} in {{ $sitelang }}" href="{{ $localizedURL }}" hreflang="{{ $hreflang }}" />
      <link rel="feed" type="application/xml" title="{{ $.Site.Title }} RSS Feed in {{ $sitelang }}" hreflang="{{ $hreflang }}" href="{{ $baseURL }}/index.xml" />
      <link rel="feed" type="application/xml" title="{{ $.Site.Title }} RSS All Feed in {{ $sitelang }}" hreflang="{{ $hreflang }}" href="{{ $baseURL }}/rssall.xml" />
      <link rel="feed" type="application/xml" title="{{ $.Site.Title }} RSS Full Text Feed in {{ $sitelang }}" hreflang="{{ $hreflang }}" href="{{ $baseURL }}/fulltext.xml" />
      <link rel="sitemap" type="application/xml" title="{{ $.Site.Title }} Sitemap in {{ $sitelang }}" hreflang="{{ $hreflang }}" href="{{ $baseURL }}/sitemap.xml" />
      <link rel="sitemap" type="application/xml" title="{{ $.Site.Title }} Sitemap Index in {{ $sitelang }}" hreflang="{{ $hreflang }}" href="{{ $baseURL }}/sitemap-index.xml" />
      <link rel="sitemap" type="application/xml" title="{{ $.Site.Title }} Images Sitemap in {{ $sitelang }}" hreflang="{{ $hreflang }}" href="{{ $baseURL }}/imagessitemap.xml" />
      <link rel="sitemap" type="application/xml" title="{{ $.Site.Title }} News Sitemap in {{ $sitelang }}" hreflang="{{ $hreflang }}" href="{{ $baseURL }}/news.xml" />
      <link rel="preconnect" href="{{ $baseURL }}" >
      <link rel="dns-prefetch" href="{{ $baseURL }}" >
  {{ else }}
      {{ $localizedFilePath := printf "/content/%s/index.%s.md" $currentPageDir $hreflang }}
      {{ $localizedFilePath2 := printf "/content/%s/index.%s.html" $currentPageDir $hreflang }}
      {{ $localizedFilePath3 := printf "/content/%s/_index.%s.md" $currentPageDir $hreflang }}
      {{ $localizedFilePath4 := printf "/content/%s/_index.%s.html" $currentPageDir $hreflang }}
      {{ $localizedFileExists := fileExists $localizedFilePath }}
      {{ $localizedFileExists2 := fileExists $localizedFilePath2 }}
      {{ $localizedFileExists3 := fileExists $localizedFilePath3 }}
      {{ $localizedFileExists4 := fileExists $localizedFilePath4 }}
      {{ if or (eq $baseURL "https://simeononsecurity.com") $localizedFileExists $localizedFileExists2 $localizedFileExists3 $localizedFileExists4 }}
          <link rel="alternate" title="{{ $currentPageTitle }} in {{ $sitelang }}" href="{{ $localizedURL }}" hreflang="{{ $hreflang }}" />
          <link rel="feed" type="application/xml" title="{{ $.Site.Title }} RSS Feed in {{ $sitelang }}" hreflang="{{ $hreflang }}" href="{{ $baseURL }}/index.xml" />
          <link rel="feed" type="application/xml" title="{{ $.Site.Title }} RSS All Feed in {{ $sitelang }}" hreflang="{{ $hreflang }}" href="{{ $baseURL }}/rssall.xml" />
          <link rel="feed" type="application/xml" title="{{ $.Site.Title }} RSS Full Text Feed in {{ $sitelang }}" hreflang="{{ $hreflang }}" href="{{ $baseURL }}/fulltext.xml" />
          <link rel="sitemap" type="application/xml" title="{{ $.Site.Title }} Sitemap in {{ $sitelang }}" hreflang="{{ $hreflang }}" href="{{ $baseURL }}/sitemap.xml" />
          <link rel="sitemap" type="application/xml" title="{{ $.Site.Title }} Sitemap Index in {{ $sitelang }}" hreflang="{{ $hreflang }}" href="{{ $baseURL }}/sitemap-index.xml" />
          <link rel="sitemap" type="application/xml" title="{{ $.Site.Title }} Images Sitemap in {{ $sitelang }}" hreflang="{{ $hreflang }}" href="{{ $baseURL }}/imagessitemap.xml" />
          <link rel="sitemap" type="application/xml" title="{{ $.Site.Title }} News Sitemap in {{ $sitelang }}" hreflang="{{ $hreflang }}" href="{{ $baseURL }}/news.xml" />
          <link rel="preconnect" href="{{ $baseURL }}" >
          <link rel="dns-prefetch" href="{{ $baseURL }}" >
      {{ end }}
  {{ end }}
{{ end }}
  
{{ if or (eq .Site.Language.Lang "en") (eq .Site.Language.Lang "EN")}}
  <link rel="feed" type="application/xml" title="SimeonOnSecurity's Feedburner RSS Feed All Articles" href="https://feeds.feedburner.com/simeononsecurity-all" />
  <link rel="feed" type="application/xml" title="SimeonOnSecurity's Feedburner RSS Feed Full Text Articles" href="https://feeds.feedburner.com/simeononsecurity-fulltext" />
  <link rel="feed" type="application/xml" title="SimeonOnSecurity's Feedburner RSS Feed SmartNews Articles" href="https://feeds.feedburner.com/simeononsecurity-smartnews" />
  <link rel="feed" type="application/xml" title="SimeonOnSecurity's Feedburner RSS Feed" href="https://feeds.feedburner.com/simeononsecuritycom" />
  <link rel="feed" type="application/xml" title="SimeonOnSecurity's Feedburner YouTube Video RSS Feed" href="https://feeds.feedburner.com/simeononsecurity-youtube" />
{{ end }}

<!-- RSS | JSON -->
{{ range .AlternativeOutputFormats -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}