{{- $pc := .Site.Config.Privacy.GoogleAnalytics -}}
{{- if not $pc.Disable -}}
{{ with .Site.GoogleAnalytics }}
<script>
{{ template "__ga_js_set_doNotTrack" $ }}
if (!doNotTrack) {
  (function(e,t,n,i,s,a,c){e[n]=e[n]||function(){(e[n].q=e[n].q||[]).push(arguments)}
  ;a=t.createElement(i);c=t.getElementsByTagName(i)[0];a.async=true;a.src=s
  ;m.parentNode.insertBefore(a,m)
  })(window,document,"galite","script","/p/jsdelivr/npm/ga-lite@2/dist/ga-lite.min.js");

  {{- if $pc.UseSessionStorage }}
  if (window.sessionStorage) {
    var GA_SESSION_STORAGE_KEY = 'ga:clientId';
    galite('create', '{{ . }}', {
      'storage': 'none',
      'clientId': sessionStorage.getItem(GA_SESSION_STORAGE_KEY)
    });
    galite(function(tracker) {
      sessionStorage.setItem(GA_SESSION_STORAGE_KEY, tracker.get('clientId'));
    });
  }
  {{ else }}
  galite('create', '{{ . }}', 'auto');
  {{ end -}}
  {{ if $pc.AnonymizeIP }}galite('set', 'anonymizeIp', true);{{ end }}
  galite('send', 'pageview');
}
</script>
{{ end }}
{{- end -}}
{{- define "__ga_js_set_doNotTrack" -}}{{/* This is also used in the async version. */}}
{{- $pc := .Site.Config.Privacy.GoogleAnalytics -}}
{{- if not $pc.RespectDoNotTrack -}}
var doNotTrack = false;
{{- else -}}
var dnt = (navigator.doNotTrack || window.doNotTrack || navigator.msDoNotTrack);
var doNotTrack = (dnt == "1" || dnt == "yes");
{{- end -}}
{{- end -}}
