{{- $pc := .Site.Config.Privacy.GoogleAnalytics -}}
{{- if not $pc.Disable -}}
{{ with .Site.GoogleAnalytics }}
<script type="application/javascript" async>
(function(e,t,n,i,s,a,c){e[n]=e[n]||function(){(e[n].q=e[n].q||[]).push(arguments)}
;a=t.createElement(i);c=t.getElementsByTagName(i)[0];a.async=true;a.src=s
;c.parentNode.insertBefore(a,c)
})(window,document,"galite","script","/p/jsdelivr/npm/ga-lite@2/dist/ga-lite.min.js");

{{ template "__ga_js_set_doNotTrack" $ }}
if (!doNotTrack) {
  galite('create', '{{ . }}', {
    'storage': 'none',
    'clientId': sessionStorage.getItem('GA_SESSION_STORAGE_KEY')
  });
  galite(function(tracker) {
    sessionStorage.setItem('GA_SESSION_STORAGE_KEY', tracker.get('clientId'));
  });
  {{ if $pc.AnonymizeIP }}galite('set', 'anonymizeIp', true);{{ end }}
  galite('send', 'pageview');
}
</script>
{{ end }}
{{- end -}}
