{{ $twitter_image := "" }}
{{ $twitter_image_alt := or .Params.coverAlt .Title }}
{{- $desc := "" -}}
{{- if strings.Contains $.Permalink "/tags/" -}}{{- $desc = printf "Read up on more articles about %s." (.Title | markdownify | plainify) -}}{{- else if .Description -}}{{- $desc = .Description -}}{{- else if .IsPage -}}{{- $desc = .Summary | plainify -}}{{- else -}}{{- $desc = $.Site.Params.description -}}{{- end -}}
{{- $desc = $desc | truncate 160 -}}
{{ if .Params.cover }}
  {{ $twitter_image = .Params.cover | absURL }}
  {{ $coverPath := .Params.cover | strings.TrimPrefix "/" }}
  {{ $cover := resources.Get $coverPath }}
  {{ if .Params.UseRelativeCover }}{{ $cover = resources.GetRemote (printf "%s%s" .Permalink .Params.Cover) }}{{ end }}
  {{ if $cover }}
    {{ $optimizedimage := ($cover.Resize "1200x630 webp q80") }}
    {{ $permalink := replace $cover.RelPermalink (printf ".%s" $cover.MediaType.SubType) "" }}
    {{ $filename := printf "%s_%dx%d.%s" $permalink $optimizedimage.Width $optimizedimage.Height "webp" | urlize }}
    {{ $renamedimage := $optimizedimage | resources.Copy $filename }}
    {{ $twitter_image = $renamedimage.Permalink }}
  {{ end }}
{{ else if .Params.images }}
  {{ $twitter_image = index .Params.images 0 | absURL }}
{{ else }}
  {{/* Auto-detect cover image by page slug: try webp, png, jpeg, jpg in static/img/cover/ */}}
  {{ $slug := .Slug }}
  {{ $detected := "" }}
  {{ range slice "webp" "png" "jpeg" "jpg" }}
    {{ if not $detected }}
      {{ $checkPath := printf "static/img/cover/%s.%s" $slug . }}
      {{ if os.FileExists $checkPath }}
        {{ $detected = printf "/img/cover/%s.%s" $slug . | absURL }}
      {{ end }}
    {{ end }}
  {{ end }}
  {{ if $detected }}
    {{ $twitter_image = $detected }}
  {{ else }}
    {{ $twitter_image = index $.Site.Params.images 0 | absURL }}
  {{ end }}
{{ end }}
{{ $title := .Title }}
{{ if strings.Contains $.Permalink "/tags/" }}
    {{ $title = printf "Other Posts Tagged %q" .Title }}
{{ end }}
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:image" content="{{ $twitter_image }}"/>
<meta name="twitter:image:alt" content="{{ $twitter_image_alt }}"/>
<meta name="twitter:title" content="{{ $title }}"/>
<meta name="twitter:description" content="{{ $desc }}"/>
{{ with .Site.Params.Social.twitter -}}
<meta name="twitter:site" content="@{{ . }}"/>
{{ else -}}
<meta name="twitter:site" content="@simeonsecurity"/>
{{ end -}}
{{ range .Site.Params.Author }}
{{ with .twitter -}}
<meta name="twitter:creator" content="@{{ . }}"/>
{{ end -}}
{{ end -}}
