{{ $detectedimage := "" }}
{{ $twitter_image := "" }}
{{ if .Params.cover }}
  {{ $cover := resources.Get (.Params.Cover) }}
  {{ $detectedimage = ( .Params.cover | absURL) }}
  {{ if .Params.UseRelativeCover }}{{ $cover = resources.GetRemote (printf "%s%s" .Permalink .Params.Cover) }}{{ end }}
  {{ $optimizedimage := ($cover.Resize "1200x630 webp q80") }}
  {{ $twitter_image = $optimizedimage.Permalink}}
{{ else }}
  {{ if .Params.images }}
    {{ $twitter_image = index .Params.images 0 | absURL }}
  {{ else }}
    {{ $twitter_image = index $.Site.Params.images 0 | absURL }}
  {{ end }}
{{ end }}
<meta property="og:image" content="{{ $twitter_image }}" />
<meta itemprop="image" content="{{ $twitter_image }}">
{{ $title := .Title }}
{{ if strings.Contains $.Permalink "/tags/" }}
    {{ $title = printf "Other Posts Tagged %q" .Title }}
{{ end }}
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:image" content="{{ $twitter_image }}"/>
<meta name="twitter:title" content="{{ $title }}"/>
<meta name="twitter:description" content="{{ if strings.Contains .Permalink "/tags/" }}Read up on more articles about {{ .Title | markdownify }}. {{ end }}{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end -}}"/>
{{ with .Site.Social.twitter -}}
<meta name="twitter:site" content="@{{ . }}"/>
{{ end -}}
{{ range .Site.Authors }}
{{ with .twitter -}}
<meta name="twitter:creator" content="@{{ . }}"/>
{{ end -}}
{{ end -}}