{{ $languageCode := $.Site.LanguageCode }}
<!DOCTYPE html>
<html lang="{{ $.Site.Language }}" itemscope itemtype="http://schema.org/WebPage">
  <head>
    {{ block "title" . }}
      <title itemprop="name">
        {{ if .IsHome }}{{ $.Site.Title }}{{ with $.Site.Params.Subtitle }} — {{ . }}{{ end }}
        {{ else }}
        {{ if strings.Contains $.Permalink "/tags/" }}{{ i18n "other_posts_tagged" }} "{{ .Title }}"
        {{ else }}{{ .Title }}{{ end }}
        {{ end }}
      </title>
    {{ end }}
    {{ partial "head.html" . }}
  </head>
  <body class="{{ if ne $.Site.Params.defaultTheme "light" -}} dark-theme {{- end -}}">
    <a href="#" hreflang="{{ $languageCode }}" title="top" class="top"></a>
    <div class="container" itemprop="mainContentOfPage">
      {{ partial "header.html" . }}

      <div class="content">
        {{ block "main" . }} {{ end }}
      </div>

      {{ block "footer" . }}
        {{ partial "footer.html" . }}
      {{ end }}
    </div>
  </body>
</html>
