{{ define "main" }}
{{ partial "breadcrumbs.html" . }}
  <h1 class="post-title"><a title="{{ .Title | markdownify }}" href="{{ .Permalink }}">{{ if strings.Contains $.Permalink "/tags/" }}Other Posts Tagged "<u>{{ .Title | markdownify }}</u>"{{ else }}{{ .Title | markdownify }}{{ end }}</a></h1>
  <div class="posts">
    {{ range .Paginator.Pages }}
    <div id="ad-placeholder" class="google-ad-banner" style="width: 100%;  height: 100px !important; max-height: 300px !important;">
      {{ partial "displayads-responsive-horizontal.html" . }}
    </div>
      <article class="post on-list">
        <h2 class="post-title"><a href="{{ .Permalink }}" title="{{ .Title | markdownify }}">{{ .Title | markdownify }}</a></h2>
        <div class="post-meta">
          {{ if .Date }}
            <time class="post-date">
              {{ .Date.Format ($.Site.Params.DateFormatList | default "2006-01-02") }}
            </time>

            {{ if $.Site.Params.LastModDisplay }}
              {{ partial "lastmod.html" . }}
            {{ end }}
          {{ end }}
          {{ with .Params.Author }}
            <span class="post-author"
              >— {{ $.Site.Params.WrittenBy | default "Written by" }} {{ . }}</span
            >{{ end }}


          {{ if $.Site.Params.ShowReadingTime }}
            <span class="post-read-time"
              >— {{ .ReadingTime }} {{ $.Site.Params.MinuteReadingTime | default "min read" }}</span
            >
          {{ end }}
        </div>

        <div class="post-content">
          {{ with .Description }}
            {{ . | markdownify }}
            {{ else }}
            {{ if .Truncated }}
              {{ .Summary }}
            {{ end }}
          {{ end }}
        </div>

        {{ if .Params.Cover }}
          {{ partial "postcover.html" . }}
        {{ end }}

        {{ if .Params.tags }}
          <span class="post-tags">
            {{ range .Params.tags }}
              <a href="{{ (urlize (printf "tags/%s" . )) | absLangURL }}/" title="{{ . }}">#{{ . }}</a>&nbsp;
            {{ end }}
          </span>
        {{ end }}

        {{ if not .Params.hideReadMore }}
          <div>
            <a class="read-more button" title="read more" href="{{ .RelPermalink }}"
              >{{ $.Site.Params.ReadMore | default "Read more" }} →</a
            >
          </div>
        {{ end }}
      </article>
    {{ end }}
    {{ partial "pagination.html" . }}
  </div>
{{ end }}
