{{ define "main" }}
{{ partialCached "breadcrumbs.html" . .Page .Page.Page .Site.Language.Lang .Language.Lang}}
<br>
{{ partialCached "ads/random-eager.html" .Page .Page.Page }}
{{ partialCached "ads/random-eager-floating.html" .Page .Page.Page }}
<br>
{{ $languageCode := $.Site.LanguageCode }}
  <h1 class="post-title"><a title="{{ .Title | markdownify }}" href="{{ .Permalink }}" hreflang="{{ $languageCode }}">{{ if strings.Contains $.Permalink "/tags/" }}Other Posts Tagged "<u>{{ .Title | markdownify }}</u>"{{ else }}{{ .Title | markdownify }}{{ end }}</a></h1>
  <div class="posts" itemscope itemtype="https://schema.org/Blog">
    {{ $counter := 0 }}
    {{ range .Paginator.Pages }}
      {{ $counter = add $counter 1 }}
      {{ $imgloading := "" }}
      {{ if eq $counter 1 }}
        {{ $imgloading = "eager" }}
      {{ else }}
        {{ $imgloading = "lazy" }}
      {{ end }}
      <article class="post on-list" itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting">
        <h2 class="post-title" itemprop="headline"><a href="{{ .Permalink }}" title="{{ .Title | markdownify }}" itemprop="url">{{ .Title | markdownify }}</a></h2>
        <div class="post-meta">
          {{ if .Date }}
            <time class="post-date" itemprop="datePublished" content="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format ($.Site.Params.DateFormatList | default "2006-01-02") }}</time>
            {{ if $.Site.Params.LastModDisplay }}
              {{ partialCached "lastmod.html" . .Page .Page.Page .Site.Language.Lang .Language.Lang}}
            {{ end }}
          {{ end }}
          {{ $excludePaths := slice "/about" "/contact" "/terms" "/privacy" "/authors" "/tools" "/practice-tests"}}
          {{ $currentPath := .Permalink }}
          {{ if not (in $currentPath $excludePaths) }}
          {{ $authorURL := "" }}
          {{ if .Params.Author }}
            {{ with .Params.Author }}
                {{ $authorURL = printf "/authors/%s" (lower $.Params.Author) | absURL }}
            {{ else }}
                {{ $authorURL =  ("/authors/simeononsecurity"| absURL) }}
            {{ end }}
          {{ end }}
            {{ if .Params.Author }}
              {{ with .Params.Author }}
                <span itemscope itemtype="https://schema.org/author">
                  <span class="post-author" itemscope itemtype="https://schema.org/Person">
                    — {{ $.Site.Params.WrittenBy | default "Written by" }} 
                    <a href="{{ $authorURL }}" hreflang="{{ $languageCode }}" itemprop="url">
                      <span itemprop="name">{{ . }}</span>
                    </a>
                  </span>
                </span>
              {{ end }}
            {{ else }}
              <span itemscope itemtype="https://schema.org/author">
                <span class="post-author" itemscope itemtype="https://schema.org/Person">
                  — {{ $.Site.Params.WrittenBy | default "Written by" }} 
                  <a href="{{ ("/authors/simeononsecurity" | absURL) }}" hreflang="{{ $languageCode }}" itemprop="url">
                    <span itemprop="name">SimeonOnSecurity</span>
                  </a>
                </span>
              </span>
            {{ end }}
          {{ end }}
          {{ if $.Site.Params.ShowReadingTime }}
            <span class="post-read-time">— {{ .ReadingTime }} {{ $.Site.Params.MinuteReadingTime | default "min read" }}</span>
          {{ end }}
        </div>
        <div class="post-content" itemprop="articleBody">
          {{ with .Description }}
            {{ . | markdownify }}
          {{ else }}
            {{ if .Truncated }}
              {{ .Summary }}
            {{ end }}
          {{ end }}
        </div>
        {{ if .Params.Cover }}
          <a href="{{ .Permalink }}" title="{{ .Title | markdownify }}" itemprop="url">
            {{ partialCached "postcover.html" (dict "context" . "imgloading" $imgloading) .Page .Page.Page}}
          </a>
        {{ end }}
        {{ if .Params.tags }}
          {{ $filteredTags := slice }}
          {{ range .Params.tags }}
            {{ if ge ($.Site.Taxonomies.tags.Count .) 2 }}
              {{ $filteredTags = $filteredTags | append . }}
            {{ end }}
          {{ end }}
          {{ with $filteredTags }}
            {{/*  <h2>Tags</h2>  */}}
            <span class="post-tags">
              {{ range . }}
                <a href="{{ (urlize (printf "tags/%s" .)) | absLangURL }}/" hreflang="{{ $languageCode }}" title="{{ . }}">#{{ . }}</a>&nbsp;
              {{ end }}
            </span>
          {{ end }}
        {{ end }}
        {{ if not .Params.hideReadMore }}
          <div>
            <a class="read-more button" title="read more" href="{{ .RelPermalink }}" hreflang="{{ $languageCode }}">{{ $.Site.Params.ReadMore | default "Read more" }} →</a>
          </div>
        {{ end }}
      </article>
    {{ end }}
    {{ partial "pagination.html" . .Paginator .Page .Page.Page .Site.Language.Lang .Language.Lang}}
    {{ partialCached "displayads-responsive-horizontal-index.list..html" . }}
  </div>
{{ end }}
