{{ define "main" }}
  <div class="terms">
    <h1>{{ .Title }}</h1>
    <ul class="terms__list">
      {{ $type := .Type }}
      {{ $counter := 0 }}
      {{ range $key, $value := .Data.Terms.Alphabetical }}
        {{ if lt $counter 20 }}
          {{ $name := .Name }}
          {{ $count := .Count }}
          {{ with $.Site.GetPage (printf "/%s/%s" $type $name) }}
            <li class="terms__term">
              <a title="{{ .Title | markdownify }} | Articles with this tag" href="{{ .Permalink }}"
                >#{{ .Name }} <span class="terms__term-count">{{ $count }}</span></a
              >
            </li>
            {{ $counter = add $counter 1 }}
          {{ end }}
        {{ end }}
      {{ end }}
    </ul>
  </div>
{{ end }}
