{{ $ref := .Get "href" }}
{{ $target := "" }}
{{ with $ref }}
  {{ $target = "_blank" }}
{{ end }}
{{ with .Get "relref" }}
  {{ $ref = relref $ . }}
{{ end }}

{{ $class := ""}}
{{ with .Get "class" }} 
    {{ $class = "markdown-button" | append . }}
{{ end }}

{{ $contentname := (or $.Page.Title $.Inner) | safeHTML }}
{{ $title := $contentname }}
{{ $url := "" }}
{{ with $ref }}
    {{ $url = . }}
{{ end }}

{{ $description := "" }}
{{ with .Get "description" }}
  {{ $description = . }}
{{ end }}

{{ $baseURLs := slice
    "https://simeononsecurity.ch"
    "https://simeononsecurity.com"
    "https://ar.simeononsecurity.com"
    "https://bn.simeononsecurity.com"
    "https://ca.simeononsecurity.com"
    "https://de.simeononsecurity.com"
    "https://es.simeononsecurity.com"
    "https://fr.simeononsecurity.com"
    "https://hi.simeononsecurity.com"
    "https://it.simeononsecurity.com"
    "https://ja.simeononsecurity.com"
    "https://nl.simeononsecurity.com"
    "https://pa.simeononsecurity.com"
    "https://pl.simeononsecurity.com"
    "https://pt.simeononsecurity.com"
    "https://ro.simeononsecurity.com"
    "https://ru.simeononsecurity.com"
    "https://zh.simeononsecurity.com"
}}

{{ $affiliateURLs := slice
    "amazon.com"
    "amzn.to"
    "amazon.co.uk"
    "amazon.de"
    "amazon.fr"
    "amazon.it"
    "amazon.es"
    "amazon.ca"
    "amazon.com.mx"
    "amazon.com.br"
    "amazon.com.au"
    "amazon.co.jp"
    "amazon.in"
    "amazon.nl"
    "amazon.com.tr"
    "amazon.ae"
    "amazon.sa"
    "amazon.cn"
    "bitdefender.f9tmep.net"
    "joindeleteme.com/refer?coupon="
    "earnapp.com"
    "r.honeygain.me"
    "nextdns.io/?from="
    "affiliate.orangewebsite.com"
    "pawns.app/?r="
    "?rid="
    "?r="
    "?ref="
    "?aff="
    "?from="
    "startmail.com/en/partner/?ref="
    "presearch.com/signup?rid="
    "link.repocket.co"
    "traffmonetizer.com/?aff="
    "https://www.unmineable.com/?ref="
    "geni.us"
}}

{{ $isBaseURL := false }}
{{ $isaffiliateURL := false }}

{{ range $baseURL := $baseURLs }}
    {{ if strings.Contains $url $baseURL }}
        {{ $isBaseURL = true }}
        {{ break }}
    {{ end }}
{{ end }}

{{ range $affiliateURL := $affiliateURLs }}
    {{ if strings.Contains $url $affiliateURL }}
        {{ $isaffiliateURL = true }}
        {{ break }}
    {{ end }}
{{ end }}

<span itemscope itemtype="https://schema.org/WebPage">
    <meta itemprop="name" content="{{ $contentname }}">
    <meta itemprop="url" content="{{ $url }}">
    <a href="{{ $url }}" title="{{ $title }}"
        {{ with $target }} target="{{.}}" {{ end }}
        class="markdown-btn{{ $class }}"
        {{ if or (not (strings.Contains $url "http")) $isBaseURL }}
            rel="follow" alt="{{ $title }}"
        {{ else if strings.HasPrefix $url "http" }}
            {{ if not $isBaseURL }}
                {{ if $isaffiliateURL }}
                    rel="nofollow noopener external sponsored" alt="Affiliate Link" 
                {{ else }}
                    rel="noopener external" alt="{{ $title }}"
                {{ end }}
            {{ end }}
        {{ end }}>
        <button class="markdown-button">
            {{- .Inner | safeHTML -}}
        </button>
    </a>
    <p>{{ $description }}</p>
</span>

