
{{ $baseURLs := slice
    "https://simeononsecurity.com"
    "https://simeononsecurity.com"
    "https://ar.simeononsecurity.com"
    "https://bn.simeononsecurity.com"
    "https://ca.simeononsecurity.com"
    "https://de.simeononsecurity.com"
    "https://es.simeononsecurity.com"
    "https://fr.simeononsecurity.com"
    "https://hi.simeononsecurity.com"
    "https://it.simeononsecurity.com"
    "https://ja.simeononsecurity.com"
    "https://nl.simeononsecurity.com"
    "https://pa.simeononsecurity.com"
    "https://pl.simeononsecurity.com"
    "https://pt.simeononsecurity.com"
    "https://ro.simeononsecurity.com"
    "https://ru.simeononsecurity.com"
    "https://zh.simeononsecurity.com"
}}

{{ $affiliateURLs := slice
    "amazon.com"
    "amzn.to"
    "amazon.co.uk"
    "amazon.de"
    "amazon.fr"
    "amazon.it"
    "amazon.es"
    "amazon.ca"
    "amazon.com.mx"
    "amazon.com.br"
    "amazon.com.au"
    "amazon.co.jp"
    "amazon.in"
    "amazon.nl"
    "amazon.com.tr"
    "amazon.ae"
    "amazon.sa"
    "amazon.cn"
    "bitdefender.f9tmep.net"
    "joindeleteme.com/refer?coupon="
    "earnapp.com"
    "r.honeygain.me"
    "nextdns.io/?from="
    "affiliate.orangewebsite.com"
    "pawns.app/?r="
    "?rid="
    "?r="
    "?ref="
    "?aff="
    "?from="
    "startmail.com/en/partner/?ref="
    "presearch.com/signup?rid="
    "link.repocket.co"
    "traffmonetizer.com/?aff="
    "https://www.unmineable.com/?ref="
    "geni.us"
}}

{{ $untrustedURLs := slice
    "wholovesburrito.com"
}}

{{ $isBaseURL := false }}
{{ $isaffiliateURL := false }}
{{ $isUntrustedURL := false }}

{{ range $baseURL := $baseURLs }}
    {{ if strings.Contains ($.Get "link") $baseURL }}
        {{ $isBaseURL = true }}
        {{ break }}
    {{ end }}
{{ end }}

{{ range $affiliateURL := $affiliateURLs }}
    {{ if strings.Contains ($.Get "link") $affiliateURL }}
        {{ $isaffiliateURL = true }}
        {{ break }}
    {{ end }}
{{ end }}

{{ range $untrustedURL := $untrustedURLs }}
    {{ if strings.Contains ($.Get "link") $untrustedURL }}
        {{ $isUntrustedURL = true }}
        {{ break }}
    {{ end }}
{{ end }}

{{ $rel := "" }}
{{ $alt := "" }}

{{ if or (not (strings.Contains ($.Get "link") "http")) $isBaseURL }}
    {{ $rel = "follow me" }}
{{ else if strings.HasPrefix ($.Get "link") "http" }}
    {{ if not $isBaseURL }}
        {{ if $isaffiliateURL }}
            {{ $rel = "nofollow noopener external sponsored" }}
            {{ $alt = "Affiliate Link" }}
        {{ else }}
            {{ if $isUntrustedURL }}
                {{ $rel = "nofollow noreferrer noopener external" }}
            {{ else }}
                {{ $rel = "noopener external" }}
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}

{{ $authorURL := ""}}
{{ if .Params.Author }}
  {{ with .Params.Author }}
      {{ $authorURL =  ("/authors/({{ . | lower }})" | absURL) }}
  {{ else }}
      {{ $authorURL =  ("/authors/simeononsecurity" | absURL) }}
  {{ end }}
{{ end }}

{{ $articleDate := .Params.date | default now }}
{{ $articleYear := $articleDate.Year }}
<script type="application/ld+json">
{
    "@context": "https://schema.org/",
    "@type": "ImageObject",
    "contentUrl": "{{ ($.Get "link") | absURL }}",
    "caption": "{{ or $alt (.Get "alt") (.Get "caption") | default "" }}",
    "license": "https://simeononsecurity.com/termsandconditions/",
    "acquireLicensePage": "https://simeononsecurity.com/contactus/",
    "creditText": "SimeonOnSecurity",
    "creator": {
    "@type": "Person",
    "name": "SimeonOnSecurity"
    },
    "copyrightNotice": "SimeonOnSecurity",
    "associatedArticle": {
    "@type": "NewsArticle",
    "headline": "{{ .Page.Title }}",
    "url": "{{ .Page.Permalink }}",
    "datePublished": "{{ $articleDate | default $articleYear }}",
    "author": {
        "@type": "Person",
        "name": "{{ .Page.Params.Author | default "SimeonOnSecurity" }}",
        "url": "{{ $authorURL | default ("/authors/simeononsecurity" | absURL )}}"
    }
    }
}
</script> 


<center>
    <figure align="center" style="text-align: center; margin: 0 auto;" {{ with .Get "class" }} class="{{ . }}"{{ end }} itemscope itemtype="http://schema.org/ImageObject">
        <meta property="article:published_time" content="{{ $articleDate | default $articleYear }}">
        <meta property="article:author" content="{{ .Page.Params.Author | default "SimeonOnSecurity" }}">
        <meta property="article:author:url" content="{{ $authorURL | default ("/authors/simeononsecurity" | absURL) }}">
        <meta property="og:license" content="https://simeononsecurity.com/termsandconditions/">
        <meta property="og:see_also" content="https://simeononsecurity.com/contactus/">
        <meta property="og:copyright" content="SimeonOnSecurity">
        {{- if .Get "link" -}}
            <a href="{{ .Get "link" }}"{{ with .Get "target" }} target="{{ . }}"{{ end }} alt="{{ or $alt (.Get "alt") (.Get "caption") }}" rel="{{ $rel }}" {{ with .Get "rel" }} rel="{{ . }}"{{ end }}>
        {{- end }}
        {{ $src := .Get "src" }}
        {{ with $src }}
            {{ if not (in (lower $src) (slice "http://" "https://")) }}
                {{ $src = printf "%s%s" $.Page.Permalink $src | absURL }}
            {{ end }}
        {{ end }}
        <img align="center" style="text-align: center; margin: 0 auto; max-width: 80%; max-height: 600px; min-width: 100px; min-height: 100px; height: auto; width: auto;" src="{{ $src }}"
             {{- if or (.Get "alt") (.Get "caption") }}
             alt="{{ with .Get "alt" }}{{ . }}{{ else }}{{ .Get "caption" | markdownify| plainify }}{{ end }}"
             {{- end -}}
             {{- with .Get "width" }} width="{{ . }}"{{ end -}}
             {{- with .Get "height" }} height="{{ . }}"{{ end -}}
             loading="lazy"
             fetchpriority="low"
             itemprop="contentUrl"
        /> <!-- Closing img tag -->
        {{- if .Get "link" }}</a>{{ end -}}
        {{- if or (or (.Get "title") (.Get "caption")) (.Get "attr") -}}
            <figcaption align="center" style="text-align: center; margin: 0 auto;" itemprop="caption description">
                {{ with (.Get "title") -}}
                    <h4 itemprop="name">{{ . }}</h4>
                {{- end -}}
                {{- if or (.Get "caption") (.Get "attr") -}}<p>
                    {{- .Get "caption" | markdownify -}}
                    {{- with .Get "attrlink" }}
                        <a href="{{ . }}">
                    {{- end -}}
                    {{- .Get "attr" | markdownify -}}
                    {{- if .Get "attrlink" }}</a>{{ end }}</p>
                {{- end }}
            </figcaption>
        {{- end }}
    </figure>    
</center>
