{{- $pc := .Page.Site.Config.Privacy.Instagram -}}
{{- if not $pc.Disable -}}
{{- if $pc.Simple -}}
{{ template "_internal/shortcodes/instagram_simple.html" . }}
{{- else -}}
{{ $id := .Get 0 }}
{{ $hideCaption := cond (eq (.Get 1) "hidecaption") "1" "0" }}
{{ $url := printf "https://api.instagram.com/oembed/?url=https://instagram.com/p/%s/&hidecaption=%s" $id $hideCaption }}
{{ $remoteData := resources.GetRemote $url }}
{{ $json := $remoteData.Content | transform.Unmarshal }}
{{ $json.html | safeHTML }}
{{- end -}}
{{- end -}}
