<script defer type="module" src="https://cdn.jsdelivr.net/npm/@justinribeiro/lite-youtube@1.5.0/lite-youtube.js"></script>
<style scoped>
  .lite-youtube-fallback {
    aspect-ratio: 16 / 9; /* matches YouTube player */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    background-color: #000;
    color: #fff;
    text-decoration: none;
  }
  
  /* right-facing triangle "Play" icon */
  .lite-youtube-fallback::before {
    display: block;
    content: '';
    border: solid transparent;
    border-width: 2em 0 2em 3em;
    border-left-color: red;
  }
  
  .lite-youtube-fallback:hover::before {
    border-left-color: #fff;
  }
  
  .lite-youtube-fallback:focus {
    outline: 2px solid red;
  }
</style>
{{- $pc := .Page.Site.Config.Privacy.YouTube -}}
{{- if not $pc.Disable -}}
{{- $ytHost := cond $pc.PrivacyEnhanced  "www.youtube-nocookie.com" "www.youtube.com" -}}
{{- $cookie := cond $pc.PrivacyEnhanced  "true" "false" -}}
{{- $id := .Get "id" | default (.Get 0) -}}
{{- $class := .Get "class" | default (.Get 1) -}}
{{- $title := .Get "title" | default "YouTube Video" -}}
{{- $description := .Get "description" | default "" -}}
{{- $thumbnailUrl := printf "https://img.youtube.com/vi/%s/maxresdefault.jpg" $id -}}
{{- $uploadDate := .Page.Date.Format "2006-01-02" -}}
<div itemscope itemtype="http://schema.org/VideoObject http://schema.org/LearningResource" {{ with $class }}class="{{ . }}"{{ else }}style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;"{{ end }}>
  <meta itemprop="name" content="{{ $title }}">
  <meta itemprop="description" content="{{ $description }}">
  <meta itemprop="thumbnailUrl" content="{{ $thumbnailUrl }}">
  <meta itemprop="contentUrl" content="https://www.youtube.com/watch?v={{ $id }}">
  <meta itemprop="uploadDate" content="{{ $uploadDate }}">
  <lite-youtube videoid="{{ $id }}" videotitle="$title" videoplay="{{ i18n "videoplay" }}" nocookie="{{ $cookie }}" autoload="true" posterloading="lazy" loading="lazy" params="{{ with .Get "autoplay" }}{{ if eq . "true" }}autoplay=1{{ end }}{{ end }}">
    <a href="https://{{ $ytHost }}/watch?v={{ $id }}" class="lite-youtube-fallback" {{ if not $class }}style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;" {{ end }} allowfullscreen loading="lazy" title="{{ $title }}">
      <span class="lyt-visually-hidden">{{ i18n "videoplay" }}</span>
    </a>
  </lite-youtube>
</div>
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": ["VideoObject", "LearningResource"],
    "name": "{{ $title }}",
    "description": "{{ $description }}",
    "thumbnailUrl": ["{{ $thumbnailUrl }}"],
    "contentUrl": "https://www.youtube.com/watch?v={{ $id }}",
    "uploadDate": "{{ $uploadDate }}"
  }
</script>
  

