{{ define "main" }}
{{ template "_internal/google_tag_manager.html" . }}
<main class="base64-encoder-decoder">
  {{ partial "breadcrumbs.html" . }}

  <h1 class="post-title">
    <a title="{{ .Title | markdownify }}" href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
  </h1>
  <p>
    <b>NOTE:</b> Tools on this domain use client-side only JavaScript. This means that we never see, store, or process any of the information ourselves.
  </p>

  <div class="base64-section">
    <h2>Text Encoding/Decoding</h2>
    <textarea id="inputText" rows="5" cols="50" placeholder="Enter text"></textarea><br>
    <div class="button-group">
      <button onclick="encodeText()">Encode Text</button>
      <button onclick="decodeText()">Decode Text</button>
    </div>
    <br>
    <textarea id="outputText" rows="5" cols="50" placeholder="Output text"></textarea>
  </div>

  <div class="base64-section">
    <h2>File Encoding</h2>
    <input type="file" id="fileInput"><br>
    <div class="button-group">
      <button onclick="encodeFile()">Encode File</button>
    </div>
    <br>
    <textarea id="outputFile" rows="5" cols="50" placeholder="Output file"></textarea>
  </div>

  <script>
    function encodeText() {
      var inputText = document.getElementById('inputText').value;
      var encodedText = btoa(inputText);
      document.getElementById('outputText').value = encodedText;

      // Track the event
      try {
        gtag('event', 'text_encode', {
          'event_category': 'Base64 Encoder',
          'event_label': 'Text Encode'
        });
      } catch (error) {
        console.error('Failed to send tracking event:', error);
      }
    }

    function decodeText() {
      var inputText = document.getElementById('inputText').value;
      var decodedText = atob(inputText);
      document.getElementById('outputText').value = decodedText;

      // Track the event
      try {
        gtag('event', 'text_decode', {
          'event_category': 'Base64 Encoder',
          'event_label': 'Text Decode'
        });
      } catch (error) {
        console.error('Failed to send tracking event:', error);
      }
    }

    function encodeFile() {
      var input = document.getElementById('fileInput');
      var file = input.files[0];
      var reader = new FileReader();
      reader.onload = function(e) {
        var encodedFile = btoa(e.target.result);
        document.getElementById('outputFile').value = encodedFile;

        // Track the event
        try {
          gtag('event', 'file_encode', {
            'event_category': 'Base64 Encoder',
            'event_label': 'File Encode'
          });
        } catch (error) {
          console.error('Failed to send tracking event:', error);
        }
      };
      reader.readAsBinaryString(file);
    }

    function decodeFile() {
      var inputText = document.getElementById('fileInput').value;
      var decodedFile = atob(inputText);
      document.getElementById('outputFile').value = decodedFile;

      // Track the event
      try {
        gtag('event', 'file_decode', {
          'event_category': 'Base64 Encoder',
          'event_label': 'File Decode'
        });
      } catch (error) {
        console.error('Failed to send tracking event:', error);
      }
    }
  </script>
  {{ partial "displayads-responsive-horizontal.html" . }}
  <style scoped>
    .base64-section {
      margin-bottom: 20px;
    }
    
    .button-group {
      display: flex;
      justify-content: center;
      gap: 10px;
    }
    
    .button-group button {
      width: 150px;
      background-color: var(--background-secondary);
      color: var(--color);
    }
    </style>
</main>
{{ end }}
