{{ define "main" }}
{{ template "_internal/google_tag_manager.html" . }}
<main class="base64-encoder-decoder">
  {{ partial "breadcrumbs.html" . }}

  <h1 class="post-title">
    <a title="{{ .Title | markdownify }}" href="{{ .Permalink }}"
      >{{ .Title | markdownify }}</a
    >
  </h1>
  <p>
    <b>NOTE:</b> Tools on this domain use client-side only JavaScript. This
    means that we never see, store, or process any of the information ourselves.
  </p>

  <div>
    <h2 class="conversion-title">Binary to Decimal and Hexadecimal</h2>
    <label for="binaryToDecimalHex" class="input-label"
      >Enter a binary number:</label
    >
    <input type="text" id="binaryToDecimalHex" class="conversion-input" />
    <button onclick="convertBinaryToDecimalHex()" class="conversion-button">
      Convert
    </button>
    <br />
    <h3 class="result-title">Result:</h3>
    <p style="background-color: var(--background-color);" id="binaryToDecimalHexResult" class="conversion-result"></p>
  </div>

  <div>
    <h2 class="conversion-title">Decimal to Binary and Hexadecimal</h2>
    <label for="decimalToBinaryHex" class="input-label"
      >Enter a decimal number:</label
    >
    <input type="text" id="decimalToBinaryHex" class="conversion-input" />
    <button onclick="convertDecimalToBinaryHex()" class="conversion-button">
      Convert
    </button>
    <br />
    <h3 class="result-title">Result:</h3>
    <p style="background-color: var(--background-color);" id="decimalToBinaryHexResult" class="conversion-result"></p>
  </div>

  <div>
    <h2 class="conversion-title">Hexadecimal to Binary and Decimal</h2>
    <label for="hexToBinaryDecimal" class="input-label"
      >Enter a hexadecimal number:</label
    >
    <input type="text" id="hexToBinaryDecimal" class="conversion-input" />
    <button onclick="convertHexToBinaryDecimal()" class="conversion-button">
      Convert
    </button>
    <br />
    <h3 class="result-title">Result:</h3>
    <p style="background-color: var(--background-color);" id="hexToBinaryDecimalResult" class="conversion-result"></p>
  </div>

  <script>
    function convertBinaryToDecimalHex() {
      var number = document.getElementById("binaryToDecimalHex").value;

      // Convert to decimal
      var decimal = parseInt(number, 2);
      document.getElementById("binaryToDecimalHexResult").innerHTML =
        "Decimal: " + decimal;

      // Convert to hexadecimal
      var hexadecimal = decimal.toString(16);
      document.getElementById("binaryToDecimalHexResult").innerHTML +=
        "<br />Hexadecimal: " + hexadecimal.toUpperCase();

      // Track event for binary to decimal/hex conversion
      try {
        gtag("event", "conversion", {
          event_category: "Binary Conversion",
          event_label: "Binary to Decimal/Hex",
        });
      } catch (error) {
        console.error("Failed to send tracking event:", error);
      }
    }

    function convertDecimalToBinaryHex() {
      var number = document.getElementById("decimalToBinaryHex").value;

      // Convert to binary
      var binary = parseInt(number, 10).toString(2);
      document.getElementById("decimalToBinaryHexResult").innerHTML =
        "Binary: " + binary;

      // Convert to hexadecimal
      var hexadecimal = parseInt(number, 10).toString(16);
      document.getElementById("decimalToBinaryHexResult").innerHTML +=
        "<br />Hexadecimal: " + hexadecimal.toUpperCase();

      // Track event for decimal to binary/hex conversion
      try {
        gtag("event", "conversion", {
          event_category: "Decimal Conversion",
          event_label: "Decimal to Binary/Hex",
        });
      } catch (error) {
        console.error("Failed to send tracking event:", error);
      }
    }

    function convertHexToBinaryDecimal() {
      var number = document.getElementById("hexToBinaryDecimal").value;

      // Convert to binary
      var binary = parseInt(number, 16).toString(2);
      document.getElementById("hexToBinaryDecimalResult").innerHTML =
        "Binary: " + binary;

      // Convert to decimal
      var decimal = parseInt(number, 16);
      document.getElementById("hexToBinaryDecimalResult").innerHTML +=
        "<br />Decimal: " + decimal;

      // Track event for hexadecimal to binary/decimal conversion
      try {
        gtag("event", "conversion", {
          event_category: "Hexadecimal Conversion",
          event_label: "Hex to Binary/Decimal",
        });
      } catch (error) {
        console.error("Failed to send tracking event:", error);
      }
    }
  </script>

  {{ partial "displayads-responsive-horizontal.html" . }}
  <style scoped>
    /* Styles for the conversion sections */
    .conversion-title {
      font-size: 24px;
      margin-bottom: 10px;
    }

    .input-label {
      font-weight: bold;
      display: block;
      margin-bottom: 5px;
    }

    .conversion-input {
      padding: 5px;
      width: 200px;
      margin-bottom: 10px;
    }

    .conversion-button {
      padding: 5px 10px;
      background-color: var(--background-secondary);
      color: var(--color);
      border: none;
      cursor: pointer;
      display: block;
      margin: 0 auto;
    }

    .conversion-button:hover {
      background-color: #0056b3;
    }

    .result-title {
      margin-top: 20px;
      margin-bottom: 10px;
      font-weight: bold;
    }

    .conversion-result {
      padding: 5px;
      border: 1px solid #ccc;
      background-color: #f5f5f5;
    }
  </style>
</main>
{{ end }}
