{{ define "main" }}
{{ $style := resources.Get "style-append.css" | resources.Minify }}
<link rel="preload" href="{{ $style.Permalink }}" as="style" fetchpriority="low" onload="this.onload=null;this.rel='stylesheet'">
{{ partial "google_tag_manager.html" . }}

<h1>SimeonOnSecurity's CyberSecurity Images</h1>

{{ if .Site.RegularPages }}
<style>
  .image-carousel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 20px auto;
    max-width: 1200px;
  }

  .image-carousel img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
    cursor: pointer;
  }

  .image-carousel img:hover {
    transform: scale(1.05) rotate(3deg);
  }

  .image-carousel img.active {
    width: 500px;
    height: 400px;
    z-index: 2;
  }
</style>

<div class="image-carousel">
  {{ $uniqueImages := slice }}
  {{ range .Site.RegularPages }}
    {{ $coverImage := .Params.cover }}
    {{ $coverAlt := .Params.coverAlt }}
    {{ if and $coverImage (not (in $uniqueImages $coverImage)) }}
      {{ $uniqueImages = $uniqueImages | append $coverImage }}
      <img src="{{ $coverImage | absURL }}" alt="{{ $coverAlt | default "Cybersecurity Image" }}" loading="lazy" fetchpriority="low"/>
    {{ end }}
  {{ end }}
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const images = document.querySelectorAll('.image-carousel img');
    let activeImage = null;

    images.forEach(image => {
      image.addEventListener('click', () => {
        if (activeImage === image) {
          image.classList.remove('active');
          activeImage = null;
        } else {
          if (activeImage) activeImage.classList.remove('active');
          image.classList.add('active');
          activeImage = image;
        }
      });
    });
  });
</script>

{{ else }}
  <p>No images found in the carousel.</p>
{{ end }}
{{ end }}
