{{ define "main" }}
{{ $style := resources.Get "style-append.css" | resources.Minify }}
<link rel="preload" href="{{ $style.Permalink }}" as="style" fetchpriority="low" onload="this.onload=null;this.rel='stylesheet'">

{{ template "_internal/google_tag_manager.html" . }}
<main class="chmod-menu">
  {{ partialCached "breadcrumbs.html" . .Page}}

  <h1 class="post-title">
    <a title="{{ .Title | markdownify }}" href="{{ .Permalink }}">
      {{ .Title | markdownify }}
    </a>
  </h1>
  <p>
    <b>NOTE:</b> Tools on this domain use client-side only JavaScript. This
    means that we never see, store, or process any of the information ourselves.
  </p>

  <div class="menu-container">
    <label for="folder-path">File or Folder Path:</label>
    <input type="text" id="folder-path" />

    <h3>File Permissions:</h3>
    <table>
      <tr>
        <th>Permission</th>
        <th>Octal Number</th>
        <th>Description</th>
      </tr>
      <tr>
        <td><input type="checkbox" value="400" id="read-user" />Read (User)</td>
        <td>4</td>
        <td>Read permission for the owner/user</td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" value="200" id="write-user" />Write (User)
        </td>
        <td>2</td>
        <td>Write permission for the owner/user</td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" value="100" id="execute-user" />Execute (User)
        </td>
        <td>1</td>
        <td>Execute permission for the owner/user</td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" value="40" id="read-group" />Read (Group)
        </td>
        <td>4</td>
        <td>Read permission for the group</td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" value="20" id="write-group" />Write (Group)
        </td>
        <td>2</td>
        <td>Write permission for the group</td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" value="10" id="execute-group" />Execute (Group)
        </td>
        <td>1</td>
        <td>Execute permission for the group</td>
      </tr>
      <tr>
        <td><input type="checkbox" value="4" id="read-other" />Read (Other)</td>
        <td>4</td>
        <td>Read permission for others</td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" value="2" id="write-other" />Write (Other)
        </td>
        <td>2</td>
        <td>Write permission for others</td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" value="1" id="execute-other" />Execute (Other)
        </td>
        <td>1</td>
        <td>Execute permission for others</td>
      </tr>
    </table>

    <h3>Special Bits:</h3>
    <table>
      <tr>
        <th>Bit</th>
        <th>Description</th>
      </tr>
      <tr>
        <td><input type="checkbox" value="4000" id="setuid" />Setuid</td>
        <td>Sets the user ID on execution</td>
      </tr>
      <tr>
        <td><input type="checkbox" value="2000" id="setgid" />Setgid</td>
        <td>Sets the group ID on execution</td>
      </tr>
      <tr>
        <td><input type="checkbox" value="1000" id="sticky" />Sticky</td>
        <td>Restricts deletion of files within a directory</td>
      </tr>
    </table>

    <h3>Options:</h3>
    <table>
      <tr>
        <th>Option</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>
          <input type="checkbox" id="recursive" />
          <label for="recursive">-R</label>
        </td>
        <td>
          Recursively change permissions of directories and their contents
        </td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" id="verbose" /> <label for="verbose">-v</label>
        </td>
        <td>Verbose mode. Display details of the chmod command execution</td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" id="changes" /> <label for="changes">-c</label>
        </td>
        <td>
          Only change permissions if they differ from the current permissions
        </td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" id="silent" /> <label for="silent">-f</label>
        </td>
        <td>Silent mode. Suppress error messages</td>
      </tr>
    </table>

    <button onclick="generateChmodCommand()">Generate chmod Command</button>

    <div id="chmod-command"></div>
  </div>

  <script>
    function yieldToMain(callback) {
      if (typeof callback !== 'function') {
        throw new Error('Callback must be a function.');
      }
    
      // Using requestIdleCallback for idle callback
      if ('requestIdleCallback' in window) {
        window.requestIdleCallback(() => {
          callback();
        });
      } else {
        // Fallback to using setTimeout with a minimal delay if requestIdleCallback is not available
        setTimeout(() => {
          callback();
        }, 0);
      }
    }
    function generateChmodCommand() {
      const folderPath = document.getElementById("folder-path").value.trim();
      const permissions = getSelectedPermissions();
      const options = getSelectedOptions();

      let chmodCommand = "chmod";

      if (options) {
        chmodCommand += ` ${options}`;
      }

      if (permissions === null) {
        console.error("Invalid permissions value:", permissions);
      } else {
        console.log("Permissions value:", permissions);
        chmodCommand += ` ${permissions}`;
      }

      chmodCommand += ` ${folderPath}`;

      document.getElementById("chmod-command").innerText = chmodCommand;

      // Track event for generating chmod command
      function sendTrackingEvent() {      
        try {
          gtag("event", "generate_command", {
            event_category: "Chmod",
            event_label: "Generate Command",
          });
        } catch (error) {
          console.error("Failed to send tracking event:", error);
        }
      }
      yieldToMain(sendTrackingEvent);
    }

    function getSelectedPermissions() {
      const permissionCheckboxes = document.querySelectorAll(
        'input[type="checkbox"][value^="4"], input[type="checkbox"][value^="2"], input[type="checkbox"][value^="1"]'
      );
      let permissions = 0;

      permissionCheckboxes.forEach((checkbox) => {
        if (checkbox.checked) {
          const decimalValue = parseInt(checkbox.value, 10);
          if (!isNaN(decimalValue)) {
            permissions += decimalValue;
            console.log(
              `Interpreting value "${checkbox.value}" as decimal ${decimalValue}`
            );
          } else {
            console.error(`Invalid value: "${checkbox.value}"`);
          }
        }
      });

      console.log(`Permissions value: ${permissions}`);
      return permissions;
    }

    function getSelectedOptions() {
      const options = [];

      const recursiveCheckbox = document.getElementById("recursive");
      const verboseCheckbox = document.getElementById("verbose");
      const changesCheckbox = document.getElementById("changes");
      const silentCheckbox = document.getElementById("silent");

      if (recursiveCheckbox) {
        if (recursiveCheckbox.checked) {
          options.push("-R");
          console.log("Selected option: -R");
        }
      } else {
        console.error("Invalid checkbox: recursive");
      }

      if (verboseCheckbox) {
        if (verboseCheckbox.checked) {
          options.push("-v");
          console.log("Selected option: -v");
        }
      } else {
        console.error("Invalid checkbox: verbose");
      }

      if (changesCheckbox) {
        if (changesCheckbox.checked) {
          options.push("-c");
          console.log("Selected option: -c");
        }
      } else {
        console.error("Invalid checkbox: changes");
      }

      if (silentCheckbox) {
        if (silentCheckbox.checked) {
          options.push("-f");
          console.log("Selected option: -f");
        }
      } else {
        console.error("Invalid checkbox: silent");
      }

      return options.join(" ");
    }
  </script>

  <style scoped>
    .menu-container .menu-container {
      margin-bottom: 20px;
    }

    .menu-container table {
      border-collapse: collapse;
      margin-bottom: 10px;
    }

    .menu-container th,
    .menu-container td {
      padding: 5px;
      border: 1px solid var(--color-secondary);
    }

    .menu-container th {
      background-color: var(--color-secondary);
      font-weight: bold;
    }

    .menu-container button {
      margin-top: 10px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      background-color: var(--background-secondary);
      color: var(--color);
    }

    .menu-container #chmod-command {
      font-family: monospace;
      margin-top: 10px;
      white-space: pre-wrap;
    }
  </style>
  {{ partialCached "cybersentinelsclub.html" . }}
</main>
{{ end }}
