{{ define "main" }}
{{ template "_internal/google_tag_manager.html" . }}
<main>
  {{ partialCached "breadcrumbs.html" . .Page}}

  <h1 class="post-title">
    <a title="{{ .Title | markdownify }}" href="{{ .Permalink }}"
      >{{ .Title | markdownify }}</a
    >
  </h1>

  <p>
    <b>NOTE:</b> Tools on this domain use client-side only javascript. This
    means that we never see, store, or process any if the information ourselves.
  </p>

  <label for="data" class="hash-label">Enter data:</label>
  <textarea id="data" rows="5" cols="50" class="hash-textarea"></textarea>

  <label for="algorithm" class="hash-label">Select hash algorithm:</label>
  <select id="algorithm" class="hash-select">
    <option value="md5">MD5</option>
    <option value="sha1">SHA-1</option>
    <option value="sha256">SHA-256</option>
    <option value="sha512">SHA-512</option>
    <option value="ripemd160">RIPEMD-160</option>
  </select>

  <button onclick="calculateHash()" class="hash-button">Calculate Hash</button>

  <h2 class="hash-heading">Result:</h2>
  <div id="result" class="hash-result"></div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js"></script>
  <script>
    function yieldToMain(callback) {
      if (typeof callback !== 'function') {
        throw new Error('Callback must be a function.');
      }
    
      // Using requestIdleCallback for idle callback
      if ('requestIdleCallback' in window) {
        window.requestIdleCallback(() => {
          callback();
        });
      } else {
        // Fallback to using setTimeout with a minimal delay if requestIdleCallback is not available
        setTimeout(() => {
          callback();
        }, 0);
      }
    }
    function calculateHash() {
      var data = document.getElementById("data").value;
      var algorithm = document.getElementById("algorithm").value;

      var hash = "";

      switch (algorithm) {
        case "md5":
          hash = calculateMD5(data);
          break;
        case "sha1":
          hash = calculateSHA1(data);
          break;
        case "sha256":
          hash = calculateSHA256(data);
          break;
        case "sha512":
          hash = calculateSHA512(data);
          break;
        case "ripemd160":
          hash = calculateRIPEMD160(data);
          break;
        default:
          hash = "Invalid algorithm";
          break;
      }

      document.getElementById("result").innerText = hash;
      document.getElementById("result").style.display = "block";
      // Track event for calculating hash
      function sendTrackingEvent() {      
        try {
          gtag("event", "calculate_hash", {
            event_category: "Hash Calculator",
            event_label: "Calculate Hash",
            value: algorithm,
          });
        } catch (error) {
          console.error("Failed to send tracking event:", error);
        }
      }
      yieldToMain(sendTrackingEvent);
    }

    function calculateMD5(data) {
      var md5Hash = CryptoJS.MD5(data);
      return md5Hash.toString();
    }

    function calculateSHA1(data) {
      var sha1Hash = CryptoJS.SHA1(data);
      return sha1Hash.toString();
    }

    function calculateSHA256(data) {
      var sha256Hash = CryptoJS.SHA256(data);
      return sha256Hash.toString();
    }

    function calculateSHA512(data) {
      var sha512Hash = CryptoJS.SHA512(data);
      return sha512Hash.toString();
    }

    function calculateRIPEMD160(data) {
      var ripemd160Hash = CryptoJS.RIPEMD160(data);
      return ripemd160Hash.toString();
    }
  </script>

  <style>
    .hash-label {
      font-weight: bold;
      display: block;
      margin-bottom: 5px;
    }

    .hash-textarea {
      border: 1px solid #ccc;
      padding: 5px;
    }

    .hash-select {
      padding: 5px;
      border: none;
      cursor: pointer;
    }
    .hash-button {
      padding: 5px;
      background-color: var(--background-secondary);
      color: var(--color);
      border: none;
      cursor: pointer;
    }

    .hash-button {
      margin: 10px auto;
      display: block;
    }

    .hash-heading {
      margin-top: 20px;
    }

    .hash-result {
      border: 1px solid #ccc;
      padding: 10px;
      display: none;
      word-wrap: anywhere;
    }
  </style>
  {{ partialCached "cybersentinelsclub.html" . }}
  {{ partialCached "displayads-responsive-horizontal.html" . }}
</main>
{{ end }}
