{{ define "main" }}
<div class="image-carousel">
  {{ $uniqueImages := slice }}
  
  {{ range .Site.RegularPages }}
    {{ $coverImage := .Params.cover }}
    {{ $coverAlt := .Params.coverAlt }}
    {{ if $coverImage }}
      {{ $isDuplicate := false }}
      {{ range $uniqueImages }}
        {{ if eq $coverImage . }}
          {{ $isDuplicate = true }}
          {{ break }}
        {{ end }}
      {{ end }}
      {{ if not $isDuplicate }}
        {{ $uniqueImages = $uniqueImages | append $coverImage }}
        {{ $imageInfo := $coverImage | resources.GetMatch }}
        {{ $imageWidth := $imageInfo.Width }}
        {{ $imageHeight := $imageInfo.Height }}
        <img src="{{ $coverImage }}" alt="{{ $coverAlt }}" width="{{ $imageWidth }}" height="{{ $imageHeight }}" loading="auto"/>
      {{ end }}
    {{ end }}
  {{ end }}

  {{ if .Site.RegularPages }}
  <style>
    .image-carousel {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .image-carousel img {
      width: 300px;
      height: 200px;
      object-fit: cover;
      margin: 10px;
      border: 2px solid #ddd;
      border-radius: 5px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      transition: transform 0.3s ease;
    }
  
    .image-carousel img:hover {
      transform: scale(1.05) rotate(3deg);
      z-index: 1;
    }
  </style>  
  {{ else }}
    <p>No images found in the carousel.</p>
  {{ end }}
</div>
{{ end }}
