{{ define "main" }}
{{ template "_internal/google_tag_manager.html" . }}
<main class="base64-encoder-decoder">
  {{ partial "breadcrumbs.html" . }}

  <h1 class="post-title">
    <a title="{{ .Title | markdownify }}" href="{{ .Permalink }}"
      >{{ .Title | markdownify }}</a
    >
  </h1>
  <p>
    <b>NOTE:</b> Tools on this domain use client-side only JavaScript. This
    means that we never see, store, or process any of the information ourselves.
  </p>

  <div id="menu" class="generated-code-container">
    <label for="target">Target (IP, Domain, or IP Range):</label>
    <input type="text" id="target" placeholder="Enter target" />

    <label for="ports">Ports (Port or Port Range):</label>
    <input type="text" id="ports" placeholder="Enter ports" />

    <div>
      <p>Tackons:</p>
      <div>
        <input type="checkbox" id="sS" value="-sS" />
        <label for="sS"
          >TCP SYN Scan - This is the default scan type in Nmap. It sends TCP
          SYN packets to determine open ports on target systems.</label
        >
      </div>
      <div>
        <input type="checkbox" id="sT" value="-sT" />
        <label for="sT"
          >TCP Connect Scan - This scan type establishes a full TCP connection
          with the target port. It is more reliable but less stealthy than the
          SYN scan.</label
        >
      </div>
      <div>
        <input type="checkbox" id="sU" value="-sU" />
        <label for="sU"
          >UDP Scan - This option enables Nmap to scan for open UDP ports, which
          are commonly used by services like DNS and DHCP.</label
        >
      </div>
      <div>
        <input type="checkbox" id="p" value="-p" />
        <label for="p"
          >Port Specification - Specify the port(s) to scan. You can define a
          single port, a range of ports, or even use specific port numbers
          separated by commas.</label
        >
      </div>
      <div>
        <input type="checkbox" id="O" value="-O" />
        <label for="O"
          >OS Detection - Nmap attempts to determine the operating system
          running on the target host by analyzing various network
          characteristics and responses.</label
        >
      </div>
      <div>
        <input type="checkbox" id="A" value="-A" />
        <label for="A"
          >Aggressive Scan - Enables OS detection, version detection, script
          scanning, and traceroute, providing a comprehensive scan of the target
          system.</label
        >
      </div>
      <div>
        <input type="checkbox" id="v" value="-v" />
        <label for="v"
          >Verbose Output - Use this option to get more detailed information
          during the scan.</label
        >
      </div>
      <div>
        <input
          type="checkbox"
          id="oN"
          value="-oN"
          onchange="toggleFilePathInput()"
        />
        <label for="oN"
          >Output to File - Specify a filename to save the scan results in
          normal format.</label
        >
      </div>
      <div id="filePathContainer" style="display: none;">
        <label for="filePath">File Path:</label>
        <input type="text" id="filePath" placeholder="Enter file path" />
      </div>
    </div>

    <button onclick="generateCommand()">Generate Command</button>

    <div id="commandOutput"></div>
  </div>

  <script>
    function generateCommand() {
      var target = document.getElementById("target").value;
      var ports = document.getElementById("ports").value;
  
      var tackons = [];
      var tackonCheckboxes = document.querySelectorAll(
        'input[type="checkbox"]:checked'
      );
      for (var i = 0; i < tackonCheckboxes.length; i++) {
        tackons.push(tackonCheckboxes[i].value);
      }
  
      var command = "nmap " + target + " " + tackons.join(" ") + " " + ports;
      document.getElementById("commandOutput").innerText = command;
  
      // Track event for generating command
      try {
        gtag('event', 'generate_command', {
          'event_category': 'Nmap Generator',
          'event_label': 'Generate Command'
        });
      } catch (error) {
        console.error("Failed to send tracking event:", error);
      }
    }
  
    function toggleFilePathInput() {
      var filePathContainer = document.getElementById("filePathContainer");
      var oNCheckbox = document.getElementById("oN");
  
      if (oNCheckbox.checked) {
        filePathContainer.style.display = "block";
      } else {
        filePathContainer.style.display = "none";
      }
    }
  </script>  
  {{ partial "displayads-responsive-horizontal.html" . }}
  <style scoped>
    .generated-code-container p,
    .generated-code-container label,
    .generated-code-container div {
      text-align: left;
    }

    .generated-code-container input[type="checkbox"] {
      vertical-align: middle;
    }

    .generated-code-container button {
      display: block;
      margin: 0 auto;
      background-color: var(--background-secondary);
      color: var(--color);
    }

    .generated-code-container #commandOutput {
      outline: 1px solid var(--color);
    }
  </style>
</main>
{{ end }}
