{{ define "main" }}
{{ template "_internal/google_tag_manager.html" . }}
<main class="ping-tool">
  {{ partialCached "breadcrumbs.html" . .Page}}

  <h1 class="post-title">
    <a title="{{ .Title | markdownify }}" href="{{ .Permalink }}">
      {{ .Title | markdownify }}
    </a>
  </h1>
  <p>
    <b>NOTE:</b> Tools on this domain use client-side only JavaScript. This
    means that we never see, store, or process any of the information ourselves.
  </p>
  <p>
    <b>NOTE:</b> Due to the nature of this tool, being client-side only, it
    doesn't actually use ICMP ping, instead it's using HTTP calls. Latency
    reported may not be accurate.
  </p>
  <div>
    <label for="input-address">Domain or IP Address:</label>
    <input type="text" id="input-address" />
    <center><button onclick="pingAddress()">Ping</button></center>
  </div>
  <table id="ping-results">
    <thead>
      <tr>
        <th>Address</th>
        <th>Latency (ms)</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>

  <script src="/js/ping.js"></script>
  <script>
    function pingAddress() {
      var addressInput = document.getElementById("input-address");
      var address = addressInput.value.trim();
      if (address === "") {
        return;
      }

      ping(address)
        .then(function(delta) {
          var response = {
            address: address,
            latency: delta,
          };
          displayPingResult(response);

          // Track successful ping event
          try {
            gtag("event", "ping_success", {
              event_category: "Ping Tool",
              event_label: address,
            });
          } catch (error) {
            console.error("Failed to send tracking event:", error);
          }
        })
        .catch(function(err) {
          var errorResponse = {
            address: address,
            latency: "Error",
          };
          displayPingResult(errorResponse);
          console.error("Could not ping remote URL", err);

          // Track failed ping event
          try {
            gtag("event", "ping_failure", {
              event_category: "Ping Tool",
              event_label: address,
            });
          } catch (error) {
            console.error("Failed to send tracking event:", error);
          }
        });
    }

    function displayPingResult(response) {
      var tableBody = document.querySelector("#ping-results tbody");
      var newRow = tableBody.insertRow();
      var addressCell = newRow.insertCell();
      addressCell.textContent = response.address;
      var latencyCell = newRow.insertCell();
      latencyCell.textContent = response.latency;
    }
  </script>

  <style scoped>
    .ping-tool button {
      margin-top: 10px;
      background-color: var(--background-secondary);
      color: var(--color);
      align-items: center;
      text-align: center;
    }
  </style>
  {{ partialCached "cybersentinelsclub.html" . }}
  {{ partialCached "displayads-responsive-horizontal.html" . }}
</main>
{{ end }}
