{{ define "main" }}
<main>
  <h1 class="post-title">
    <a title="{{ .Title | markdownify }}" href="{{ .Permalink }}"
      >{{ .Title | markdownify }}</a
    >
  </h1>

  <div class="search-form">
    <form action="/search" method="GET">
      <div class="search-box">
        <input
          type="search"
          name="q"
          id="search-query"
          placeholder="Search..."
        />
        <button type="submit" aria-label="Search">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <circle cx="11" cy="11" r="8" />
            <line x1="21" y1="21" x2="16.65" y2="16.65" />
          </svg>
        </button>
      </div>
    </form>
  </div>

  <div id="search-results"></div>
  <div class="search-loading"></div>

  <script id="search-result-template" type="text/x-js-template">
        <div class="posts">
        <article class="post on-list">
        <div id="summary-${key}">
            <h2 class="post-title"><a href="${link}" style="color: var(--link-color);">${title}</a></h3>
            <div class="post-meta"></div>
            <div class="post-content">
            <a style="color: var(--text-secondary);"> Description: ${snippet} </a>
            </div>
            <span class="post-tags">
            <p>
                <small>
                    ${ isset tags }Tags: ${tags}<br>${ end }
                </small>
            </p>
            <div>
        </div>
    </article>
    </div>
  </script>

  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/6.6.2/fuse.min.js"
    integrity="sha512-Nqw1tH3mpavka9cQCc5zWWEZNfIPdOYyQFjlV1NvflEtQ0/XI6ZQ+H/D3YgJdqSUJlMLAPRj/oXlaHCFbFCjoQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>

  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/mark.min.js"
    integrity="sha512-5CYOlHXGh6QpOFA/TeTylKLWfB3ftPsde7AnmhuitiTX4K5SqCLBeKro6sPS8ilsz1Q4NRx3v8Ko2IBiszzdww=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>

  {{ partial "displayads-responsive-horizontal.html" . }}
</main>
{{ end }}
