{{ define "main" }} {{ template "_internal/google_tag_manager.html" . }}
<main class="">
  {{ partialCached "breadcrumbs.html" . .Page }}
  <div
    style="width=100%; max-height:360px; min-height:100px; margin: 20px; align-self: center;"
  >
    {{ partialCached "displayads-responsive-horizontal.html" . }}
  </div>
  <h1 class="post-title">
    <a title="{{ .Title | markdownify }}" href="{{ .Permalink }}"
      >{{ .Title | markdownify }}</a
    >
  </h1>
  <p>
    <b>NOTE:</b> Tools on this domain use client-side only JavaScript. This
    means that we never see, store, or process any of the information ourselves.
  </p>
  <p>
    <b>NOTE:</b> Due to this, any website with hardened CORS policies will not
    be accessible using this tool. For more detailed results, please use
    <a href="https://securityheaders.com">securityheaders.com</a>.
  </p>

  <div style="text-align: center;">
    <h2>Security Headers Check</h2>
    <div style="display: flex; align-items: center; justify-content: center">
      <label for="websiteInput">Enter website URL:</label>
      <input
        type="text"
        id="websiteInput"
        placeholder="https://example.com"
        style="
        padding: 8px;
        border: 1px solid var(--background-secondary);
        border-radius: 4px;
        margin-left: 5px;
        width: 300px;
        caret-color: black;
      "
      />
      <button
        style="padding: 10px; color: var(--color); margin: 10px;"
        onclick="checkHeaders()"
      >
        Check Headers
      </button>
    </div>

    <table id="headersTable" style="max-width: 1200px; margin: 0 auto;">
      <thead>
        <tr>
          <th>Header</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>

  <style>
    /* Basic styling for the table */
    #headersTable {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
      /* Hide the table by default */
      display: none;
    }

    #headersTable th,
    #headersTable td {
      border: 1px solid var(--background-secondary);
      padding: 8px;
      text-align: left;
    }

    #headersTable th {
      background-color: var(--background-secondary);
    }
  </style>

  <script>
    function yieldToMain(callback) {
      if (typeof callback !== 'function') {
        throw new Error('Callback must be a function.');
      }
    
      // Using requestIdleCallback for idle callback
      if ('requestIdleCallback' in window) {
        window.requestIdleCallback(() => {
          callback();
        });
      } else {
        // Fallback to using setTimeout with a minimal delay if requestIdleCallback is not available
        setTimeout(() => {
          callback();
        }, 0);
      }
    }
    async function checkHeaders() {
      const websiteUrl = document.getElementById("websiteInput").value;
      const headersTableBody = document.querySelector("#headersTable tbody");

      // Clear previous table data
      headersTableBody.innerHTML = "";

      try {
        const response = await fetch(websiteUrl, {
          method: "HEAD",
          mode: "cors",
        });

        if (!response.ok) {
          // If the initial CORS request fails, try a non-CORS request method
          try {
            const nonCorsResponse = await fetch(
              "https://cors-anywhere.herokuapp.com/" + websiteUrl,
              {
                method: "HEAD",
              }
            );

            if (!nonCorsResponse.ok) {
              throw new Error("Network response was not ok.");
            }

            displayHeaders(nonCorsResponse.headers);
          } catch (error) {
            handleCORSFailure();
          }
        } else {
          displayHeaders(response.headers);
        }
      } catch (error) {
        // Handle error when both CORS and non-CORS requests fail
        handleCORSFailure();
      }
      function sendTrackingEvent() {      
        try {
          gtag("event", "ping_failure", {
            event_category: "Security Headers Tool",
            event_label: "Headers Checked",
          });
        } catch (error) {
          console.error("Failed to send tracking event:", error);
        }
      }
      yieldToMain(sendTrackingEvent);
    }

    function displayHeaders(headers) {
      const headersTableBody = document.querySelector("#headersTable tbody");
      for (const [header, value] of headers.entries()) {
        const row = document.createElement("tr");
        const headerCell = document.createElement("td");
        const valueCell = document.createElement("td");

        headerCell.textContent = header;
        valueCell.textContent = value;

        // Highlight CSP and HSTS headers if they exist
        if (
          header.toLowerCase() === "content-security-policy" ||
          header.toLowerCase() === "strict-transport-security"
        ) {
          headerCell.style.fontWeight = "bold";
          valueCell.style.fontWeight = "bold";
        }

        row.appendChild(headerCell);
        row.appendChild(valueCell);

        headersTableBody.appendChild(row);
      }

      // Show the table headers and data after the script completes
      const headersTable = document.getElementById("headersTable");
      headersTable.style.display = "table"; // Show the table
    }

    function handleCORSFailure() {
      const headersTableBody = document.querySelector("#headersTable tbody");
      const row = document.createElement("tr");
      const cell = document.createElement("td");
      cell.setAttribute("colspan", "2");

      // Create an anchor element for the hyperlink
      const anchor = document.createElement("a");
      anchor.href = "https://securityheaders.com";
      anchor.textContent = "securityheaders.com";

      // Append the hyperlink to the error message
      cell.innerHTML =
        "Website has a hardened CORS policy, unable to request client-side. Please use " +
        anchor.outerHTML +
        " for more details.";

      row.appendChild(cell);
      headersTableBody.appendChild(row);

      // Show the table headers and data after the script completes (in case of CORS failure)
      const headersTable = document.getElementById("headersTable");
      headersTable.style.display = "table"; // Show the table
    }
  </script>
  <div
    style="width:100%; max-height:360px; min-height:100px; margin: 20px; align-self: center;"
  >
    {{ partialCached "cybersentinelsclub.html" . }}
    {{ partialCached "displayads-responsive-horizontal.html" . }}
  </div>
</main>
{{ end }}
