{{ define "main" }}
{{ template "_internal/google_tag_manager.html" . }}

<main class="security-plus-quiz">
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": [
        {{- range $index, $faq := (getJSON "static/quiz-dicts/secplusdict.json") }}
        {
          "@type": "Question",
          "name": "Question {{ add $index 1 }}: {{ $faq.question }}",
          "acceptedAnswer": {
            "@type": "Answer",
            "text": "{{ $faq.reasoning }}"
          }
        },
        {{- end }}
      ]
    }
  </script> 
  {{ partial "breadcrumbs.html" . }}

  <h1 class="post-title">
    <a title="{{ .Title | markdownify }}" href="{{ .Permalink }}"
      >{{ .Title | markdownify }}</a
    >
  </h1>

  {{ partial "displayads-responsive-horizontal.html" . }}

  <div id="quiz-container">
    <h2 id="question"></h2>
    <div id="answers"></div>
    <button id="submit-button">Submit</button>
    <p id="reasoning"></p>
    <p id="correct-answer"></p>
    <button
      id="continue-button"
      style="display: none;"
      onclick="continueToNextQuestion()"
    >
      Continue
    </button>
  </div>

  <style>
    #quiz-container {
      justify-content: center;
      text-align: center;
    }

    #reasoning {
      word-wrap: break-word;
      max-width: 60%;
      margin: 0 auto;
      text-align: center;
    }

    #answers {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      text-align: left;
      margin: 0 auto; /* Center the answers horizontally */
    }

    #answers > div {
      display: flex; /* Display each answer and selection bubble as a flex container */
      align-items: center; /* Align the answer and selection bubble vertically */
      justify-content: flex-start; /* Align the answer text to the left */
    }

    #answers input[type="radio"] {
      margin-right: 8px; /* Add some spacing between the selection bubble and the answer text */
    }

    #submit-button {
      display: block;
      margin: 0 auto;
      background-color: var(--background-secondary);
      color: var(--color);
    }

    #continue-button {
      display: block;
      margin: 0 auto;
      background-color: var(--background-secondary);
      color: var(--color);
    }

    .hidden {
      display: none;
    }
  </style>

  <script>
    // Fetch the secplusdict JSON data from the URL
    fetch("https://simeononsecurity.ch/quiz-dicts/secplusdict.json")
      .then(function(response) {
        if (!response.ok) {
          throw new Error("Network response was not OK");
        }
        return response.json();
      })
      .then(function(secplusdict) {
        console.log("secplusdict:", secplusdict);
  
        // Once the JSON data is fetched, proceed with the quiz logic
        var currentQuestionIndex = 0;
        var score = {
          correct: 0,
          incorrect: 0,
        };
  
        // Shuffle the secplusdict array to randomize the questions
        secplusdict = shuffle(secplusdict);
  
        // Function to shuffle an array using the Fisher-Yates algorithm
        function shuffle(array) {
          var currentIndex = array.length,
            temporaryValue,
            randomIndex;
  
          // While there remain elements to shuffle
          while (currentIndex !== 0) {
            // Pick a remaining element
            randomIndex = Math.floor(Math.random() * currentIndex);
            currentIndex -= 1;
  
            // Swap it with the current element
            temporaryValue = array[currentIndex];
            array[currentIndex] = array[randomIndex];
            array[randomIndex] = temporaryValue;
          }
  
          return array;
        }
  
        // Function to display the current question and its answers
        function displayQuestion() {
          var questionElement = document.getElementById("question");
          var answersElement = document.getElementById("answers");
  
          // Validate required elements
          if (!questionElement || !answersElement) {
            console.log("Missing question or answers element");
            return;
          }
  
          // Clear previous question and answers
          questionElement.innerHTML = "";
          answersElement.innerHTML = "";
  
          // Get the current question object
          var currentQuestion = secplusdict[currentQuestionIndex];
  
          console.log("currentQuestion:", currentQuestion);
  
          // Display the question
          questionElement.innerHTML = currentQuestion.question;
  
          // Display the answers
          for (var answerKey in currentQuestion.answers) {
            var answerText = currentQuestion.answers[answerKey];
            var answerElement = document.createElement("div");
            answerElement.innerHTML =
              '<input type="radio" name="answer" value="' +
              answerKey +
              '"> ' +
              answerText;
            answersElement.appendChild(answerElement);
          }
        }
  
        // Function to handle the submission of an answer
        function submitAnswer() {
          var selectedAnswer = document.querySelector('input[name="answer"]:checked');
  
          if (selectedAnswer) {
            var selectedAnswerValue = selectedAnswer.value;
            // Track event for answering a question
            try {
              gtag('event', 'quiz_answered', {
                'event_category': 'Security Plus Quiz',
                'event_label': 'Answered Question'
              });
            } catch (error) {
              console.error("Failed to send tracking event:", error);
            }

            // Check if the answer is correct
            var currentQuestion = secplusdict[currentQuestionIndex];
            var correctAnswer = currentQuestion.correctanswer;
            var reasoning = currentQuestion.reasoning;
  
            if (selectedAnswerValue === correctAnswer) {
              // Track event for correct answer
              try {
                gtag('event', 'quiz_answered', {
                  'event_category': 'Security Plus Quiz',
                  'event_label': 'Correct Answer'
                });
              } catch (error) {
                console.error("Failed to send tracking event:", error);
              }
              score.correct++;
              // Move to the next question
              currentQuestionIndex++;
              // Check if the quiz is finished
              if (currentQuestionIndex === secplusdict.length) {
                // Display the final score
                var quizContainer = document.getElementById("quiz-container");
                if (!quizContainer) {
                  console.log("Missing quiz container element");
                  return;
                }
                // Track event for quiz completion
                try {
                  gtag('event', 'quiz_completed', {
                    'event_category': 'Security Plus Quiz',
                    'event_label': 'Quiz Completed'
                  });
                } catch (error) {
                  console.error("Failed to send tracking event:", error);
                }
                quizContainer.innerHTML =
                  "<h2>Quiz Finished!</h2>" +
                  "<p>Correct Answers: " +
                  score.correct +
                  "</p>" +
                  "<p>Incorrect Answers: " +
                  score.incorrect +
                  "</p>";
              } else {
                // Display the next question
                displayQuestion();
              }
            } else {
              // Track event for incorrect answer
              try {
                gtag('event', 'quiz_answered', {
                  'event_category': 'Security Plus Quiz',
                  'event_label': 'Incorrect Answer'
                });
              } catch (error) {
                console.error("Failed to send tracking event:", error);
              }
              score.incorrect++;
              showReasoningAndAnswer(reasoning, currentQuestion.answers[correctAnswer]);
              hideAnswersAndSubmitButton();
            }
          }
        }
  
        // Function to show the reasoning, correct answer, and continue button
        function showReasoningAndAnswer(reasoning, correctAnswer) {
          var reasoningElement = document.getElementById("reasoning");
          var correctAnswerElement = document.getElementById("correct-answer");
          var continueButton = document.getElementById("continue-button");
  
          reasoningElement.innerHTML = reasoning;
          correctAnswerElement.innerHTML = "Correct answer: " + correctAnswer;
  
          reasoningElement.style.display = "block";
          correctAnswerElement.style.display = "block";
          continueButton.style.display = "block";
        }
  
        // Function to hide the answers and submit button
        function hideAnswersAndSubmitButton() {
          var answersElement = document.getElementById("answers");
          var submitButton = document.getElementById("submit-button");
  
          answersElement.style.display = "none";
          submitButton.style.display = "none";
        }
  
        // Function to handle the click event of the Continue button
        function continueToNextQuestion() {
          // Hide the reasoning and correct answer
          var reasoningElement = document.getElementById("reasoning");
          var correctAnswerElement = document.getElementById("correct-answer");
  
          reasoningElement.style.display = "none";
          correctAnswerElement.style.display = "none";
  
          // Hide the Continue button
          var continueButton = document.getElementById("continue-button");
          continueButton.style.display = "none";
  
          // Move to the next question
          currentQuestionIndex++;
  
          // Check if the quiz is finished
          if (currentQuestionIndex === secplusdict.length) {
            // Display the final score
            var quizContainer = document.getElementById("quiz-container");
            if (!quizContainer) {
              console.log("Missing quiz container element");
              return;
            }
            // Track event for quiz completion
            try {
              gtag('event', 'quiz_completed', {
                'event_category': 'Network Plus Quiz',
                'event_label': 'Quiz Completed'
              });
            } catch (error) {
              console.error("Failed to send tracking event:", error);
            }
            quizContainer.innerHTML =
              "<h2>Quiz Finished!</h2>" +
              "<p>Correct Answers: " +
              score.correct +
              "</p>" +
              "<p>Incorrect Answers: " +
              score.incorrect +
              "</p>";
          } else {
            // Display the next question
            displayQuestion();
  
            // Show the answers and submit button
            var answersElement = document.getElementById("answers");
            var submitButton = document.getElementById("submit-button");
  
            answersElement.style.display = "block";
            submitButton.style.display = "block";
          }
        }
  
        // Display the first question
        displayQuestion();
  
        // Add event listener to the submit button
        var submitButton = document.getElementById("submit-button");
        if (submitButton) {
          submitButton.addEventListener("click", submitAnswer);
        } else {
          console.log("Missing submit button element");
        }
  
        // Add event listener to the continue button
        var continueButton = document.getElementById("continue-button");
        if (continueButton) {
          continueButton.addEventListener("click", continueToNextQuestion);
        } else {
          console.log("Missing continue button element");
        }
      })
      .catch(function(error) {
        console.log("Error fetching secplusdict:", error);
      });
  </script>
  {{ partial "displayads-responsive-horizontal.html" . }}
</main>
{{ end }}
