{{ define "main" }}

<main class="base64-encoder-decoder">
  {{ partial "breadcrumbs.html" . }}

  <h1 class="post-title">
    <a title="{{ .Title | markdownify }}" href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
  </h1>
  <p>
    <b>NOTE:</b> Tools on this domain use client-side only JavaScript. This means that we never see, store, or process any of the information ourselves.
  </p>

  <div class="base64-section">
    <h2>Shodan IP Lookup</h2>
    <center><input type="text" id="ipInput" placeholder="Enter IP Address"></center>
    <center><button onclick="handleShodanIP()">Lookup</button></center>
    <table id="resultTable" style="display: none;"></table>
    <p id="resultMessage"></p>
  </div>

  <script>
    function isValidIP(ip) {
      const regex = /^(\d{1,3})\.(\d{1,3})\.(\d{1,3})\.(\d{1,3})$/;
      const match = ip.match(regex);
      return match && match.every(n => parseInt(n, 10) >= 0 && parseInt(n, 10) <= 255);
    }

    async function handleShodanIP() {
      const ipInput = document.getElementById('ipInput');
      const resultTable = document.getElementById('resultTable');
      const resultMessage = document.getElementById('resultMessage');

      const ip = ipInput.value.trim();
      if (isValidIP(ip)) {
        try {
          const response = await fetch("https://internetdb.shodan.io/" + ip);
          const shodanJson = await response.json();

          if (shodanJson.detail && shodanJson.detail === "No information available") {
            resultMessage.textContent = "Error: No information available for this IP address.";
            resultTable.style.display = "none";
          } else {
            const DESCRIPTION = "Shodan InternetDB Results For " + ip;
            const fields = [
              { name: "Hostnames", value: shodanJson.hostnames, inline: false },
              { name: "Open Ports", value: shodanJson.ports, inline: false },
              { name: "Tags", value: shodanJson.tags, inline: false },
              { name: "CPEs", value: shodanJson.cpes, inline: false },
              { name: "Vulns", value: shodanJson.vulns, inline: false }
            ];

            // Generate the table rows
            let tableRows = '';
            fields.forEach(field => {
              const row = `<tr><td>${field.name}</td><td>${field.value}</td></tr>`;
              tableRows += row;
            });

            // Set the table content and display it
            resultTable.innerHTML = tableRows;
            resultTable.style.display = "table";
            resultMessage.textContent = "";
          }
        } catch (error) {
          resultMessage.textContent = "Error: Failed to retrieve Shodan information.";
          resultTable.style.display = "none";
        }
      } else {
        resultMessage.textContent = "Error: Invalid IP Address.";
        resultTable.style.display = "none";
      }
    }
  </script>

  {{ partial "displayads-responsive-horizontal.html" . }}

  <style scoped>
    .base64-section {
      margin-bottom: 20px;
    }
  
    .base64-section input[type="text"],
    .base64-section button {
      margin-top: 10px;
    }
  
    .base64-section button {
      background-color: var(--background-secondary);
      color: var(--color);
    }
  
    #resultMessage {
      margin-top: 10px;
    }
  
    #resultTable {
      margin-top: 10px;
      border-collapse: collapse;
    }
  
    #resultTable td {
      padding: 5px;
      border: 1px solid #ddd;
    }
  </style>
    
</main>
{{ end }}
