{{ define "main" }}
{{ $style := resources.Get "style-append.css" | resources.Minify }}
<link rel="preload" href="{{ $style.Permalink }}" as="style" fetchpriority="low" onload="this.onload=null;this.rel='stylesheet'">

{{ template "_internal/google_tag_manager.html" . }}
<main class="ip-tool">
  {{ partialCached "breadcrumbs.html" . .Page}}

  <h1 class="post-title">
    <a title="{{ .Title | markdownify }}" href="{{ .Permalink }}">
      {{ .Title | markdownify }}
    </a>
  </h1>
  <p>
    <b>NOTE:</b> Tools on this domain use client-side only JavaScript. This
    means that we never see, store, or process any of the information ourselves.
  </p>
  <div>
    <p>Your Public IP Address:</p>
    <p id="public-ip"></p>
  </div>
  <script>
    // Function to get the public IP address
    async function getPublicIP() {
      try {
        const response = await fetch('https://api64.ipify.org?format=json');
        const data = await response.json();
        return data.ip;
      } catch (error) {
        console.error('Error fetching IP address:', error);
        return 'Error fetching IP address';
      }
    }

    // Display the public IP address on the page
    async function displayPublicIP() {
      const publicIP = await getPublicIP();
      const publicIPElement = document.getElementById('public-ip');
      publicIPElement.textContent = publicIP;
    }

    // Call the function to display the public IP address
    displayPublicIP();
  </script>

  <style scoped>
    /* Add your custom styles here if needed */
  </style>
  {{ partialCached "cybersentinelsclub.html" . }}
  {{ partialCached "displayads-responsive-horizontal.html" . }}
</main>
{{ end }}
